# -*- mode: gitignore; -*-
*~
\#*\#
.\#*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# environment file
.env

TODO*

deploy/*.log
deploy/*.retry
deploy/.vagrant
deploy/inventory.ansible

# This will hold user settings and shouldn't be checked in
deploy/vault_user.yml
