# -*- mode: gitignore; -*-
*~
\#*\#
.\#*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# environment file
.env

TODO*

# dev database
*.sqlite*

.azure
deploy/*.log
deploy/*.retry
deploy/.vagrant
deploy/inventory.ansible
deploy/db.sql*
deploy/db.dump*
deploy/*_secrets.json
deploy/processed*.json

# This will hold user settings and shouldn't be checked in
deploy/vault_user.yml
