# Sample env settings for django
# Copy to .env and edit as needed.

#DJANGO_LOG_LEVEL=DEBUG

# Used for SMS and email callbacks and links:
DJANGO_HOSTNAME='localhost'

DJANGO_DEBUG=True
DJANGO_SECRET_KEY='GENERATE_SOMETHING_HERE'
DJANGO_ALLOWED_HOST='localhost'

DJANGO_DB_USE_SQLITE=True
DJANGO_DB_NAME=bnet.sqlite3
DJANGO_DB_USER=
DJANGO_DB_PASS=
DJANGO_DB_HOST=127.0.0.1


DJANGO_SETTINGS_MODULE=bamru_net.settings

DJANGO_STATIC_ROOT=static
MEDIA_ROOT=media
WIKI_URL='https://example.com/'

#MESSAGE_FILE_PATH=/tmp/message_log
LOG_ROOT=/tmp
USE_RAVEN=0
RAVEN_DSN=''
JAVASCRIPT_DSN=''
TWILIO_SMS_FROM=''
TWILIO_ACCOUNT_SID=''
TWILIO_AUTH_TOKEN=''

TWILIO_TEST_ACCOUNT_SID=''
TWILIO_TEST_AUTH_TOKEN=''

MAILGUN_WEBHOOK_SECRET=''
MAILGUN_WEBHOOK_SIGNING_KEY=''
MAILGUN_API_KEY=''
MAILGUN_EMAIL_FROM=''

# GOOGLE_CREDENTIALS_FILE='.json'
GOOGLE_CALENDAR_ID=''

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = ''
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = ''

OTEL_EXPORTER_OTLP_ENDPOINT="https://api.honeycomb.io/"
OTEL_EXPORTER_OTLP_HEADERS="x-honeycomb-team=YOUR_API_KEY"
OTEL_SERVICE_NAME="bamrunet-django"
