#!/bin/bash

# exit on error
set -e

# load virtual environment for pip
source {{ venv_path }}/bin/activate


{% if update_database %}
  # clean migration
  rm -f */migrations/00*
  ./manage.py makemigrations
  ./manage.py migrate
  ./manage.py creatersakey

  # import and clean up database
  python manage.py dbshell < ../data/bnet.sql
  python manage.py dbshell < import.sql
  echo "update main_member set is_staff=TRUE, is_superuser=TRUE where id in (367, 559);" | python manage.py dbshell
  python manage.py sqlsequencereset main | python manage.py dbshell
  python manage.py sqlsequencereset message | python manage.py dbshell
{% else %}
  # migrate from previous version
  ./manage.py makemigrations
  ./manage.py migrate
{% endif %}

# Collect static files for webserver
python manage.py collectstatic --clear --noinput
