# Used for SMS and email callbacks and links:
export DJANGO_HOSTNAME={{ django_hostname }}

export WIKI_URL={{ wiki_url }}

export DJANGO_DEBUG={{ django_debug }}
export DJANGO_SECRET_KEY='{{ django_secret_key}}'
export DJANGO_ALLOWED_HOST={{ django_allowed_host }}
export DJANGO_STATIC_ROOT={{ django_static_root }}
export DJANGO_DB_NAME={{ db_name }}
export DJANGO_DB_USER={{ db_user }}
export DJANGO_DB_PASS={{ db_pass }}
export DJANGO_DB_HOST={{ db_host }}

export MEDIA_ROOT={{ media_root }}

# set this to use file instead of servers
{% if use_message_file %}
export MESSAGE_FILE_PATH=/home/{{ app_user }}/logs/message
{% endif %}
export LOG_ROOT=/home/{{ app_user }}/logs

{% if use_raven %}
export USE_RAVEN=True
export RAVEN_DSN='{{ raven_dsn }}'
export JAVASCRIPT_DSN='{{ javascript_dsn }}'
{% endif %}

export TWILIO_ACCOUNT_SID={{ twilio_account_sid }}
export TWILIO_AUTH_TOKEN={{ twilio_auth_token }}
export TWILIO_SMS_FROM='{{ twilio_sms_from }}'

export MAILGUN_WEBHOOK_SECRET='{{ mailgun_webhook_secret }}'
export MAILGUN_API_KEY='{{ mailgun_api_key }}'
export MAILGUN_EMAIL_FROM='{{ mailgun_email_from }}'

export GOOGLE_CREDENTIALS_FILE='/home/{{ app_user }}/google-credentials.json'
export GOOGLE_CALENDAR_ID='{{ google_calendar_id }}'

export CELERY_BROKER_URL='{{ celery_broker_url }}'

# TODO: wire this up
export WIKI_BASE_URL=''
export WIKI_SSH_DEST=''
export WIKI_SSH_KEY=''
export WIKI_AUTH_DIR=''
