#!/usr/bin/env bash
set -e

# Dropbox configuration variables
DROPBOX_FOLDER="duplicity"
export DPBX_ACCESS_TOKEN="{{ dpbx_access_token }}"
export PASSPHRASE="{{ dpbx_passphrase }}"

ROOT_FOLDER=/home/{{ app_user }}
# Folder to backup:
LOCAL_FOLDER=${ROOT_FOLDER}/backup

set -a

# Remove files older than 60 days from Dropbox
duplicity remove-older-than 60D --force dpbx://${DROPBOX_FOLDER}
# Sync everything to Dropbox
duplicity --include=${ROOT_FOLDER}/backup --include=${ROOT_FOLDER}/logs --include=${ROOT_FOLDER}/old_logs --include=${ROOT_FOLDER}/system --exclude='**' ${ROOT_FOLDER} dpbx://${DROPBOX_FOLDER}
# Cleanup failures
duplicity cleanup --force dpbx://${DROPBOX_FOLDER}

unset DPBX_ACCESS_TOKEN
unset PASSPHRASE
