#!/usr/bin/env bash
set -e

REMOTE_DIR={{ gdrive_remote_dir }}
RCLONE="/usr/local/bin/rclone --config /home/{{ app_user }}/.rclone.conf"

function rclone_copy {
    ${RCLONE} copy /home/{{ app_user }}/$1 gdrive:${REMOTE_DIR}/$1
}

{
    rclone_copy old_logs && \
    rclone_copy system && \
    wget -q {{ gdrive_backup_status_webhook }} -O /dev/null
} >> /var/log/backup.log 2>&1
