{% extends 'base_table.html' %}

{% block js %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $('#dTbl').DataTable( {
      "responsive": true,
      "paging":   false,
       "info":     false,
      "order": [[ 2, "desc" ]],
      columnDefs: [
        { width: "35%", targets: 0 },
        { width: "30%", targets: 1 },
        { width: "15%", targets: 2 },
        { width: "5%", targets: 3 },
        { width: "15%", targets: 3 },
        { type: "string", targets: 3 },
        { responsivePriority: 0, targets: 0 },
        { responsivePriority: 1, targets: 4 },
        { responsivePriority: 2, targets: 1 },
        { responsivePriority: 3, targets: 3 }
        ]
      });
    });
  </script>
{% endblock %}

{% block content %}
<main>
  {% if message_list %}
  <table id="dTbl" class="display table-bordered" nowrap style="width:100%">
    <thead>
      <tr>
        <th>Text</th><th>From</th><th>Sent at</th><th>Type</th><th>Event</th>
      </tr>
    </thead>

    <tbody>
      {% for message in message_list %}
      <tr>
        <td><a href="{% url 'message:message_detail' message.id %}">{{ message.text }}</a></td>
        <td>{{ message.author }}</td>
        <td data-sort="{{ event.created_order }}">{{ message.created_at }}</td>
        <td>{{ message.format }}</td>
        <td>
          {% if message.period %}
          <a href="{% url 'event_detail' message.period.event.pk %}">{{ message.period.event }}</a>
          {% else %}
          {{ message.period.event }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  {% else %}
  <p>No messages are available.</p>
  {% endif %}
 </div>
</main>
{% endblock %}
