{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="https://use.fontawesome.com/5fb07bfd2c.js"></script>
    <script src="https://cdn.fontawesome.com:443/js/stats.js"></script>
    <link href="https://use.fontawesome.com/5fb07bfd2c.css"
          media="all" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
         href="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.css"/>

    <title>{% block title %}BAMRU.net{% endblock %}</title>
</head>


<body>
  {% include 'navbar.html' %}
  {% block subheader %}{% endblock %}
  {% bootstrap_messages %}

  <main>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </main><!-- /.container -->

{% bootstrap_javascript jquery="slim" %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script> 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.js"></script>

</body>
</html>
