{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <title>{% block title %}BAMRU.net{% endblock %}</title>
</head>


<body>
{% include 'navbar.html' %}
{% bootstrap_messages %}

  <main role="main" class="container">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </main><!-- /.container -->

{% bootstrap_javascript jquery="slim" %}

</body>
</html>
