{% extends 'base_table.html' %}

{% block subheader %}
  <a class="navbar-brand" href="#">
    <i class="fa fa-chevron-right"></i>
    {% block do_title %}{% endblock %} {{ year }} - Quarter {{ quarter }}
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" href="{{ request.path }}{{ query_prev }}">
        &lt;&lt;Prev&lt;&lt;</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="{% url 'do_index' %}{{ query_this }}">
        [DO List Q{{quarter}}]</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="{% url 'do_plan' %}{{ query_this }}">
        [Plan Q{{quarter}}]</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="{% url 'do_form' %}{{ query_this }}">
        [Edit my Q{{quarter}} availability]</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="{{ request.path }}{{ query_next }}">
        &gt;&gt;Next&gt;&gt;</a>
    </li>
  </ul>
{% endblock %}
