{% extends 'base_table.html' %}

{% block content %}
<main>
  {% if event_list %}
  <table id="dTbl" class="display table-bordered" nowrap style="width:100%">
    <thead>
      <tr>
        <th>Title</th><th>Location</th><th>Type</th><th>Leaders</th><th>Start</th>
      </tr>
    </thead>

    <tbody>
      {% for event in event_list %}
      <tr>
        <td><a href="{% url 'event_detail' event.id %}">{{ event.display_title }}</a></td>
        <td>{{ event.display_location }}</td>
        <td>{{ event.typ }}</td>
        <td>{{ event.leaders }}</td>
        <td data-sort="{{ event.start_order }}">{{ event.display_start }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  {% else %}
  <p>No events are available.</p>
  {% endif %}
 </div>
</main>
{% endblock %}

{% block subheader %}
  <a class="navbar-brand" href="#">
    <i class="fa fa-chevron-right"></i>Events
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link">"[sub action 1]"</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link">"[sub action 2]"</a>
    </li>
  </ul>
{% endblock %}

{# - title ||= "Title" #}
{#    - if "all" == "#{@view}" #}
{#      = event_summary_stats #}
