{% extends 'base_generic.html' %}

{% block content %}
<main role="main" class="container">
  <div id="content">
    <h2>Event: {{ event.title}}</h2>
    <p><a href="{% url 'event_update' event.id %}">Edit</a></p>
    <p>{{ event.type }}</p>
    <p>{{ event.description }}</p>
    <p>{{ event.location }}</p>
    <p>{{ event.leaders }}</p>

    {% for period in event.period_set.all %}
    <h3>OP {{period.position}}</h3>
    <p><a href="{% url 'message:message_add' %}?period={{ period.id }}&period_format=invite">Page team to invite</a></p>
    <p><a href="{% url 'event_participant_add' period.id %}">Add participant</a></p>
    <p><a href="{% url 'message:message_add' %}?period={{ period.id }}&period_format=leave">Page leave</a></p>
    <p><a href="{% url 'message:message_add' %}?period={{ period.id }}&period_format=return">Page return</a></p>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>En route at</th>
        <th>Return at</th>
        <th></th>
      </tr>
      {% for participant in period.participant_set.all %}
      <tr>
        <td>{{ participant.member }}</td>
        <td>{{ participant.en_route_at }}</td>
	<td>{{ participant.return_home_at  }}</td>
        <td><a href="{% url 'event_participant_delete' event=event.id pk=participant.id %}">
            delete
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </div>
</main><!-- /.container -->
{% endblock %}
