{% extends 'base_table.html' %}

{% block content %}
<main>
  {% if member_list %}
  <table id="dTbl" class="display table-bordered nowrap" style="width:100%">
    <thead>
      <tr>
        <th>Name</th><th>Rank</th><th>Role</th><th>Phone</th><th>eMail</th>
      </tr>
    </thead>

    <tbody>
      {% for member in member_list %}
      {% if member.isActive %} {# XXX #}
      <tr>
        <td><a href="{% url 'member_detail' member.id %}">{{ member.full_name }}</a></td>
        <td data-sort="{{ member.rank_order }}"> {{ member.rank }}</td>
        <td data-sort="{{ member.role_order }}"> {{ member.roles }}</td> <!--  -->
        <td> {{ member.phone }}</td>
        <td> {{ member.email }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No members are available.</p>
  {% endif %}
</main>
{% endblock %}

{% block subheader %}
<a class="navbar-brand" href="#">
  <i class="fa fa-chevron-right"></i>Members
</a>
<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a class="nav-link">
      "[sub action 1]"
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link">
      "[sub action 2]"
    </a>
  </li>
</ul>
{% endblock %}
