{% extends 'base_generic.html' %}

{% block content %}
Message:
<p>from {{ message.author }}</p>
<p>{{ message.text }}</p>
<p>Period: <a href="{{ message.period.event.get_absolute_url }}">{{ message.period }}</a></p>
<p>Period format: {{ message.period_format }}</p>


<table class="table">
  <tr>
    <th>Name</th>
    <th>SMS status</th>
    <th>Email status</th>
    <th>RSVP</th>
  </tr>
{% for d in message.distribution_set.all %}
<tr>
  <td>{{ d.member }}</td>
  <td>
    {{ d.outboundsms_set.first.status }}
    {{ d.outboundsms_set.first.error_message|default_if_none:"" }}
  </td>
  <td>
    {{ d.outboundemail_set.first.status }}
    {{ d.outboundemail_set.first.error_message|default_if_none:"" }}
  </td>
  <td>{{ d.rsvp_display }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
