{% extends 'base_ftable.html' %}

{% block title %}Team Availability{% endblock title %}

{% block subheader %}
<strong id="subhdr">Members</strong>
{% endblock subheader %}


{% block table_options %}
order: [[ 0, 'asc' ]],
columnDefs: [
    {
        responsivepriority: 8, targets: 1
    },
    {
        'render': function ( data, type, rowData, meta ) {
            // Add color to the busy periods
            var row = $('#dTbl').DataTable().row(meta['row']).node();
            if (data && data[0] != '<') // *FIXME: for now ignore extra responsive sizing divs
                $('td:eq('+meta['col']+')', row).css('background-color', 'green');
            return data;
        },
        targets: [ 2, 3, 4, 5, 6, 7 ],
    },
],
language: {
      emptyTable: 'No members selected'
},
{% endblock table_options %}


{% block table_functions %}

// Seems a little crazy that js doesn't offer better date support
// But not worth loading another 20-30K
function DateArray(start_date, days) {
    //
    // Create date array for date range, ISO formatted
    //
    const m = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    const mn = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];

    var result = [];
    for (var i = 0; i < days; i++) {
        var date = new Date(start_date);
        date.setDate(date.getDate() + i);
        var ds = date.toDateString().replace(/.{3} (.{3}) (\d{2}) (\d{4})/, '$3-$1-$2');
        var month = ds.substr(5, 3);
        ds = ds.replace(month, mn[m.indexOf(month)]);
        result.push(ds);
    }
    return result;
}

var numDays = 5;

function SetBusy(busy, start, end, comment) {
    //FIXME: make 'comment' a modal popup or tool tip or both
    if (start < 0) start = 0;
    if (end <= 0) end = numDays;
    for (var i = start; i < end; i++) busy[i] = comment;
    return i;
}

const apiUrlMemberRank = '/api/member_availability/?member_rank=';

function AddRows(table, values) {
    //
    // Add rows based on rank =values[0]
    //
    var url = apiUrlMemberRank+values[0];

    var dd = DateArray(Date(), 5);
    url += '&date_range_start='+dd[0]+'&date_range_end='+dd[4];
    //FIXME: add error handling
    $.getJSON(url, null, function( json ) {
        var dd = DateArray(Date(), 5);
        
        // Foreach member mark busy period within date range
        for (var member=0; member<json.length; member++)
        {
            var row = json[member];
            var data = [
                '<a href="/member/'+row['id']+'?returnx=al">'+row['full_name']+'</a>',
                {'display': row['rank'], '@data-sort': row['rank_order']},
            ];
            var busy = Array(numDays+1).fill('');
            var period = row['busy'];
            for (var p = 0; p < period.length; p++) {
                var start_on = dd.indexOf(period[p]['start_on']);
                var end_on = dd.indexOf(period[p]['end_on']) + 1;
                var comment = period[p]['comment'];
                SetBusy(busy, start_on, end_on, comment);
                if (end_on <= 0)
                    busy[numDays] = period[p]['end_on'];
            }

            data = data.concat(busy);

            table.row.add(data).invalidate(); // invalidate needed to force rank and role display
        }

        // not sure why this is required here but it is needed (tried to hoist it without success)
        table.draw().columns.adjust().responsive.recalc();
    })
}

function RemoveRows(table, values) {
    // Remove rows based on rank
    table.rows(
        function ( idx, data, node ) {
            return data[1]['display'] == values[0];
        } )
        .remove();

    table.draw();
}

function UpdateSubheaderBasedOnSettings(table) {
    // Extract currently selected ranks based on filter
    var showRanks = [];
    $('#filter-rank option').each(function() {
        if (!this.selected) {
            showRanks.push(this.value);
        }
    })

    $('#subhdr')[0].innerHTML = '<a href=' + {% url 'member_list' %} + '>Members</a> (' +  showRanks.join(', ') + ') > Availability';
}

$('#filter-rank').multiSelect({
    // The sense of the multiSelect is inverted: show = deselect, hide = select
    selectableHeader: '<div class="custom-header">Show</div>',
    selectionHeader: '<div class="custom-header">Hide</div>',
    afterSelect: function(values){
        RemoveRows(table,values);
        UpdateSubheaderBasedOnSettings(table);
    },
    afterDeselect: function(values){
        AddRows(table,values);
        UpdateSubheaderBasedOnSettings(table);
    }
})
{% endblock table_functions %}

{% block content %}
<main>
  <div id="show-filter" style="display: none">
    <select id="filter-rank" multiple="multiple" selectableHeader="Display rank">
      <option value='TM'>Technical Member</option>
      <option value='FM'>Field Member</option>
      <option value='T'>Trainee</option>
      <option value='R' selected >Reserve</option>
      <option value='S' selected >Support</option>
      <option value='A' selected >Associate</option>
      <option value='G' selected >Guest</option>
      <option value='MA' selected >Member Alum</option>
      <option value='GA' selected >Guest Alum</option>
      <option value='MN' selected >Member No-contact</option>
      <option value='GN' selected >Guest No-contact</option>
    </select>
  </div>
  <div id="tooltip"></div>
  <table id="dTbl" class="display table-bordered compact" style="width:100%">
    <thead>
      <tr>
        <th>Name</th><th>Rank</th>
        {% for h in headers %}
        <th>
          <div class="d-none d-lg-block">{{h}}</div>
          <div class="d-none d-md-block d-lg-none">{{h|date:"M d"}}</div>
          <div class="d-block d-md-none">{{h|date:"m d"}}</div>
        </th>
        {% endfor %}
        <th>Return</th>
      </tr>
    </thead>

    <tbody>
    {% for member in member_list %}
      {% if member.isActive %}
      <tr>
        <td><a href="{% url 'member_detail' member.id %}?returnx=al">{{ member.full_name }}</a></td>
        <td data-sort="{{ member.rank_order }}"> {{ member.rank }}</td>
        {% for day in member.days %}
          {% if day %}
            <td style="background-color:green" title="{{day}}" style="overflow: hidden">
              <div class="d-none d-lg-block">{{day}}</div>
              <div class="d-none d-md-block d-lg-none">{{day|truncatechars:10}}</div>
              <div class="d-none d-sm-block d-md-none">{{day|truncatechars:5}}</div>
              <div class="d-block d-sm-none">*</div>
            </td>
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}
        <td{% if member.end_date %} style="background-color:green"{% endif %}>
          <div class="d-none d-md-block">{{member.end_date|date:"Y-m-d"}}</div>
          <div class="d-block d-md-none">{{member.end_date|date:"m-d"}}</div>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}
