{% extends 'base_member_table.html' %}

{# --- Page definition --- #}

{% block title %}Team Availability{% endblock title %}

{% block subheader %}
<strong class="d-md-none" id="subhdr-sm"></strong>
<strong class="d-none d-md-block" id="subhdr"></strong>
{% endblock subheader %}

{% block dtable %}
  <div id="tooltip"></div>
  <table id="dTbl" class="display table-bordered compact" style="width:100%">
    <thead>
      <tr>
        <th>Name</th><th>Status</th><th>Status order</th><th>Roles</th><th>Roles order</th>
        {% for h in headers %}
        <th>
          <div class="d-none d-lg-block">{{h}}</div>
          <div class="d-none d-md-block d-lg-none">{{h|date:"M d"}}</div>
          {# FX: print, excel, csv versions should exclude this div #}
          <div class="d-block d-md-none">{{h|date:"m d"}}</div>
        </th>
        {% endfor %}
        <th>Return</th>
      </tr>
    </thead>
    
    <tbody>
      {% for member in member_list %}
      {% spaceless %}
      <tr>
        <td>
          <a href="{% url 'member_detail' member.id %}?returnx=al">{{ member.full_name }}</a>
        </td>
        <td>{{ member.status }}</td>
        <td>{{ member.status_order }}</td>
        <td>{{ member.roles }}</td>
        <td>{{ member.role_order }}</td>
        {% for day in member.days %}
        {% if day %}
        <td style="background-color:orange" title="{{day}}" style="overflow: hidden">
          <div class="d-none d-lg-block">{{day}}</div>
          <div class="d-none d-md-block d-lg-none">{{day|truncatechars:10}}</div>
          <div class="d-none d-sm-block d-md-none">{{day|truncatechars:5}}</div>
          <div class="d-block d-sm-none">*</div>
        </td>
        {% else %}
        <td></td>
        {% endif %}
        {% endfor %}
        <td{% if member.end_date %} style="background-color:orange"{% endif %}>
          <div class="d-none d-md-block">{{member.end_date|date:"m/d/y"}}</div>
          {# FX: print, excel, csv versions should exclude this div #}
          <div class="d-block d-md-none">{{member.end_date|date:"m-d"}}</div>
        </td>
      </tr>
      {% endspaceless %}
      {% endfor %}
    </tbody>
  </table>
{% endblock dtable %}


{# --- Table definition --- #}

{% block table_options %}
order: [[ 1, 'asc' ], [0, 'asc']],

columnDefs: [  // Uses columns defs because columns titles aren't fixed
    { responsivePriority: 1, targets: 0 },
    { responsivePriority: 2, targets: [ 5, 6, 7, 8] },
    { responsivePriority: 3, targets: 9 },
    { responsivePriority: 10, targets: 1 },
    { responsivePriority: 11, targets: 3 },
    { width: '35px', targets: 1 },
    {
        render: function ( data, type, row, meta ) {
            if (type == 'display') {
                // Add color to the busy periods
                var row = $('#dTbl').DataTable().row(meta.row).node();
                if (data && data[0] != '<')
                    $('td:eq(' + (meta.col - 1) + ')', row).css('background-color', 'orange');
            }
            return data;
        },
        targets: [ 5, 6, 7, 8, 9, 10 ],

    },
    {
        type: 'num',
        render: function(data, type, row, meta) {
            if (type == 'sort') {
                return row[meta.col + 1];
            } else
                return data;
        }, targets: [ 1, 3 ]
    },
      
    { visible: false, type: 'hidden', className: 'noVis', targets: [ 2, 4] },
],

language: { emptyTable: 'No members selected' },

{% endblock table_options %}

{% block initComplete %}
//SetMemberFilter (table);
{
    //FX: Slightly different
    //find members and set selection
    var status = [];
    table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
        status[this.data()[1]] = true; //FX
    });
    status = Object.keys(status);
    $('#filter-status > option').each( function ( i ) {
        if (status.includes(this.value))
            this.removeAttribute('selected');
        else
            this.setAttribute('selected', '');
    });

    $('#filter-status').multiSelect({
        // The sense of the multiSelect is inverted: show = deselect, hide = select
        selectableHeader: '<div class="custom-header">Show</div>',
        selectionHeader: '<div class="custom-header">Hide</div>',
        afterSelect: function(values){
            RemoveAvailRows(table,values);
            UpdateSubheaderBasedOnSettings(table);
        },
        afterDeselect: function(values){
            AddAvailRows(table,values);
            UpdateSubheaderBasedOnSettings(table);
        }
    })
}
{% endblock initComplete %}

{% block functions %}

function DateArray(start_date, days) {
    // Create date array for date range formatted as yyyy-mm-dd
    var result = [];
    for (var i = 0; i < days; i++) {
        var ds = DateBE(start_date, i);
        result.push(ds);
    }
    return result;
}

var numDays = 5;

function SetBusy(busy, start, end, comment) {
    //FX: make 'comment' a modal popup for mobile
    if (start < 0) start = 0;
    if (end <= 0) end = numDays;
    for (var i = start; i < end; i++) busy[i] = comment;
    return i;
}

const apiUrlMemberAvail = '/api/member_availability/?member__status__short=';

function AddAvailRows(table, values) {
    //
    // Add rows based on status
    //
    var url = apiUrlMemberAvail + values[0];

    var dd = DateArray(new Date, 5);
    url += '&date_range_start='+dd[0]+'&date_range_end='+dd[4];
    $.getJSON(url, null, function( json ) {
        var dd = DateArray(new Date, 5);
        
        // Foreach member mark busy period within date range
        for (var m = 0; m < json.length; m++)
        {
            var row = json[m];
            var data = [
                '<a href="/member/' + row.id+'?returnx=al">' + row.full_name + '</a>',
                row.status, row.status_order, row.roles, row.role_order
            ];
            var busy = Array(numDays + 1).fill('');
            var period = row.busy;
            for (var p = 0; p < period.length; p++) {
                var start_on = dd.indexOf(period[p].start_on);
                var end_on = dd.indexOf(period[p].end_on) + 1;
                var comment = period[p].comment;
                if (comment) {
                    //FX: It would be nice to use different display sizes
                    //Decide on appropriate constants
                    if (comment.length > 10) comment = comment.slice(0, 10);
                } else
                    // API doesn't match member_view code
                    comment = 'BUSY';
                SetBusy(busy, start_on, end_on, comment);
                if (end_on <= 0)
                    busy[numDays] = period[p].end_on;
            }

            data = data.concat(busy);

            table.row.add(data);
        }

        // redraw table after async call
        table.draw().columns.adjust().responsive.recalc();
    })
}

function RemoveAvailRows(table, values) {
    // Remove rows based on status
    table.rows(
        function ( idx, data, node ) {
            return data[1] == values[0];
        } )
        .remove();

    table.draw().columns.adjust().responsive.recalc();//FX
}

function UpdateSubheaderBasedOnSettings(table) {
    // Extract currently selected status based on filter
    var showStatus = [];
    $('#filter-status option').each(function() {
        if (!this.selected) {
            showStatus.push(this.value);
        }
    })

    var shsm = '<a href=' + {% url 'member_list' %} + '>Member</a> > Availability';
    var sh = '<a href=' + {% url 'member_list' %} + '>Members</a> ('
        + showStatus.join(', ') + ') > Availability';

    $('#subhdr-sm')[0].innerHTML = shsm;
    $('#subhdr')[0].innerHTML = sh;
}

{% endblock functions %}
