{% extends 'base_table.html' %}

{% block subheader %}
  <strong>
    {% block do_title %}{% endblock %} {{ year }} - Quarter {{ quarter }}
  </strong>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" href="{% url 'do_index' %}{{ query_this }}">
        DO list Q{{quarter}}</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="{% url 'do_plan' %}{{ query_this }}">
        Plan Q{{quarter}}</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="{% url 'do_form' %}{{ query_this }}">
        Edit my Q{{quarter}} availability</a>
    </li>
  </ul>
{% endblock %}
