{% extends 'base_generic.html' %}

{% block css %}
    {{ block.super }}

    {# DataTables basics and "more" features #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju-1.12.1/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/r-2.2.2/sl-1.2.6/datatables.min.css"/>

    {# Multi-select used with filter #}
    <link href="/static/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">

{% endblock css %}

{% block js %}
    {{ block.super }}

    {# DataTables basics and "more" features #}
    <script src="https://cdn.datatables.net/v/ju-1.12.1/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/r-2.2.2/sl-1.2.6/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>


    {# DataTables simple editor #}
    {# FIXME: Doesn't work with BS4 #}
    <script src="/static/js/dataTables.altEditor.free.js"></script>

    {# Multi-select used with filter #}
    <script src="/static/js/jquery.multi-select.js" type="text/javascript"></script>

{% endblock js %}
