{% extends 'base_table.html' %}

{# Filtered table template #}

{% block js %}
{{ block.super }}

<script>
'use strict'

const labelShowFilter = '<i class="fa fa-filter"></i> Filter';
const labelHideFilter = '<i class="fa fa-minus-square-o"></i> Hide Filter';
const textShowDetail = ' Expand Detail';
const htmlShowDetail = '<i class="fa fa-plus-square-o"></i>' + textShowDetail;
const labelHideDetail = '<i class="fa fa-minus-square-o"></i> Hide Detail';

var table;
$(document).ready(function() {
    // Initialize datatable with responsive behavior and datatable buttons
    table = $('#dTbl').DataTable( {
        dom: 'Bfrtip',
        responsive: true,
        paging:   false,
        info:     false,
        {% block table_options %}{% endblock %}
        buttons: [
            {% block table_buttons_first %}{% endblock %}

            {% block filter_button %}
            {
                text: labelShowFilter,
                action: function ( e, dt, node, config ) {
                    if($('#show-filter').css('display') == 'none') {
                        $('#show-filter').css({'display':'block'})
                        node[0].innerHTML = labelHideFilter;
                    } else {
                        $('#show-filter').css({'display':'none'})
                        node[0].innerHTML = labelShowFilter;
                        //FIXME: hack, checking for fn def, needs to be replaced
                        if (typeof AddRowsByDate != 'undefined')
                            AddRowsByDate(table, $('#start').val(), $('#end').val())
                                          
                    }
                }
            },
            {% endblock filter_button %}
            {% block detail_button %}
            {
                text: htmlShowDetail,
                action: function ( e, dt, node, config ) {
                    if (node[0].innerText == textShowDetail) {
                        var mc = dt.cells('.marked').nodes();
                        dt.rows(':not(.parent)').nodes()
                            .to$().find('td:first-child').trigger('click')
                            .removeClass('marked');
                        $(mc).addClass('marked');
                        node[0].innerHTML = labelHideDetail;
                    } else {
                        var mc = dt.cells('.marked').nodes();
                        dt.rows('.parent').nodes()
                            .to$().find('td:first-child').trigger('click')
                            .removeClass('marked');
                        $(mc).addClass('marked');
                        node[0].innerHTML = htmlShowDetail;
                    }                          
                }
            },
            {% endblock detail_button %}
            {% block more_button %}
            {
                text: '<i class="fa fa-newspaper-o"></i> More',
                extend: 'collection',
                autoClose: true,
                buttons: [ 'copy', 'csv', 'excel', 'print', 'colvis']
            }
            {% endblock more_button %}
        ],

        initComplete: function (settings) {
            var table = new $.fn.dataTable.Api( settings );
            DisplayExpandDetail(null, table, []);
        },

    })

    UpdateSubheaderBasedOnSettings(table);

    table.on( 'responsive-resize', DisplayExpandDetail );

    function DisplayExpandDetail ( e, table, columns ) {
        //FX: easier way? table.responsive.hasHidden() doesn't work with hidden cols
        if (table.row(0).count()
            && getComputedStyle(table.row(0).node().children[0],'before').content == '"+"')

            $("button.dt-button:contains(' Expand Detail')").show();
        else
            $("button.dt-button:contains(' Expand Detail')").hide();
    }
    {% block ready_functions %}{% endblock %}

});

{% block table_functions %}{% endblock %}

</script>

{% endblock js %}
