{% load static %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block css %}
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no"> {# for iPhone #}

    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome-cst.min.css" />
    {# bootstrap_css, needs https #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% endblock css %}

    <title>{% block title %}BAMRU.net{% endblock title %}</title>

  </head>

  <body>
    {% block js %}

    {% block jquery %}{# Datatables combined load includes jquery 3.3.1 #}
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    {% endblock jquery %}

    {# bootstrap_javascript, needs https #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock js %}

    {% comment %}
      browser.sentry-cdn.com is blocked by ad blockers so this copy needs to be
      manually updated. FX: consider removing if the load start is too great
    {% endcomment %}
    <script src="/static/js/browser.sentry-cdn-5.20.1-bundle.min.js"></script>
    <script>
      // Needed for IOS
      $(document).ready( function() { $('.dropdown-toggle').dropdown() } );

      var SentryLoaded = typeof Sentry !== 'undefined';
      if (SentryLoaded) {
          Sentry.init({
              dsn: '{{JAVASCRIPT_DSN}}',
              release: '{{RELEASE}}',
          });
          Sentry.configureScope((scope) => {
              scope.setUser({"username": "{{ request.user }}"});
          });
          $(document).ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
              Sentry.captureMessage(thrownError || jqXHR.statusText, {
                  extra: {
                      type: ajaxSettings.type,
                      url: ajaxSettings.url,
                      data: ajaxSettings.data,
                      status: jqXHR.status,
                      error: thrownError || jqXHR.statusText,
                      response: (typeof jqXHR.responseText !== 'undefined')
                          ? jqXHR.responseText.substring(0, 100) : ''
                  }
              });
          });
      }
    </script>

    <script>
    // CSRF code from Django docs: https://docs.djangoproject.com/en/2.1/ref/csrf/
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            var csrftoken = getCookie('csrftoken');
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function DateFE( date ) {
        // Create a frontend formatted date mm/dd/yyyy
        // input: date string yyyy-mm-dd
        var r = date.match(/(\d{4})-(\d{2})-(\d{2})/);
        if (r == null || r.length != 4) {
            //Sentry.captureMessage('DateFE: Bad date format, expected yyyy-mm-dd', 'error');
            return '00/00/0000';
        }
        return r[2] + '/' + r[3] + '/' + r[1]
    }

    function DateBE( date, offset=0 ) {
        // Create a backend formatted date yyyy-mm-dd
        // input: js date object and offset in days
        function pad (n) { return n < 10 == 1 ? '0' + n : n; }

        if (typeof date !== 'object')
            throw('DateBE: Bad date format, expected date object');

        if (offset) {
            date = new Date(date);
            date.setDate(date.getDate() + offset);
        }

        return date.getFullYear() +
            '-' + pad(date.getMonth()+1) +
            '-'+pad(date.getDate());
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function Truncate(string, length) {
        return string.substr(0, length)
    }

    // TODO: move to better location
    // Render the 'documentation' column for Certs on the member cert page and
    // the user's list/edit certs page.
    function renderCertDocumentation(data, type, row, meta) {
        if (type == 'display') {
            file = row.cert_name;
            if (!file || (file == 'None')) {
                if (row.link && (row.link != 'None')) {
                    return '<a href="' + row.link + '" target="_blank">' + row.link + '</a>'
                }
                return '';
            }
            return '<a href="/member/{{ member.id }}/certs/' + row.id + '/download/' + file + '" target="_blank">' + file + '</a>'
        }
        return data
    }

    </script>

    <div class="container-fluid">
      {% include 'navbar.html' %}
      <nav class="navbar navbar-expand-sm text-primary subhead">
        {% block subheader %}{% endblock subheader %}
      </nav>
      
      {% bootstrap_messages %}
      
      {% block content %}{% endblock content %}
    </div>
    
    {% comment FIXME: overlaps with datatables nowrap %}
    <footer class="footer">
      <div class="container text-center">
        <p />
        <p />
        <p />
        <a href="https://github.com/BAMRU-Tech/bamru_net/issues" target="_blank">
          General help</a>
        | <a href="mailto:tech_discussion@bamru.org">BAMRU internal help</a>
        | <small>{{RELEASE}}</small>
      </div>
    </footer>
    {% endcomment %}
    
  </body>
</html>
