{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block css %}
      <link href='/static/favicon_p1.ico' rel='shortcut icon' type='image/vnd.microsoft.icon'/>
      <link href="https://use.fontawesome.com/5fb07bfd2c.css"
            media="all" rel="stylesheet">
      {% bootstrap_css %}
      <link rel="stylesheet" href="/static/css/style.css" />
    {% endblock css %}
    <title>{% block title %}BAMRU.net{% endblock title %}</title>
  </head>


  <body>
      <div class="container-fluid">
        {% include 'navbar.html' %}
        <nav class="navbar navbar-expand-sm text-primary subhead">
          {% block subheader %}{% endblock subheader %}
        </nav>

        {% bootstrap_messages %}

        {% block content %}{% endblock content %}
      </div>

    <footer class="footer">
        <div class="container text-center">
            <a href="https://github.com/BAMRU-Tech/bamru_net/issues">general help</a>
            | <a href="mailto:tech_discussion@bamru.org">BAMRU internal help</a>
        </div>
    </footer>

    {% block js %}
      <script src="https://use.fontawesome.com/5fb07bfd2c.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      {% bootstrap_javascript %}
    {% endblock js%}

    <script>
      // CSRF code from Django docs: https://docs.djangoproject.com/en/2.1/ref/csrf/
      // using jQuery
      function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
          return cookieValue;
      }

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
    </script>
  </body>
</html>
