{% extends 'base_table.html' %}o

{% block subheader %}
<strong>
  {% block do_title %}{% endblock %} for Quarter {{ quarter }} - {{ year }}
</strong>
<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a class="nav-link" href="{% url 'do_list' %}{{ query_this }}">
      <i class="fa fa-calendar"></i>
      Schedule</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link" href="{% url 'do_plan' %}{{ query_this }}">
      <i class="fa fa-columns"></i>
      Plan</a>
  </li>
</ul>
{% endblock %}
