{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Team Certifications{% endblock %}

{% block subheader %}
<strong class="d-md-none" id="subhdr-sm"></strong>
<strong class="d-none d-md-block" id="subhdr"></strong>
{% endblock subheader %}

{% block content %}
<main role="main">
  <div id="show-filter" style="display: none">
    <select id="filter-rank" multiple="multiple" selectableHeader="Display rank">
      <option value='TM'>Technical Member</option>
      <option value='FM'>Field Member</option>
      <option value='T'>Trainee</option>
      <option value='R'>Reserve</option>
      <option value='S'>Support</option>
      <option value='A'>Associate</option>
      <option value='G'>Guest</option>
      <option value='MA'>Member Alum</option>
    </select>
  </div>
  <table id="dTbl" class="display table-bordered wrap" style="width:100%">
    <tbody>
      {% for member in member_list %}
      <tr>
        <td>{{ member.full_name }}</td>
        <td>{{ member.id }}</td>
        <td>{{ member.rank }}</td>
        <td>{{ member.rank_order }}</td>
        {% for c in member.certs %}
        <td bgcolor="{{c.cert.color | default:"white" }}">
          {% if c.count %}
          {{ c.cert }}
          {% if c.count > 1 %}*{% endif %}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}
order: [[ 0, 'asc' ]],

columnDefs: [
    { responsivePriority: 1, targets: 0 },
    { responsivePriority: 2, targets: 2 },
    { responsivePriority: 3, targets: 3},
],

columns: [
    { data: 'full_name', title: 'Name', 
      render: function(data, type, row, meta) {
          if (type == 'display')
              return '<a href="/member/' + row['id'] + '?returnx=cl">' + data + '</a>';
          else if (type == 'sort')
              return data;
          else
              return data;
      },
    },
    { data: 'id', visible: false, },
    { data: 'rank', title: 'Rank',
      render: function(data, type, row, meta) {
          if (type == 'sort')
              return row.rank_order;
          else
              return data;
      }
    },
    { data: 'rank_order', visible: false, },
    { data: 'medical', title: 'Medical',
      render: RenderColor,
    },
    { data: 'cpr', title: 'CPR',
      render: RenderColor,
    },
    { data: 'ham', title: 'Ham', render: RenderColor, },
    { data: 'tracking', title: 'Tracking', render: RenderColor, },
    { data: 'avalanche', title: 'Avalanche', render: RenderColor, },
    { data: 'rigging', title: 'Rigging', render: RenderColor, },
    { data: 'ics', title: 'ICS', render: RenderColor, },
    { data: 'overhead', title: 'Overhead', render: RenderColor, },
    { data: 'driver', title: 'SO Driver', render: RenderColor, },
    { data: 'background', title: 'SO Background', render: RenderColor, },
],
language: { emptyTable: 'No members selected' },

{% endblock table_options %}

{% block initComplete %}
SetMemberFilter (table, true);
{% endblock initComplete %}

{% block functions %}

function RenderColor (data, type, row, meta) {
          if (type == 'display' && data) {
              var rpos = meta.row;
              var cpos = meta.col;
              // Add color to the expiring certs
              var row = $('#dTbl').DataTable().row(rpos).node();
              var color = data.substring(data.indexOf('"')+1, data.lastIndexOf('"'));
              $('td:eq(' + (cpos - 2) + ')', row).css('background-color', color);
          }
          return data;
      }

const apiUrlMemberRank = '/api/member_certs/?member_rank=';

function AddRows(table, values) {
    //
    // Add rows based on rank =values[0]
    //
    var url = apiUrlMemberRank+values[0];
    //FX: add error handling
    $.getJSON(url, null, function( json ) {
        for (var i = 0; i < json.length; i++)
        {
            var data = json[i];
            //FIXME: this is a hack, the API should return complete certs
            //Find a better way to not embedded cert names
            data.medical = '';
            data.cpr = '';
            data.ham = '';
            data.tracking = '';
            data.avalanche = '';
            data.rigging = '';
            data.ics = '';
            data.overhead = '';
            data.driver = '';
            data.background = '';

            var certs = data.certs;
            for (var j = 0; j < certs.length; j++)
            {
                if (certs[j].length != 0) {
                    var cert = certs[j][0];  // Always use the first if multiple certs
                    data[cert.type] =
                        '<div bgcolor="' + cert.color + '">' +
                        cert.description + (certs[j].length > 1 ? '*' : '') +
                        '</div>';
                }
            }

            table.row.add(data).invalidate();
        }
        
        // redraw table after async call
        table.draw().columns.adjust().responsive.recalc();
    });
}

function RemoveRows(table, values) {
    // Remove rows based on rank
    table.rows(
        function ( idx, data, node ) { return data.rank == values[0]; } )
        .remove();

    table.draw();
}

function UpdateSubheaderBasedOnSettings(table) {
    // Extract currently selected ranks based on filter
    var showRanks = [];
    $('#filter-rank option').each(function() {
        if (!this.selected) {
            showRanks.push(this.value);
        }
    });

    var shsm = '<a href=' + {% url 'member_list' %} + '>Members</a> > Certifications';
    var sh = '<a href=' + {% url 'member_list' %} +
        '>Members</a> (' +  showRanks.join(', ') + ') > Certifications';

    $('#subhdr-sm')[0].innerHTML = shsm;
    $('#subhdr')[0].innerHTML = sh;
}

{% endblock functions %}
