{% extends 'base_form.html' %}

{% block title %}{% if new %}Add{% else %}Edit{% endif %} Cert - {{ cert.get_type_display }}{% endblock title %}

{% block subheader %}
<strong id="subhdr"></strong>
<div class="collapse navbar-collapse" id="certMenu">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href='{% url "member_cert_list" member.id %}'>
        <i class="fa fa-certificate"></i>
        Certs
      </a>
    </li>
  </ul>
</div>
{% endblock subheader %}

{% block pre_content %}
{% if type.help_text %}
<p/>
<div class="alert alert-info" role="alert">
  {{ type.help_text|linebreaks }}
</div>
{% endif %}
{% endblock pre_content %}

{% block js %}
{{ block.super }}
<script>
$(document).ready( function() {
    const url = new URL(window.location.href);
    const rx = url.searchParams.get('returnx') || 'mc';
    const returns = {
        'ml': '<a href="{% url 'member_list' %}"> Members </a>',
        'al': '<a href="{% url 'available_list' %}"> Availability </a>',
        'cl': '<a href="{% url 'cert_list' %}"> Certification </a>',
        'mc': '<a href="{% url 'member_cert_list' member.id %}"> Certification </a>',
        'pp': '<a href="{% url 'member_list' %}"> Members </a>',
        'md': '<a href="{% url 'member_detail' member.id %}"> Members </a>',
    }

    href = returns[rx];

    $("#subhdr")[0].innerHTML = href + " > {{ member.full_name }} ({{ member.status }})";
});

function show_hide_description() {
    var selected = parseInt($('#id_subtype').val());
    if ( {{ other_subtypes }}.includes(selected) ) {
        $('label[for=id_description], input#id_description').show();
    } else {
        $('label[for=id_description], input#id_description').hide();
    }
};

$(document).on('change', '#id_subtype', function(e) {
    show_hide_description();
});
$(document).ready(function(e) {
    show_hide_description();
});
</script>
{% endblock js %}


{% block content %}
{{ block.super }}
{% endblock content %}
