{% extends 'base_ftable.html' %}

{% block title %}Team Certifications{% endblock title %}


{% block subheader %}
  <strong>
    <div id="subhdr">
      Members
    </div>
  </strong>
{% endblock subheader %}

{% block table_options %}
order: [[ 0, "asc" ]],
columnDefs: [
    { responsivePriority: 1, targets: 0 },
    { responsivePriority: 4, targets: 1},
    { responsivePriority: 2, targets: 2 },
    { responsivePriority: 3, targets: 3},
],
language: {
      emptyTable: "No members selected"
},
{% endblock table_options %}

{% block table_functions %}
const apiUrlMemberRank = "/api/member_certs/?member_rank=";
function AddRows(table, values) {
    // Add row data via AJAX based on rank
    urlData = apiUrlMemberRank+values[0];
    $.getJSON(urlData, null, function( json ) {
        
        for (var i=0; i<json.length; i++)
        {
            row = json[i];
            data = [
                "<a href=/member/"+row["id"]+">"+row["full_name"]+"</a>",
                {"display": row["rank"], "@data-sort": row["rank_order"]},
            ]
            certs = row["certs"];
            for (var j=0; j<certs.length; j++)
            {
                data.push((certs[j] && certs[j].length) ? certs[j][0]["description"] : "");
            }

            table.row.add(data).invalidate(); // invalidate needed to force rank and role display
        }
        table.draw();  // not sure why this is required here but it is needed (was later in execution path)
    });
}

function RemoveRows(table, values) {
    // Remove rows based on rank
    table.rows(
        function ( idx, data, node ) {
            return data[1]["display"] == values[0];
        } )
        .remove();

    table.draw();
}

function UpdateSubheaderBasedOnSettings(table) {
    // Extract currently selected ranks based on filter
    var showRanks = [];
    $("#filter-rank option").each(function() {
        if (!this.selected) {
            showRanks.push(this.value);
        }
    });

    $("#subhdr")[0].innerHTML = "<a href=" + {% url 'member_index' %} + ">Members</a> (" +  showRanks.join(", ") + ") > Certifications";

}

$("#filter-rank").multiSelect({
    // The sense of the multiSelect is inverted: show = deselect, hide = select
    selectableHeader: "<div class='custom-header'>Show</div>",
    selectionHeader: "<div class='custom-header'>Hide</div>",
    afterSelect: function(values){
        RemoveRows(table,values);
        UpdateSubheaderBasedOnSettings(table);
    },
    afterDeselect: function(values){
        AddRows(table,values);
        UpdateSubheaderBasedOnSettings(table);
    }
})
{% endblock table_functions %}

{% block content %}
<main>
  <div id="show-filter" style="display: none">
    <select id="filter-rank" multiple="multiple" selectableHeader="Display rank">
      <option value='TM'>Technical Member</option>
      <option value='FM'>Field Member</option>
      <option value='T'>Trainee</option>
      <option value='R' selected >Reserve</option>
      <option value='S' selected >Support</option>
      <option value='A' selected >Associate</option>
      <option value='G' selected >Guest</option>
      <option value='MA' selected >Member Alum</option>
      <option value='GA' selected >Guest Alum</option>
      <option value='MN' selected >Member No-contact</option>
      <option value='GN' selected >Guest No-contact</option>
    </select>
  </div>
  <table id="dTbl" class="display table-bordered wrap" style="width:100%">
    <thead>
      <tr>
        <th>Name</th><th>Rank</th>
        {% for h in headers %}<th>{{h}}</th>{% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for member in member_list %}
      <tr>
        <td><a href="{% url 'member_detail' member.id %}">{{ member.full_name }}</a></td>
        <td data-sort="{{ member.rank_order }}"> {{ member.rank }}</td>
        {% for c in member.certs %}
        <td bgcolor="{{c.cert.color | default:"white" }}">
          {% if c.count %}
          {{ c.cert }}
          {% if c.count > 1 %}*{% endif %}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}
