{% extends 'base_form.html' %}

{% block title %}{% if new %}Add{% else %}Edit{% endif %} Cert - {{ cert.get_type_display }}{% endblock title %}

{% block subheader %}
<strong>
  <a href="{% url 'member_detail' member.id %}">{{member.full_name }} ({{ member.rank }})</a>
  &gt; {{ cert.get_type_display }}
</strong>
<div class="collapse navbar-collapse" id="certMenu">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href='{% url "member_cert_list" member.id %}'>
        <i class="fa fa-certificate"></i>
        Certs
      </a>
    </li>
  </ul>
</div>
{% endblock subheader %}

{% block content %}
{{ block.super }}
{% endblock content %}
