{% extends 'base_table.html' %}

{# --- Page definition --- #}

{% block title %}Event Detail - {{ event.title }}{% endblock title %}

{% block subheader %}
<strong class="d-md-none">
  <a href='{% url "event_list" %}'> Events </a>&gt; {{ event.title }}
</strong>
<strong class="d-none d-md-block">
  <a href='{% url "event_list" %}'> Events </a>&gt; {{ event.title }} ({{ event.type }})
</strong>
<ul class="navbar-nav ml-auto">
  <li class="nav-item ml-auto">
    <a href="{% url 'message_event' event.id %}">
      <i class="fa fa-list"></i> Messages</a>
  </li>
  <li class="nav-item">
    <a class="" href="{% url 'event_update' event.id %}">
      <span>&nbsp;</span> {#FIXME: shouldn't be necessary #}
      <i class="fa fa-pencil"></i> Edit
    </a>
  </li>
  <li class="nav-item">
    <a class="" href="#" onclick="DeleteEvent({{ event.id }}, '{{ event.title }}')" %}'>
      <span>&nbsp;</span> {#FIXME: shouldn't be necessary #}
      <i class="fa fa-trash"></i> Delete
    </a>
  </li>
</ul>
{% endblock subheader %}

    
{% block content %}
<main role="main" class="container-fluid">
  <div id="content">
    {% if event.description %}
    <p><strong>Description:</strong> {{ event.description|urlize }}</p>
    {% endif %}
    {% if event.description_private %}
    <p><strong>Private Description:</strong> {{ event.description_private|urlize }}</p>
    {% endif %}
    <p><strong>Location:</strong> {{ event.location|urlize }}
      <a target="_blank"
         href="https://google.com/maps/search/?api=1&query={{ event.location|urlencode }}">
        <i class="fa fa-map-marker"></i>
      </a>
      <p>
      {% if event.location_private %}
      <strong>Private Location:</strong> {{ event.location_private|urlize }}
      <a target="_blank"
         href="https://google.com/maps/search/?api=1&query={{ event.location_private|urlencode }}">
        <i class="fa fa-map-marker"></i>
      </a>
      {% endif %}
      {% if event.lat != None %}
      <strong>Lat:</strong> {{ event.lat|floatformat:8 }}
      {% endif %}
      {% if event.lon != None %}
      <strong>Lon:</strong> {{ event.lon|floatformat:8 }}
      {% endif %}
      </p></p>
    <p><strong>Leaders:</strong>
      {%for leader in leaders %}
      {% if leader.id != 0 %}
      <a href="{% url 'member_detail' leader.id %}">
        {{ leader.name }}</a>{% if not forloop.last %}, {% endif %}
      {% else %}
        {{ leader.name }}{% if not forloop.last %}, {% endif %}
      {% endif %}
      {% endfor %}
    </p>
    <p>
      <strong>Start:</strong>
      {% if event.all_day %}
        {{ event.start_at|date:'M j, Y' }}
      {% else %}
        {{ event.start_at|date:'M j, Y H:i' }}
      {% endif %}
      {% if event.finish_at != None %}
      <strong>End:</strong>
      {% if event.all_day %}
        {{ event.finish_at|date:'M j, Y' }}
      {% else %}
        {{ event.finish_at|date:'M j, Y H:i' }}
      {% endif %}
      {% endif %}
    <br>
      <strong>All day:</strong> {{ event.all_day }}
      <strong>Published:</strong> {{ event.published }}
      {% if event.ahc_log %}
        <br><a href="{{ event.ahc_log.url }}">AHC Log</a>
      {% endif %}
      {% if event.logistics_spreadsheet %}
        <br><a href="{{ event.logistics_spreadsheet.url }}">Logistics Spreadsheet</a>
      {% endif %}
      {% if event.aar %}
        <br><a href="{{ event.aar.url }}">After Action Report (AAR)</a>
      {% endif %}
    </p>
    {% if event.type == 'operation' %}
    <p>
      ( <strong>*</strong> = OL qualified )
    </p>
    {% endif %}

    {% for period in event.period_set.all %}
    <a name="OP{{period.position}}"></a>
    <details class="hdr" open>

      <summary>
        OP {{period.position}}
        <a href="#" class="float-right"
                onclick="DeleteOP('#dTbl{{period.position}}',
                         {{ period.id }}, {{ period.position }})" %}'>
          <i class="fa fa-trash"></i> Delete OP
        </a>
      </summary>

      <table id="dTbl{{period.position}}" class="display table-bordered compact"
             cellpadding="0" cellspacing="0" style="width:100%">
        <tbody>
          {% for p in period.participant_set.all %}
          <tr>
            <td></td>
            <td>{{ p.member }} {% if event.type == 'operation' and 'OL' in p.member.roles %}*{% endif %}</td>
            <td>{{ p.member.status }}</td>
            <td>{{ p.member.status_order }}</td>
            <td>{{ p.en_route_at|date:"Y-m-d" }}</td>
            <td>
              {% if p.en_route_at|date:"H:i" != '00:00' %}
              {{ p.en_route_at|date:"H:i" }}
              {% endif %}
            </td>
            <td>{{ p.return_home_at|date:"Y-m-d" }}</td>
            <td>
              {% if p.return_home_at|date:"H:i" != '00:00' %}
              {{ p.return_home_at|date:"H:i" }}
              {% endif %}
            </td>
            <td>{{ p.signed_in_at|date:"Y-m-d" }}</td>
            <td>
              {% if p.signed_in_at|date:"H:i" != '00:00' %}
              {{ p.signed_in_at|date:"H:i" }}
              {% endif %}
            </td>
            <td>{{ p.signed_out_at|date:"Y-m-d" }}</td>
            <td>
              {% if p.signed_out_at|date:"H:i" != '00:00' %}
              {{ p.signed_out_at|date:"H:i" }}
              {% endif %}
            </td>
            <td>{{ p.ahc|lower }}</td>
            <td>{{ p.ol|lower }}</td>
            <td>{{ p.logistics|lower }}</td>
            <td>{{ p.id }}</td> {# participant id #}
            <td>{{ p.member.id }}</td>
            <td>{{ p.member.display_email }}</td>
            <td>{{ p.period.id }}</td>
            <td>{{ p.member.is_unavailable }}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="dTblFoot{{period.position}}"></div>
    </details>
    {% endfor %}
  </div>

  <p></p>
  <div class="row">
    <a href="#" class="btn navbar-btn"
       onclick="var n={{event.period_set.all.count}}+1; location.href='{% url "event_period_add" event.id %}#OP'+n">
      <i class="fa fa-plus-square-o"></i> OP Next
    </a>
  </div>

</main>
<!-- Search Details Modal -->
<div class="modal fade" id="search-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="padding-top: 1rem;padding-left: 1rem;" class="modal-title">
          Search Details For Callout
        </h4>
        <button style="margin: initial;" type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="search-form" role="form">
          <div id="stype" style="margin-left: initial;margin-right: initial;" class="form-group row">
            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:4px;">
              <label for="Type">SearchType:</label>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <select id="type" name="Type" placeholder="Type of callout"
                      class="form-control form-control-sm">
                <option value="Immediate" selected="">Immediate</option>
                <option value="Delayed">Delayed</option>
              </select>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div style="margin-left: initial;margin-right: initial;" class="form-group row">
            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:4px;">
              <label for="Name">ShortDesc:</label>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <input type="text" id="name" pattern=".*" title="" name="Name"
                     placeholder="Search/Event name"
                     class="form-control  form-control-sm" value="">
            </div>
            <div style="clear:both;"></div>
          </div>
          <div style="margin-left: initial;margin-right: initial;" class="form-group row">
            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:4px;">
              <label for="Type">DayOf:</label>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <select  id="day" name="Day" placeholder="Day of callout"
                       class="form-control form-control-sm">
                <option value="Tomorrow" selected="">Tomorrow</option>
                <option value="Today">Today</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
              </select>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div style="margin-left: initial;margin-right: initial;" class="form-group row">
            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:4px;">
              <label for="Location">Location:</label></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <input type="text" id="location" pattern=".*" title="" name="Location"
                     placeholder="Place name"
                     class="form-control  form-control-sm" value="">
            </div>
            <div style="clear:both;"></div>
          </div>
          <div style="margin-left: initial;margin-right: initial;" class="form-group row">
            <div class="col-sm-3 col-md-3 col-lg-3 text-right" style="padding-top:4px;">
              <label for="Briefing">BriefingTime:</label>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <input type="time" pattern="[0-9]{2}:[0-9]{2}" id="briefing" name="Briefing"
                     placeholder="Time of briefing" style="overflow:hidden"
                     class="form-control form-control-sm" value="08:00">
            </div>
            <div style="clear:both;"></div>
          </div>
          <input type="hidden" id="periodPosition" value="">
          <input type="hidden" id="periodID" value="">
          <input type="hidden" id="periodFormat" value="">
          <input type="hidden" id="periodQuestion" value="">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="search-modal-done">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{# --- Table definition --- #}

{% block js %}
{{ block.super }}
<script>
  'use strict'
  const STATUSES = { {% for s in statuses %}{{ s}}:0,{% endfor %} };
  window.summary = [];

$(document).ready( function() {

    {% for period in event.period_set.all %}
    window.summary['dTbl{{period.position}}'] = Object.assign({}, STATUSES);
    var table{{period.position}} = $('#dTbl{{period.position}}').DataTable( {

        dom: 'Bfrtip',

        responsive: { details: { type: 'column', target: -1 }, },
        select: { style: 'os', selector: 'tr>td:not(.control)' },

        altEditor: true,
        paging:   false,
        info:     false,

        order: [[2, 'asc'], [1, 'asc']],

        drawCallback: function( settings ) {
            var summary = '';
            var d = window.summary['dTbl{{period.position}}'];
            var attendees = 0;

            for (var k in d)
                if (d[k] != 0) {
                    summary += ',&nbsp;' + k + ':&nbsp;' + d[k]
                    attendees +=  d[k]
                }

            $('#dTblFoot{{period.position}}').html(
                attendees + '&nbsp;attendees:&nbsp;' + summary.substring(1)
            )

        },

        columns: [
            { data: 'mark', width: '10px', responsivePriority: 1,
              orderable: false, type: ['readonly', 'hidden' ],
              className: 'noVis'
            },
            { data: 'name', title: 'Name', responsivePriority: 1,
              type: 'readonly', width: '45%',
              render: function(data, type, row, meta) {
                  if (type == 'display') {
                      if (row.ahc == 'true') data += '(AHC)';
                      if (row.ol == 'true') data += '(OL)';
                      if (row.logistics == 'true') data += '(Logistics)';
                      data = '<a href="/member/' + row.member + '">' + data + '</a>';
                      if (row.is_unavailable == 'True') {
                          var event_start = new Date('{{ event.start_at|date:'M j, Y' }}');
                          var event_end = new Date('{{ event.finish_at|date:'M j, Y' }}');
                          var current_date = new Date;

                          if (event_start <= current_date && event_end >= current_date)
                              data = '<i>' + data + '</i>';
                      }
                  }
                  return data;
              }
            },
            { data: 'status', title: 'Status', width: '20px',
              type: ['num', 'readonly'], responsivePriority: 3,
              render: function(data, type, row, meta) {
                  if (type == 'filter')
                      // Summarize the status for all member in the OP
                      window.summary['dTbl{{period.position}}'][data] += 1;
                  else if (type == 'sort')
                      return row.status_order;
                  else
                      ;
                  return data;
              }
            },
            { data: 'status_order', type: ['readonly', 'hidden'],
              visible: false, className: 'noVis', },
            { data: 'en_route_date', title: 'Left', responsivePriority: 2,
              type: ['date', 'allowMultiSelect'], width: '25%',
              render: function (d, t, r, m) {
                  return RenderDateTime(d, t, r, m, 'en_route_time') },
            },
            { data: 'en_route_time', title: 'at', type: ['time', 'allowMultiSelect' ],
              visible: false, className: 'noVis'
            },
            { data: 'return_home_date', title: 'Returned', responsivePriority: 2,
              type: ['date', 'allowMultiSelect'], width: '25%',
              render: function (d, t, r, m) {
                  return RenderDateTime(d, t, r, m, 'return_home_time') },
            },
            { data: 'return_home_time', title: 'at', type: ['time', 'allowMultiSelect' ],
              visible: false, className: 'noVis'
            },

            { data: 'signed_in_date', title: 'Signed in', responsivePriority: 4,
              type: ['date', 'allowMultiSelect'], visible: false,
              render: function (d, t, r, m) {
                  return RenderDateTime(d, t, r, m, 'signed_in_time') },
            },
            { data: 'signed_in_time', title: 'at', type: ['time', 'allowMultiSelect' ],
              visible: false, className: 'noVis'
            },

            { data: 'signed_out_date', title: 'Signed out', responsivePriority: 4,
              type: ['date', 'allowMultiSelect' ], visible: false,
              render: function (d, t, r, m) {
                  return RenderDateTime(d, t, r, m, 'signed_out_time') },
            },
            { data: 'signed_out_time', title: 'at', type: ['time', 'allowMultiSelect' ],
              visible: false, className: 'noVis'
            },

            { data: 'ahc', title: 'Ahc',
              type: 'select', options: ['false', 'true'],
              visible: false, className: 'noVis'
            },
            { data: 'ol', title: 'Ol',
              type: 'select', options: ['false', 'true'],
              visible: false, className: 'noVis'
            },
            { data: 'logistics', title: 'Logistics',
              type: 'select', options: ['false', 'true'],
              visible: false, className: 'noVis'
            },
            { data: 'id', type: ['readonly', 'hidden'],
              visible: false, className: 'noVis'
            },
            { data: 'member', type: ['readonly', 'hidden'],
              visible: false, className: 'noVis'
            },
            { data: 'email', type: ['readonly', 'hidden'],
              visible: false, className: 'noVis'
            },
            { data: 'period', type: ['readonly', 'hidden'],
              visible: false, className: 'noVis'
            },
            { data: 'is_unavailable', type: ['readonly', 'hidden'],
              visible: false, className: 'noVis', },
            { type: ['readonly', 'hidden' ], orderable: false, className: 'noVis control' }
        ],

        buttons: [
            {
                text: '<i class="fa fa-bullhorn"></i> Page',
                extend: 'collection',
                autoClose: true,
                buttons: [
                    {
                        text: '<i class="fa fa-bolt"></i> Callout',
                        action: function ( e, dt, node, config ) {
                            var b = $(e.currentTarget);
                            var m = $('#search-modal');
                            m.find('#periodPosition').val(b.data('position'))
                            m.find('#periodID').val(b.data('id'))
                            m.find('#periodFormat').val(b.data('format'))
                            m.find('#periodQuestion').val(b.data('question'))


                            m.find('#stype').show();
                            m.modal('show');
                            //XXX$('#search-modal input[0]').focus();
                        },
                        attr: {
                            'data-position': {{ period.position }},
                            'data-id': {{ period.id }},
                            'data-format': 'available',
                            'data-question': 'Are you available?',
                        }
                    },
                    {
                        text: '<i class="fa fa-hourglass-start"></i> Heads Up',
                        action: function ( e, dt, node, config ) {
                            var b = $(e.currentTarget);
                            var m = $('#search-modal');
                            m.find('#periodPosition').val(b.data('position'))
                            m.find('#periodID').val(b.data('id'))
                            m.find('#periodFormat').val(b.data('format'))
                            m.find('#periodQuestion').val(b.data('question'))


                            m.find('#stype').hide();
                            m.modal('show');
                            //XXX$('#search-modal input[0]').focus();
                        },
                        attr: {
                            'data-position': {{ period.position }},
                            'data-id': {{ period.id }},
                            'data-format': 'headsUp',
                            'data-question': 'Are you available?',
                        }
                    },
                    {
                        text: '<i class="fa fa-edit"></i> Info<br> (deployed team)',
                        action: function ( e, dt, node, config ) {
                            if (dt.rows().count() == 0)
                                alert('Add members to period before paging them');
                            else {
                                var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                    '&OP={{ period.position }}' +
                                    '&period={{ period.id }}' +
                                    '&page_format=info';
                                if (SentryLoaded)
                                    Sentry.withScope(scope => {
                                        scope.setLevel('info');
                                        Sentry.captureMessage("Page Info",
                                                              { extra: { page: href } });
                                    });
                                location.href = href;
                            }
                        }
                    },
                    {

                        text: '<i class="fa fa-edit"></i> Broadcast (entire unit)',
                        action: function ( e, dt, node, config ) {
                            var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                '&OP={{ period.position }}' +
                                '&period={{ period.id }}' +
                                '&page_format=broadcast';
                            if (SentryLoaded)
                                Sentry.withScope(scope => {
                                    scope.setLevel('info');
                                    Sentry.captureMessage("Page Broadcast",
                                                          { extra: { page: href } });
                                });
                            location.href = href;
                        }
                    },
                    {
                        text: '<i class="fa fa-clock-o"></i> Have you left',
                        action: function ( e, dt, node, config ) {
                            if (dt.rows().count() == 0) 
                                alert('Add members to period before paging them');
                            else {
                                var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                    '&OP={{ period.position }}' +
                                    '&period={{ period.id }}' +
                                    '&page_format=leave';
                                if (SentryLoaded)
                                    Sentry.withScope(scope => {
                                        scope.setLevel('info');
                                        Sentry.captureMessage("Page Left",
                                                              { extra: { page: href } });
                                    });
                                location.href = href;
                            }
                        }
                    },
                    {
                        text: '<i class="fa fa-clock-o"></i> Are you home',
                        action: function ( e, dt, node, config ) {
                            if (dt.rows().count() == 0) 
                                alert('Add members to period before paging them');
                            else {
                                var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                    '&OP={{ period.position }}' +
                                    '&period={{ period.id }}' +
                                    '&page_format=return';
                                if (SentryLoaded)
                                    Sentry.withScope(scope => {
                                        scope.setLevel('info');
                                        Sentry.captureMessage("Page Returned",
                                                              { extra: { page: href } });
                                    });
                                location.href = href;
                            }
                        }
                    },
                    {
                        text: '<i class="fa fa-send-o"></i> Test',
                        action: function ( e, dt, node, config ) {
                            if (dt.rows().count() == 0) 
                                alert('Add members to period before paging them');
                            else {
                                var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                    '&OP={{ period.position }}' +
                                    '&period={{ period.id }}' +
                                    '&page_format=test';
                                if (SentryLoaded)
                                    Sentry.withScope(scope => {
                                        scope.setLevel('info');
                                        Sentry.captureMessage("Page Test",
                                                              { extra: { page: href } });
                                    });
                                location.href = href;
                            }
                        }
                    },
                ]
            },
            {
                text: '<i class="fa fa-address-book"></i> Attend',
                {% if request.user in period.prefetched_members_for_info_page %}
                attr: {'disabled': 'disabled'},
                {% endif %}
                action: function () {
                    AddMeToOP({{period.id}});
                }
            },
            { text: '<i class="fa fa-clock-o"></i> Set times',
              extend: 'collection',
              autoClose: true,
              buttons: [
                  { text: 'Leave now',
                    ref_field: 'en_route',
                    action: UpdateNow,
                  },
                  { text: 'Return now',
                    ref_field: 'return_home',
                    action: UpdateNow,
                  },
                  { text: 'Sign-in now',
                    ref_field: 'signed_in',
                    action: UpdateNow,
                  },
                  { text: 'Sign-out now',
                    ref_field: 'signed_out',
                    action: UpdateNow,
                  },
                  { text: 'Sign-in/out using event data',
                    action: UpdateEventTime,
                  },
              ]
            },
            {
                extend: 'selected',
                text: '<i class="fa fa-edit"></i> Edit',
                name: 'edit'        // do not change name
            },
            {
                extend: 'selected',
                autoClose: true,
                text: '<i class="fa fa-user"></i> Delete',
                action: DeleteParticipants,
                period_position: {{ period.position }}
            },
            {
                text: '<i class="fa fa-bars"></i>' +
                    '<span class="d-none d-md-inline"> More</span>',
                extend: 'collection',
                autoClose: true,
                buttons: [
                    { text: 'Search',
                      action: function () {
                          $("#dTbl{{period.position}}_filter").toggle() }
                    },
                    {
                        text: 'Add participants',
                        action: function () {
                            var href='{% url "period_participant_add" period.id %}';
                            location.href = href;
                        }
                    },
                    {% if not event.ahc_log %}
                    { text: 'Generate AHC Log',
                      action: function () { PostAction('ahc_log') },
                    },
                    {% endif %}
                    {% if not event.logistics_spreadsheet %}
                    { text: 'Generate Logistics Spreadsheet',
                      action: function () { PostAction('logistics_spreadsheet') },
                    },
                    {% endif %}
                    {% if not event.aar %}
                    { text: 'Generate AAR',
                      action: function () { PostAction('aar') },
                    },
                    {% endif %}
                    { extend: 'copy', exportOptions: { columns: ':visible' }},
                    { extend: 'copy', text: 'Copy email', header: false, title: '',
                      customize: function( data, button, table ) {
                          var list = '';
                          if (table.cells('.marked').count() == 0) {
                              alert('Copy email: select attendees');
                          } else {
                              table.cells('.marked').every(
                                  function ( idx ) {
                                      var data = this.row(idx).data().email;
                                      list = list + data + '\n';
                                  }
                              )
                          }
                          return list;
                      },
                    },
                    { extend: 'excel', exportOptions: { columns: ':visible' }},
                    { extend: 'csv', exportOptions: { columns: ':visible' }},
                    { extend: 'print', exportOptions: { columns: ':visible' }},
                    { extend: 'colvis', columns: ':not(.noVis)'},
                ],
            }
        ],

        onEditRow: RowEditHandler,

        language: {
            emptyTable: 'No members added',
            buttons: {
                copySuccess: { _: 'selected emails copied' }
            }
        }
    });
    
    $("#search-modal-done").click(function(){

        var data = {};

        // Getting the inputs from the modal
        $('form[name="search-form"] *').filter(':input').each(function (i) {
            data[$(this).attr('id')] = $(this).val();
        });

        var txt = (data.periodFormat == 'headsUp') ? 'Heads Up: ' : data.type + ' Callout: ';
        if (!data.name) {
            alert('Enter a short description for the search'); return;
        } else {
            txt += data.name + ' Search';
        }

        if (!data.briefing) {
            alert('Enter best guess for briefing time'); return;
        } else {
            txt += ': Briefing ' + data.day + ' at ' + data.briefing;
        }

        if (!data.location) {
        } else {
            txt += '@' + data.location;
        }

        txt += '. ' + data.periodQuestion;

        $('#search-modal').modal('hide');

        var href = '{% url "message_add" %}?eid={{ event.id }}' +
            '&OP=' +  data.periodPosition +
            '&period=' + data.periodID +
            '&page_format=' + data.periodFormat + '&msg=' + txt;
        if (SentryLoaded)
            Sentry.withScope(scope => {
                scope.setLevel('info');
                Sentry.captureMessage('Page ' + data.periodFormat,
                                      { extra: { page: href } });
            });
        location.href = href;
    });

    EnableMarkSelection( table{{period.position}} );

    if (window.screen.width < 900)
        $("#dTbl{{period.position}}_filter").hide();

    {% endfor %}

})

// Copied from base_ftable FX: fix ftable to handle multiple tables
function EnableMarkSelection (table) {
    var rselected = [];  // Last selected range
    var rstart = null;   // Start of selection
    var rcurrent = null; // Current selected row
    var rmarked = [];    // tmp variable
    var runmarked = [];  // tmp variable

    table.on( 'deselect', function ( e, dt, type, indexes ) {

        // Was this the last selected range
        var equal =
            !(rselected.length == 1 && rselected[0] == rcurrent) &&
            rselected.length === indexes.length &&
            rselected.every( function ( value, index ) { return value === indexes[index] });

        if (equal) {
            // Leave marks
        } else {
            // Unmark deselected rows
            // indexes don't include the row the user selected, seems like a bug
            if (!indexes.includes(rcurrent)) indexes.push(rcurrent);
            dt.rows(indexes).every( function ( idx ) {
                $(this.node()).children().first().removeClass('marked');
            });
        }

        // Clear selections
        rselected = []; rstart = null;

        dt.rows( { selected: true } ).deselect();
    });

    table.on( 'user-select', function ( e, dt, type, cell ) {

        // Remember current row selection
        rcurrent = cell[0][0].row;
        return true;
    });

    table.on( 'select', function ( e, dt, type, indexes ) {

        // Leave marks if user selection is in selected region
        if (rselected.length > 1 && rselected.includes(rcurrent)) {
            rselected = []; rstart = null;
            return;
        }

        // This is an attempt to handle the ambiguity between
        // single click that selects and deselects vs click that marks
        // the beginning of the selection range

        if (indexes.length >1) {
            // Don't toggle row that was start of selection range
            indexes = indexes.filter( function (e) { return e != rstart; });

            // Are any rows in the new selection marked
            rmarked = false; runmarked = true;
            dt.rows( indexes ).every( function ( idx ) {
                var m = $(this.node()).children().first().hasClass('marked');
                rmarked = rmarked || m;
                runmarked = runmarked && !m;
            });

            // Included rstart when it appears to be part of the selected group
            var rsm = $(dt.row(rstart).node()).children().first().hasClass('marked')  // rstart marked
            if ((rsm && rmarked) || (!rsm && runmarked))
                // If all are marked/unmarked include rstart in the toggle selection
                indexes.push(rstart);

            // Toggle row marks based on the selection range
            dt.rows( indexes ).every( function ( idx ) {
                var el = $(this.node()).children().first();
                if (!el.hasClass('marked')) {
                    el.addClass('marked');
                } else {
                    el.removeClass('marked');
                }
            });
        } else {
            // Handle a single selection by deselecting
            var el = $(dt.row( indexes ).node()).children().first();
            if (!el.hasClass('marked')) {
                el.addClass('marked');
            } else {
                dt.row( indexes ).deselect();
            }
        }

        // Remember the last set of selected rows
        rselected = [];
        dt.rows( { selected: true } ).every( function ( idx ) {
            rselected.push(idx)
        });

        rstart = rcurrent;

    });
}

function UpdateNow ( e, dt, node, config ) {
    var num = 0
    dt.cells('.marked').every(
        function ( idx ) {
            var row = this.row(idx);
            var data = row.data();
            var d = new Date;
            data.tblId = this.table().node().id;
            data[config.ref_field + '_date'] = DateBE(d);
            data[config.ref_field + '_time'] = d.getHours() + ':' +
                d.getMinutes().toString().padStart(2, 0);
            UpdatePeriodRow(dt, data);
            //console.log('updateNow: '+data.member+' / '+data.period+' / '+data.id)
            row.data(data);
            row.deselect();
            num++;
        }
    )
    if (num == 0) alert('Select members before setting time');
    // Clear marks
    $('td.marked').removeClass('marked');
    $('tr.selected').removeClass('selected');
}

function UpdateEventTime ( e, dt, node, config ) {
    {% if event.all_day %}
    return alert('To set sign-in/sign-out, event must have a date and time')
    {% endif %}
    var marked = dt.cells('.marked');

    if (marked.count() < 1)
        alert('Select members before setting time');
    else
        marked.every(
            function ( idx ) {
                var row = this.row(idx);
                var data = row.data();
                var d = new Date;
                data.tblId = this.table().node().id;
                data['signed_in_date'] = '{{ event.start_at|date:'Y-m-j' }}';
                data['signed_in_time'] = '{{ event.start_at|date:'H:i:00' }}';
                data['signed_out_date'] = '{{ event.finish_at|date:'Y-m-j' }}';
                data['signed_out_time'] = '{{ event.finish_at|date:'H:i:00' }}';
                UpdatePeriodRow(dt, data);
                row.data(data);
            }
    )
    // Clear marks
    $('td.marked').removeClass('marked');
    $('tr.selected').removeClass('selected');
}


function RenderDateTime(data, type, row, meta, time) {
    // Display date and time
    if ( data && type == 'display' ) {
        var d =  DateFE(data);
        var t = row[time];
        if (t == '') t = '00:00';
        return d + ' ' + t;
    }

    return data;
}

function RowEditHandler(dt, row, success, error) {
    // HACK: The editor has a limited understanding of multi-select (limits visible fields)
    // and assumes empty values for all multiSelect fields
    var multiSelect = dt.s.dt.cells('.marked').count() > 1;
    dt.s.dt.cells('.marked').every(
        function ( idx ) {
            var thisrow = this.row(idx);
            var data = {};

            if (multiSelect) {
                data = thisrow.data();
                // insert edited data into selected rows
                //   currently clearing previously set fields is not possible
                //   since "" is used to indicate no change
                if (row.en_route_date) data.en_route_date = row.en_route_date;
                if (row.return_home_date) data.return_home_date = row.return_home_date;
                if (row.signed_in_date) data.signed_in_date = row.signed_in_date;
                if (row.signed_out_date) data.signed_out_date = row.signed_out_date;
                if (row.en_route_time) data.en_route_time = row.en_route_time;
                if (row.return_home_time) data.return_home_time = row.return_home_time;
                if (row.signed_in_time) data.signed_in_time = row.signed_in_time;
                if (row.signed_out_time) data.signed_out_time = row.signed_out_time;
            } else {
                data = row;
            }

            // store update in the DB
            data.tblId = this.table().node().id;   // remember table for this period
            UpdatePeriodRow(dt, data); //FX: handle async errors

            // store update locally
            thisrow.data(data);
        }
    )

    // Editor expects an object (ignored for multiSelect), closes the dialog and redraws the table
    success( row );          //FX: check for errors and only call on success

    // deselect/unmark all selected rows
    $('tr.selected').removeClass('selected');
    $('td.marked').removeClass('marked');

}

function UpdatePeriodRow(dt, row, success, error) {

    function DataDateTime (ref) {
        // Combine date and time for BE
        // assumes localtime
        var d = row[ref + '_date'];
        var t = row[ref + '_time'];
        var ft = null;

        if (d && t)
            ft = d + 'T' + t;
        else if (d)
            ft = d + 'T00:00' ;
        else
            ;
        
        data[ref + '_at'] = ft;
    }

    var data = {};

    data.id = row.id;
    DataDateTime('en_route');
    DataDateTime('return_home');
    DataDateTime('signed_in');
    DataDateTime('signed_out');
    data.ahc = row.ahc;
    data.ol = row.ol;

    var pid = data.id;

    data = JSON.stringify(data);
    //FX: Test for error
    $.ajax({
        method: 'PATCH',
        contentType: 'application/json',
        url: '/api/participants/' + pid + '/',
        data: data,
        success: function (data, status, more) {
            return true;
        },
        error: function (xhr) {
            console.log('member edit failed');
            console.log(xhr);
            if (xhr.responseText) alert(xhr.responseText);
        }
    })
    // Remove from summary total, member is readded on display
    window.summary[row.tblId][row.status] -= 1;

}

function PostAction (action) {
    var data = { "action": action };
    $.ajax({
        method: 'POST',
        contentType: 'application/x-www-form-urlencoded',
        url: location.href,
        data: data,
            success: function (response) {
                console.log('PostAction success.');
                setTimeout(function() { location.reload() }, 2000);
            },
        error: function (xhr) {
            console.log('PostAction failed');
            console.log(xhr);
            if (xhr.responseText) alert(xhr.responseText);
            return false;
        }
    })
}

function AddMeToOP (period) {
    var data = '[ { "period": ' + period + ', "member": {{request.user.id}} } ]';
    $.ajax({
        method: 'POST',
        contentType: 'application/json',
        url: '/api/participants/',
        data: data,
            success: function (response) {
                console.log('Period add: signed-in user ');
                location.reload();
            },
        error: function (xhr) {
            console.log('Period add failed');
            console.log(xhr);
            if (xhr.responseText) alert(xhr.responseText);
            return false;
        }
    })
}

function DeleteEvent ( event, title ) {
    var numParticipants = 0;
    {% for period in event.period_set.all %}
      numParticipants += {{ period.prefetched_members_for_info_page|length }}
    {% endfor %}
    if (numParticipants > 0) {
        alert('Events with active operational periods cannot be deleted');
        return;
    }
    var ok = confirm('Delete event?\n'+title);
    if (ok) {
        $.ajax({
            method: 'DELETE',
            contentType: 'application/json',
            url: '/api/events/' + event + '/',
        })
        location.href = '/event/';
    }
}

function DeleteOP (tblName, period, position ) {

    var ok = confirm('Delete Operational Period (OP' + position + ')?');

    if (ok) {
        var cnt = $(tblName).DataTable().rows().count();
        if (cnt != 0 )
            ok = confirm('Are you sure?  This period has participants!');
    }

    if (ok) {
        $.ajax({
            method: 'DELETE',
            contentType: 'application/json',
            url: '/api/periods/' + period + '/',
            success: function () {
                location.href='/event/' + {{ event.id }};
            },
            error: function (msg) {
                console.log('Operational period delete failed: '+msg);
                alert(msg);
                return false;
            },
        })
    }
}

function DeleteParticipants ( e, dt, node, config ) {
    var members = [];
    dt.rows().every( function ( idx ) {
        if (this.nodes().to$().children().first().hasClass('marked'))
            members.push(this.data().id)
    })
    
    if (members.length == 0) {
        alert('Select members before deleting them');
        return;
    }
    
    var ok = confirm('Delete '+members.length+' members\nfrom OP'+
                     config.period_position + '?');
    
    if (ok) {
        for (var i=0; i<members.length; i++) {
            $.ajax({
                method: 'DELETE',
                contentType: 'application/json',
                url: '/api/participants/' + members[i] + '/',
                success: function () {
                    location.reload(true);
                },
                error: function (msg) {
                    console.log('Participant delete failed: '+msg);
                    alert(msg);
                    return false;
                },
            })
        }
    }
}

//FX: Hoist after event_detail rewritten
function MarkRow ( e, dt, type, indices ) {
        var allMarked = true;
        var numRows = indices.length;
        if (numRows > 1) {
            dt.rows(indices).every( function ( idx ) {
                // For multi select - unmark only when every row is marked
                allMarked = allMarked && this.nodes().to$().children().first().hasClass('marked');
            })
        }
        dt.rows(indices)
            .every( function ( idx ) {
                if (numRows > 1) {
                    if (allMarked)
                        $(this.node()).children().first().removeClass('marked');
                    else
                        $(this.node()).children().first().addClass('marked');
                } else {
                    if ($(this.node()).children().first().hasClass('marked')) {
                        $(this.node()).children().first().removeClass('marked');
                        this.deselect();
                    } else
                        $(this.node()).children().first().addClass('marked');
                }
            });
}

</script>
{% endblock js %}
