{% extends 'base_table.html' %}

{% block title %}Event Detail - {{ event.title }}{% endblock title %}

{% block subheader %}
<strong>
  <a href='{% url "event_list" %}'> Events </a>
  &gt; {{ event.title }} ({{ event.type }})
</strong>
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'event_update' event.id %}">
      <i class="fa fa-pencil"></i>
      Edit
    </a>
  </li>
  <li class="nav-item">
    <button class="btn btn-link" onclick="DeleteEvent({{ event.id }}, '{{ event.title }}')" %}'>
      <i class="fa fa-trash"></i> Delete
    </button>
  </li>
</ul>
{% endblock subheader %}

  
{% block js %}
{{ block.super }}
<script>
'use strict'
$(document).ready( function() {
    {% for period in event.period_set.all %}
    var table{{period.position}} = $('#dTbl{{period.position}}').DataTable( {
        dom: 'Bfrtip',
        responsive: true,
        select: 'os',
        altEditor: true,
        paging:   false,
        info:     false,
        order: [[ 0, 'asc' ]],
        columnDefs: [
            {
                orderable: false,
                className: 'mark-checkbox',
                targets: 0,
            },
            { responsivePriority: 1, targets: [0, 1] },
            { responsivePriority: 2, targets: 3 },
            { responsivePriority: 3, targets: [3, 4]},
            { visible: false, targets: [6, 7, 8, 9, 10]},
        ],
        columns: [
            { 'data': 'check', type: ['readonly', 'hidden' ]},
            { 'data': 'name' },
            { 'data': 'en_route_at' },
            { 'data': 'return_home_at' },
            { 'data': 'signed_in_at' },
            { 'data': 'signed_out_at' },
            { 'data': 'ahc' },
            { 'data': 'ol' },
            { 'data': 'id', type: ['readonly', 'hidden'] },
            { 'data': 'member', type: ['readonly', 'hidden'] },
            { 'data': 'period', type: ['readonly', 'hidden'] },
            ],
        buttons: [
            {
                text: '<i class="fa fa-bullhorn"></i> Page',
                extend: 'collection',
                autoClose: true,
                buttons: [
                    {
                        text: '<i class="fa fa-hourglass-start"></i> Heads Up',
                        action: function ( e, dt, node, config ) {
                            location.href='{% url "message_add" %}?eid={{ event.id }}&OP={{ period.position }}&period={{ period.id }}&period_format=invite&page=Heads Up';
                        }
                    },
                    {
                        text: '<i class="fa fa-calendar-check-o"></i> Are you available',
                        action: function ( e, dt, node, config ) {
                            location.href='{% url "message_add" %}?eid={{ event.id }}&OP={{ period.position }}&period={{ period.id }}&period_format=invite&page=Available?';
                        }
                    },
                    {
                        text: '<i class="fa fa-clock-o"></i> Have you left',
                        action: function ( e, dt, node, config ) {
                            if (dt.rows().count() == 0) 
                                alert('Add members to period before paging them');
                            else
                                location.href='{% url "message_add" %}?eid={{ event.id }}&OP={{ period.position }}&period={{ period.id }}&period_format=leave&page=Left?';
                        }
                    },
                    {
                        text: '<i class="fa fa-clock-o"></i> Are you home',
                        action: function ( e, dt, node, config ) {
                            if (dt.rows().count() == 0) 
                                alert('Add members to period before paging them');
                            else
                                location.href='{% url "message_add" %}?eid={{ event.id }}&OP={{ period.position }}&period={{ period.id }}&period_format=return&page=Return?';
                        }
                    },
                    {
                        text: '<i class="fa fa-wrench"></i> Test',
                        action: function ( e, dt, node, config ) {
                            if (dt.rows().count() == 0) 
                                alert('Add members to period before paging them');
                            else
                                location.href='{% url "message_add" %}?eid={{ event.id }}&OP={{ period.position }}&period={{ period.id }}&period_format=test&page=Testing';
                        }
                    }
                ]
            },
            {
                extend: 'selected', // Bind to Selected row
                text: '<i class="fa fa-edit"></i> Edit',
                name: 'edit'        // do not change name
            },
            {
                autoClose: true,
                text: '<i class="fa fa-trash"></i> Delete',
                action: DeleteParticipants,
            },
            {
                text: '<i class="fa fa-newspaper-o"></i> More',
                extend: 'collection',
                autoClose: true,
                buttons: [
                    'copy', 'csv', 'excel', 'print', 'colvis'
                ]
            }
        ],
        onEditRow: UpdateRow,
        language: {
            emptyTable: 'No members added'
        },
    });
    
    table{{period.position}}.on( 'select', MarkRow);
    
    {% endfor %}

})

function UpdateRow(dt, row, success, error) {
    const CleanDate = function (d) {
        var sd = d ? d.substr(0, d.length - 9) : '';
        return sd;
    }
    
    var data = row;
    
    // Delete values that won't be set
    delete data.member;
    for (var d in data) if (data[d] == '') delete data[d];
    
    var id = data['id'];
    data = JSON.stringify(data);
    //FIXME: add error handling
    $.ajax({
        method: 'PATCH',
        contentType: 'application/json',
        url: '/api/edit_participants/' + id + '/',
        data: data,
        success: function (r, s, m) {
            var name = r['member']['full_name'];
            if (r['ahc']) name += '(AHC)';
            if (r['ol']) name += '(OL)';
            r['name'] = name;
            //FIXME: temporary fix until we decide on api date format
            r['en_route_at'] = CleanDate(r['en_route_at']);
            r['return_home_at'] = CleanDate(r['return_home_at']);
            r['signed_in_at'] = CleanDate(r['signed_in_at']);
            r['signed_out_at'] = CleanDate(r['signed_out_at']);
            r['check'] = '';
            return success(r, s, m);
        },
        error: function (xhr) {
            console.log('member edit failed');
            console.log(xhr);
            alert(xhr.responseText);
            return false;
        }
    })
}

function DeleteEvent ( event, title ) {
    const periods = {{ event.period_set.all|length }};
    if (periods.length > 1) {
        alert('Events with operational periods cannot be deleted');
        return;
    }
    var ok = confirm('Delete event?\n'+title);
    if (ok) {
        //FIXME: error handling
        $.ajax({
            method: 'DELETE',
            contentType: 'application/json',
            url: '/api/events/' + event + '/',
        })
        location.href = '/event/?current';
    }
}

function DeleteOP ( period, position ) {
    var ok = confirm('Delete Operational Period (OP' + position + ')?');
    if (ok) {
        //FIXME: error handling
        $.ajax({
            method: 'DELETE',
            contentType: 'application/json',
            url: '/api/periods/' + period + '/',
        })
        //FIXME: This seems like a bad idea but there is delay getting the updated data
        setTimeout(function(){
            location.href='/event/' + {{ event.id }};
        }, 200);
    }
}

function DeleteParticipants ( e, dt, node, config ) {
    var members = [];
    $('td.mark-checkbox.marked').each(function (i, el) {
        members.push($(el).next().data().id)
    });
    console.log(members);
    
    if (members.length == 0) {
        alert('Select members before deleting them');
        return;
    }
    
    var ok = confirm('Delete '+members.length+' members?');
    
    if (ok) {
        for (var i=0; i<members.length; i++) {
            //FIXME: error handling
            $.ajax({
                method: 'DELETE',
                contentType: 'application/json',
                url: '/api/participants/' + members[i] + '/',
            })
        }
        //FIXME: This seems like a bad idea but there is delay getting the updated data
        setTimeout(function(){
            location.reload(true);
        }, 200);
    }
}

function MarkRow ( e, dt, type, indices ) {
        var allMarked = true;
        var numRows = indices.length;
        if (numRows > 1) {
            dt.rows(indices).every( function ( rowIdx, tableLoop, rowLoop ) {
                // For multi select - unmark only when every row is marked
                allMarked = allMarked && $(this.nodes()).children().first().hasClass('marked');
            })
        }
        dt.rows(indices)
            .every( function ( rowIdx, tableLoop, rowLoop ) {
                if (numRows > 1) {
                    if (allMarked)
                        $(this.node()).children().first().removeClass('marked');
                    else
                        $(this.node()).children().first().addClass('marked');
                } else {
                    if ($(this.node()).children().first().hasClass('marked')) {
                        $(this.node()).children().first().removeClass('marked');
                        this.deselect();
                    } else
                        $(this.node()).children().first().addClass('marked');
                }
            });
}

</script>
{% endblock js %}


{% block content %}
<main role="main" class="container">
  <div id="content">
    <p><strong>Description:</strong> {{ event.description }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Leaders:</strong> {{ event.leaders }}</p>
    <p>
      <strong>Start:</strong> {{ event.start }}
      <strong>End:</strong> {{ event.finish }}
      <strong>All day:</strong> {{ event.all_day }}
      <strong>Published:</strong> {{ event.published }}
    </p>

    {% for period in event.period_set.all %}
    <a name="OP{{period.position}}"></a>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <button class="btn navbar-btn" onclick='$("#dTbl{{period.position}}_wrapper").toggle();'>
        <i class="fa fa-area-chart"></i> OP {{period.position}}
      </button>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a  class="nav-link btn-link" href='{% url "period_participant_add" period.id %}?et={{period.event.title}} OP{{period.position}}&eid={{event.id}}&pn={{period.position}}&pid={{period.id}}'><i class="fa fa-address-book"></i> Add</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <button class="btn nav-link btn-link" onclick="DeleteOP({{ period.id }}, {{ period.position }})" %}'>
            <i class="fa fa-trash"></i> Delete OP
          </button>
        </li>
      </ul>
    </nav>

    <table id="dTbl{{period.position}}" class="display table-bordered nowrap table-striped" cellpadding="0" cellspacing="0" style="width:100%">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Left</th>
        <th>Returned</th>
        <th>Signed in</th>
        <th>Signed out</th>
        <th>ahc</th>
        <th>ol</th>
        <th>id</th>
        <th>member</th>
        <th>period</th>
      </tr>
      </thead>
      <tbody>
      {% for p in period.participant_set.all %}
      <tr>
        <td></td>
        <td data-id={{ p.id }}>{{ p.member }}
          {% if p.ahc %}
          (AHC)
          {% endif %}
          {% if p.ol %}
          (OL)
          {% endif %}
        </td>
        <td>{{ p.en_route_at|date:"Y-m-d\TH:m" }}</td>
	    <td>{{ p.return_home_at|date:"Y-m-d\TH:m" }}</td>
	    <td>{{ p.signed_in_at|date:"Y-m-d\TH:m" }}</td>
	    <td>{{ p.signed_out_at|date:"Y-m-d\TH:m" }}</td>
	    <td>{{ p.ahc }}</td>
	    <td>{{ p.ol }}</td>
	    <td>{{ p.id }}</td>
	    <td>{{ p.member.id }}</td>
	    <td>{{ p.period.id }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="btn navbar-btn" onclick="var n={{event.period_set.all.count}}+2; location.href='{% url "event_period_add" event.id %}#OP'+n">
      <i class="fa fa-area-chart"></i> OP Next
    </button>
  </nav>

</main> {# /.container #}
{% endblock %}
