{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Events{% endblock title %}

{% block subheader %}
{% endblock subheader %}

{% block content %}
<main role="main">

  <nav class="navbar navbar-expand-sm text-primary subhead">
    <button class="btn navbar-btn" onclick='$("#Upcoming_wrapper").toggle();'>
      <strong class="d-md-none"><i class="fa fa-calendar"></i> Current events</strong>
      <strong class="d-none d-md-block" id="UpcomingSubhdr"></strong>
    </button>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ml-auto">
        <a class="nav-link" href="{% url 'event_add' %}">
          <i class="fa fa-calendar-plus-o"></i> New event</a>
      </li>
    </ul>
  </nav>
  <table id="Upcoming" class="display list table-bordered compact nowrap" style="width:100%"></table>

  <nav class="navbar navbar-expand-sm text-primary subhead">
    <button class="btn navbar-btn" id="recent-btn" onclick='$("#Recent_wrapper").toggle();'>
      <strong class="d-md-none" ><i class="fa fa-calendar"></i> Recent events</strong>
      <strong class="d-none d-md-block" id="RecentSubhdr"></strong>
    </button>
  </nav>
  <table id="Recent" class="display list table-bordered compact nowrap" style="width:100%"></table>

  <nav class="navbar navbar-expand-sm text-primary subhead">
    <button class="btn navbar-btn" onclick='$("#dTbl_wrapper").toggle();'>
      <strong class="d-md-none"><i class="fa fa-calendar"></i> All events</strong>
      <strong class="d-none d-md-block" id="subhdr"></strong>
    </button>
  </nav>

  <div id="show-filter" style="display: none">
    <select id="filter-type" multiple="multiple" selectableHeader="Display type">
      <option value='meeting'>Meeting</option>
      <option value='operation'>Operation</option>
      <option value='training'>Training</option>
      <option value='community'>Community</option>
    </select>
  </div>
  <table id="dTbl" class="display list table-bordered compact nowrap" style="width:100%"></table>
</main>

<div class="modal fade" id="date-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="padding-top: 1rem;padding-left: 1rem;" class="modal-title">
          Select Date Range
        </h4>
        <button style="margin: initial;" type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
        <label for="start">Start after: &nbsp </label> {#FX: better alignment #}
        <input type="date" id="start" value="2018-12-12"></input>
        </p><p>
        <label for="end"  >End before: </label>
        <input type="date" id="end"></input>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" data-content="remove" class="btn btn-primary" id="dateBtn">
          Select
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}

order: [[ 6, 'desc' ]],
autoWidth: false,

columns: colDefs,

language: { emptyTable: 'No events selected' },

{% endblock table_options %}

{% block table_buttons_first %}
{
    text: '<i class="fa fa-clock-o"></i> Select',
    action: SelectDate,
    name: 'date',
},
{% endblock table_buttons_first %}

{% block ready_functions %}

$(document).ready(function() {
    // Create Upcoming events table
    var tableUpcoming = $('#Upcoming').DataTable( {
        dom: 'Bfrtip',
        ajax: { url: ComputeUpcoming(), dataSrc: '', },
        responsive: true,
        paging:   false,
        info:     false,

        order: [[ 6, 'asc' ]],
        autoWidth: false,

        columns: colDefs,

        language: { emptyTable: 'No events selected' },

        initComplete: function (settings) {
            var table = new $.fn.dataTable.Api( settings );
            DisplayExpandDetailButton(null, table, []);
        },

        buttons: [
            {
                text: htmlShowDetail,
                action: ShowHideDetail,
            },
            {
                text: '<i class="fa fa-newspaper-o"></i> More',
                extend: 'collection',
                autoClose: true,
                buttons: [ 'copy', 'csv', 'excel', 'print', 'colvis']
            },
        ],

    })

    tableUpcoming.on( 'responsive-resize', DisplayExpandDetailButton );

    // Create Recent events table
    // Initialize datatable with responsive behavior and datatable buttons
    var tableRecent = $('#Recent').DataTable( {
        dom: 'Bfrtip',
        ajax: { url: ComputeRecent(), dataSrc: '', },
        responsive: true,
        paging:   false,
        info:     false,

        order: [[ 6, 'desc' ]],
        autoWidth: false,

        columns: colDefs,

        language: { emptyTable: 'No events selected' },

        initComplete: function (settings) {
            var table = new $.fn.dataTable.Api( settings );
            DisplayExpandDetailButton(null, table, []);
        },

        buttons: [
            {
                text: htmlShowDetail,
                action: ShowHideDetail,
            },
            {
                text: '<i class="fa fa-newspaper-o"></i> More',
                extend: 'collection',
                autoClose: true,
                buttons: [ 'copy', 'csv', 'excel', 'print', 'colvis']
            }
        ],
    })

    tableRecent.on( 'responsive-resize', DisplayExpandDetailButton );

    // Set All Events range
    SetEventDates();

    // Handle Select date
    $(document).on('click', '#dateBtn', function (e) {
        e.preventDefault();
        e.stopPropagation();

        //FIXME inputValidation
        var start = $('#start').val()
        var end = $('#end').val()

        AddRowsByDate(table, start, end)

        $('#date-modal').modal('hide');
    });

    $("#Recent_wrapper").hide();
    $("#dTbl_wrapper").hide();

});

{% endblock ready_functions %}

{% block functions %}
var filterTypes = [];
var filterTypesCap = [];
const titleLength = 35;
const locationLength = 20;

const colDefs = [
    { data: 'title', title: 'Title', responsivePriority: 1,
      className: 'primary', render: rTitle, },
    { data: 'description', title: 'Description', visible: false, responsivePriority: 99, },
    { data: 'location', title: 'Location', responsivePriority: 3, className: 'primary', },
    { data: 'lat', title: 'Lat', visible: false, responsivePriority: 99, },
    { data: 'lon', title: 'Lon', visible: false, responsivePriority: 99, },
    { data: 'leaders', title: 'Leaders', width: '17%', responsivePriority: 4, },
    { data: 'start_at', title: 'Start', width: '20%', responsivePriority: 2,
      type: 'date', render: rDate, },
    { data: 'type', title: 'Type', width: '40px', responsivePriority: 5, },
    { data: 'finish_at', title: 'Finish', visible: false, responsivePriority: 99,
      type: 'date', },
    { data: 'all_day', title: 'All day', visible: false, responsivePriority: 99,
      type: ['false', 'true'], },
    { data: 'published', title: 'Published', visible: false, responsivePriority: 99,
      type: ['false', 'true'], },
];

function SetEventDates () {
    // Handle url parameters, dates should be in BE format but the API will accept both
    const url = new URL(window.location.href);
    const current = url.searchParams.get('current');
    var startBefore = url.searchParams.get('start_before');
    var startAfter = url.searchParams.get('start_after');
    var months = url.searchParams.get('months');

    var start = new Date();
    var y = start.getFullYear();

    if (startAfter == null || startAfter == '')
        // start at new year
        startAfter = DateBE(new Date(y, 0, 1));

    if (startBefore == null || startBefore == '') {
        if (!months) months = 12;
        start.setMonth(start.getMonth() + months);
        startBefore = DateBE(new Date(y, months, 1) - 1);
    }

    if (startAfter) $('#start').val(startAfter);
    if (startBefore) $('#end').val(startBefore);

    AddRowsByDate(table, startAfter, startBefore);
}

// Enable custom filtering function
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        //FX DB data bug allows event type to be Capitalized (remove when?)
        //FIXME: why [] and not data.type
        if ( filterTypes.includes(data[7]) || filterTypesCap.includes(data[5]) ) {
            return true;
        }
        return false;
    }
);

// Initialize selection filter
$('#filter-type').multiSelect({
    selectableHeader: '<div class="custom-header">Show</div>',
    selectionHeader: '<div class="custom-header">Hide</div>',
    afterSelect: function(values){
        UpdateSubheaderBasedOnSettings(table);
        table.draw().columns.adjust().responsive.recalc();//FX
    },
    afterDeselect: function(values){
        UpdateSubheaderBasedOnSettings(table);
        table.draw().columns.adjust().responsive.recalc();//FX
    }
});

function AddRowsByDate (table, start, end) {
    //
    // Add rows based on date range
    // (assumes that start end end have been validated) 
    //
    const apiUrlEvent = '/api/events/';
    var url;

    if (start && end)
        url = apiUrlEvent+'?start_at_after='+start+'&start_at_before='+end;
    else if (start)
        url = apiUrlEvent+'?start_at_after='+start;
    else if (end)
        url = apiUrlEvent+'?start_at_before='+end;
    else
        url = apiUrlEvent;

    table.clear();

    //FX: add error handling
    $.getJSON(url, null, function( json ) {

        for (var i = 0; i < json.length; i++)
        {
            var data = json[i];
            table.row.add(data).invalidate()
        }

        // redraw table after async call
        table.draw().columns.adjust().responsive.recalc();
    })
}

function UpdateSubheaderBasedOnSettings (table) {

    // Clear filter types
    filterTypes = [];
    filterTypesCap = [];

    $('#filter-type option').each(function() {
        if (!this.selected) {
            var eventType = this.value;
            filterTypesCap.push(eventType.charAt(0).toUpperCase() + eventType.substr(1));
            filterTypes.push(eventType);
        }
    });

    $('#subhdr').html(
        '<i class="fa fa-calendar"></i>  All events (' + filterTypes.join(', ') + ')');

}

function ComputeUpcoming () {
    var start, end, fstart, fend;

    start = DateBE(Date());
    end = new Date;
    end.setMonth(end.getMonth() + 1);
    end = DateBE(end);

    fstart = DateFE(start);
    fend = DateFE(end);

    $('#UpcomingSubhdr').html('<i class="fa fa-calendar"></i> Current events ('
                              + fstart + ' to ' + fend + ')');

    return '/api/events/?finish_at_after=' + start + '&start_at_before=' + end;
}

function ComputeRecent () {
    var start = new Date;
    start.setMonth(start.getMonth() + -1);
    var start = DateBE(start);
    var end = DateBE(Date(), -1);
    var fstart = DateFE(start);
    var fend = DateFE(end);

    $('#RecentSubhdr').html('<i class="fa fa-calendar"></i> Recent events ('
                            + fstart + ' to ' + fend + ')');

    return '/api/events/?finish_at_after=' + start + '&start_at_before=' + end;
}

function SelectDate () {
    $('#date-modal').modal('show');
    $('#date-modal input[0]').focus();
}

function rTitle (data, type, row, meta) {
    if (type == 'display') {
        var title = row.title; //Truncate(row.title, titleLength);
        return '<a href="/event/' + row.id + '/">' + title + '</a>';
    } else
        return data;
}

function rLocation (data, type, row, meta) {
    return data;
    return Truncate( data, locationLength);
}

//FIXME: needs to format time or add '*' or something
function rDate (data, type, row, meta) {
    if (type == 'display' && data != null) 
        return DateFE(data.substr(0, 10));
    else
        return data;
}

{% endblock functions %}
