{% extends 'base_table.html' %}

{# --- Page definition --- #}

{% block title %}Event Detail - {{ event.title }}{% endblock title %}

{% block subheader %}
<strong class="d-md-none">
  <a href='{% url "event_list" %}'> Events </a>&gt; {{ event.title }}
</strong>
<strong class="d-none d-md-block">
  <a href='{% url "event_list" %}'> Events </a>&gt; {{ event.title }} ({{ event.type }})
</strong>
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="" href="{% url 'event_update' event.id %}">
      <span>&nbsp;</span> {#FX: shouldn't be necessary #}
      <i class="fa fa-pencil"></i> Edit
    </a>
  </li>
  <li class="nav-item">
    <a class="" href="#" onclick="DeleteEvent({{ event.id }}, '{{ event.title }}')" %}'>
      <span>&nbsp;</span> {#FX: shouldn't be necessary #}
      <i class="fa fa-trash"></i> Delete
    </a>
  </li>
</ul>
{% endblock subheader %}

    
{% block content %}
<main role="main" class="container-fluid">
  <div id="content">
    {% if event.description %}
    <p><strong>Description:</strong> {{ event.description }}</p>
    {% endif %}
    <p><strong>Location:</strong> {{ event.location }}
      <p>
      {% if event.lat != None %}
      <strong>Lat:</strong> {{ event.lat|floatformat:8 }}
      {% endif %}
      {% if event.lon != None %}
      <strong>Lon:</strong> {{ event.lon|floatformat:8 }}
      {% endif %}
      </p></p>
    <p><strong>Leaders:</strong> {{ event.leaders }}</p>
    <p>
      <strong>Start:</strong>
      {% if event.all_day %}
        {{ event.start_at|date:'M j, Y' }}
      {% else %}
        {{ event.start_at|date:'M j, Y H:i' }}
      {% endif %}
      {% if event.finish_at != None %}
      <strong>End:</strong>
      {% if event.all_day %}
        {{ event.finish_at|date:'M j, Y' }}
      {% else %}
        {{ event.finish_at|date:'M j, Y H:i' }}
      {% endif %}
      {% endif %}
    </p>
    <p>
      <strong>All day:</strong> {{ event.all_day }}
      <strong>Published:</strong> {{ event.published }}
    </p>

    {% for period in event.period_set.all %}
    <a name="OP{{period.position}}"></a>
    <details class="hdr" open>

      <summary>
        OP {{period.position}}
        <a href="#" class="float-right"
                onclick="DeleteOP('#dTbl{{period.position}}',
                         {{ period.id }}, {{ period.position }})" %}'>
          <i class="fa fa-trash"></i> Delete OP
        </a>
      </summary>

      <table id="dTbl{{period.position}}" class="display table-bordered compact"
             cellpadding="0" cellspacing="0" style="width:100%">
        <tbody>
          {% for p in period.participant_set.all %}
          <tr>
            <td></td>
            <td>{{ p.member }}</td>
            <td>{{ p.member.status }}</td>
            <td>{{ p.member.status_order }}</td>
            <td>{{ p.en_route_at|date:"Y-m-d" }}</td>
            <td>
              {% if p.en_route_at|date:"H:i" != '00:00' %}
              {{ p.en_route_at|date:"H:i" }}
              {% endif %}
            </td>
            <td>{{ p.return_home_at|date:"Y-m-d" }}</td>
            <td>
              {% if p.return_home_at|date:"H:i" != '00:00' %}
              {{ p.return_home_at|date:"H:i" }}
              {% endif %}
            </td>
            <td>{{ p.signed_in_at|date:"Y-m-d" }}</td>
            <td>
              {% if p.signed_in_at|date:"H:i" != '00:00' %}
              {{ p.signed_in_at|date:"H:i" }}
              {% endif %}
            </td>
            <td>{{ p.signed_out_at|date:"Y-m-d" }}</td>
            <td>
              {% if p.signed_out_at|date:"H:i" != '00:00' %}
              {{ p.signed_out_at|date:"H:i" }}
              {% endif %}
            </td>
            <td>{{ p.ahc|lower }}</td>
            <td>{{ p.ol|lower }}</td>
            <td>{{ p.id }}</td> {# participant id #}
            <td>{{ p.member.id }}</td>
            <td>{{ p.period.id }}</td>
            <td>{{ p.member.is_unavailable }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="dTblFoot{{period.position}}"></div>
    </details>
    {% endfor %}
  </div>

  <p></p>
  <div class="row">
    <a href="#" class="btn navbar-btn"
            onclick="var n={{event.period_set.all.count}}+1; location.href='{% url "event_period_add" event.id %}#OP'+n">
      <i class="fa fa-plus-square-o"></i> OP Next
    </a>
  </div>

</main>
{% endblock content %}

  
{# --- Table definition --- #}

{% block js %}
{{ block.super }}
<script>
'use strict'
//FX: Where should this list come from?
const STATUSES = { TM: 0, FM: 0, T: 0, R: 0, S: 0, A: 0, G: 0, MA: 0 };
window.summary = [];

$(document).ready( function() {
    {% for period in event.period_set.all %}
    window.summary['dTbl{{period.position}}'] = Object.assign({}, STATUSES);
    var table{{period.position}} = $('#dTbl{{period.position}}').DataTable( {
        dom: 'Bfrtip',
        responsive: true,
        select: 'os',
        altEditor: true,
        paging:   false,
        info:     false,
        order: [[2, 'asc'], [1, 'asc']],

        drawCallback: function( settings ) {
            var summary = '';
            var d = window.summary['dTbl{{period.position}}'];
            var attendees = 0;

            for (var k in d)
                if (d[k] != 0) {
                    summary += ',&nbsp;' + k + ':&nbsp;' + d[k]
                    attendees +=  d[k]
                }

            $('#dTblFoot{{period.position}}').html(
                attendees + '&nbsp;attendees:&nbsp;' + summary.substring(1)
            )

        },

        columns: [
            { data: 'mark', width: '5%', responsivePriority: 1,
              orderable: false, type: ['readonly', 'hidden' ],
              className: 'noVis'
            },
            { data: 'name', title: 'Name', responsivePriority: 1,
              type: 'readonly', width: '35%',
              render: function(data, type, row, meta) {
                  if (type == 'display') {
                      if (row.ahc == 'true') data += '(AHC)';
                      if (row.ol == 'true') data += '(OL)';
                      data = '<a href="/member/' + row.member + '">' + data + '</a>';
                      if (row.is_unavailable == 'True') {
                          var event_start = new Date('{{ event.start_at|date:'M j, Y' }}');
                          var event_end = new Date('{{ event.finish_at|date:'M j, Y' }}');
                          var current_date = new Date;

                          if (event_start <= current_date && event_end >= current_date)
                              data = '<i>' + data + '</i>';
                      }
                  }
                  return data;
              }
            },
            { data: 'status', title: 'Status', width: '10%',
              type: ['num', 'readonly'], responsivePriority: 3,
              render: function(data, type, row, meta) {
                  if (type == 'filter')
                      // Summarize the status for all member in the OP
                      window.summary['dTbl{{period.position}}'][data] += 1;
                  else if (type == 'sort')
                      return row.status_order;
                  else
                      ;
                  return data;
              }
            },
            { data: 'status_order', type: ['readonly', 'hidden'],
              visible: false, className: 'noVis', },
            { data: 'en_route_date', title: 'Left', responsivePriority: 2,
              type: 'date', width: '25%',
              render: function (d, t, r, m) {
                  return RenderDateTime(d, t, r, m, 'en_route_time') },
            },
            { data: 'en_route_time', title: 'at', type: 'time',
              visible: false, className: 'noVis'
            },
            { data: 'return_home_date', title: 'Returned', responsivePriority: 2,
              type: 'date', width: '25%',
              render: function (d, t, r, m) {
                  return RenderDateTime(d, t, r, m, 'return_home_time') },
            },
            { data: 'return_home_time', title: 'at', type: 'time',
              visible: false, className: 'noVis'
            },

            { data: 'signed_in_date', title: 'Signed in', responsivePriority: 4,
              type: 'date', visible: false,
              render: function (d, t, r, m) {
                  return RenderDateTime(d, t, r, m, 'signed_in_time') },
            },
            { data: 'signed_in_time', title: 'at', type: 'time',
              visible: false, className: 'noVis'
            },

            { data: 'signed_out_date', title: 'Signed out', responsivePriority: 4,
              type: 'date', visible: false,
              render: function (d, t, r, m) {
                  return RenderDateTime(d, t, r, m, 'signed_out_time') },
            },
            { data: 'signed_out_time', title: 'at', type: 'time',
              visible: false, className: 'noVis'
            },

            { data: 'ahc', title: 'Ahc',
              type: 'select', options: ['false', 'true'],
              visible: false, className: 'noVis'
            },
            { data: 'ol', title: 'Ol',
              type: 'select', options: ['false', 'true'],
              visible: false, className: 'noVis'
            },
            { data: 'id', type: ['readonly', 'hidden'],
              visible: false, className: 'noVis'
            },
            { data: 'member', type: ['readonly', 'hidden'],
              visible: false, className: 'noVis'
            },
            { data: 'period', type: ['readonly', 'hidden'],
              visible: false, className: 'noVis'
            },
            { data: 'is_unavailable', type: ['readonly', 'hidden'],
              visible: false, className: 'noVis', },
        ],

        buttons: [
            {
                text: '<i class="fa fa-bullhorn"></i> Page',
                extend: 'collection',
                autoClose: true,
                buttons: [
                    {
                        text: '<i class="fa fa-hourglass-start"></i> Heads Up',
                        action: function ( e, dt, node, config ) {
                            var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                '&OP={{ period.position }}' +
                                '&period={{ period.id }}' +
                                '&page_format=headsUp';

                            Sentry.withScope(scope => {
                                scope.setLevel('info');
                                Sentry.captureMessage("Paging HeadsUp",
                                                      { extra: { page: href } });
                            });
                            location.href = href;
                        }
                    },
                    {
                        text: '<i class="fa fa-calendar-check-o"></i> Are you available',
                        action: function ( e, dt, node, config ) {
                            var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                '&OP={{ period.position }}' +
                                '&period={{ period.id }}' +
                                '&page_format=available';
                            Sentry.withScope(scope => {
                                scope.setLevel('info');
                                Sentry.captureMessage("Paging Available",
                                                      { extra: { page: href } });
                            });
                            location.href = href;
                        }
                    },
                    {
                        text: '<i class="fa fa-clock-o"></i> Have you left',
                        action: function ( e, dt, node, config ) {
                            if (dt.rows().count() == 0) 
                                alert('Add members to period before paging them');
                            else {
                                var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                    '&OP={{ period.position }}' +
                                    '&period={{ period.id }}' +
                                    '&page_format=leave';
                                Sentry.withScope(scope => {
                                    scope.setLevel('info');
                                    Sentry.captureMessage("Paging Left",
                                                      { extra: { page: href } });
                                });
                                location.href = href;
                            }
                        }
                    },
                    {
                        text: '<i class="fa fa-clock-o"></i> Are you home',
                        action: function ( e, dt, node, config ) {
                            if (dt.rows().count() == 0) 
                                alert('Add members to period before paging them');
                            else {
                                var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                    '&OP={{ period.position }}' +
                                    '&period={{ period.id }}' +
                                    '&page_format=return';
                                Sentry.withScope(scope => {
                                    scope.setLevel('info');
                                    Sentry.captureMessage("Paging Returned",
                                                          { extra: { page: href } });
                                });
                                location.href = href;
                            }
                        }
                    },
                    {
                        text: '<i class="fa fa-wrench"></i> Info (team)',
                        action: function ( e, dt, node, config ) {
                            if (dt.rows().count() == 0)
                                alert('Add members to period before paging them');
                            else {
                                var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                    '&OP={{ period.position }}' +
                                    '&period={{ period.id }}' +
                                    '&page_format=info';
                                Sentry.withScope(scope => {
                                    scope.setLevel('info');
                                    Sentry.captureMessage("Paging Info",
                                                          { extra: { page: href } });
                                });
                                location.href = href;
                            }
                        }
                    },
                    {
                        text: '<i class="fa fa-wrench"></i> Broadcast (unit)',
                        action: function ( e, dt, node, config ) {
                            var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                '&OP={{ period.position }}' +
                                '&period={{ period.id }}' +
                                '&page_format=broadcast';
                            Sentry.withScope(scope => {
                                scope.setLevel('info');
                                Sentry.captureMessage("Paging Broadcast",
                                                      { extra: { page: href } });
                            });
                            location.href = href;
                        }
                    },
                    {
                        text: '<i class="fa fa-wrench"></i> Test',
                        action: function ( e, dt, node, config ) {
                            if (dt.rows().count() == 0) 
                                alert('Add members to period before paging them');
                            else {
                                var href = '{% url "message_add" %}?eid={{ event.id }}' +
                                    '&OP={{ period.position }}' +
                                    '&period={{ period.id }}' +
                                    '&page_format=test';
                                Sentry.withScope(scope => {
                                    scope.setLevel('info');
                                    Sentry.captureMessage("Paging Test",
                                                          { extra: { page: href } });
                                });
                                location.href = href;
                            }
                        }
                    },
                ]
            },
            {
                text: '<i class="fa fa-address-book"></i> Add',
                action: function () {
                    var href='{% url "period_participant_add" period.id %}?' +
                        'et={{period.event.title}} OP{{period.position}}&' +
                        'eid={{event.id}}&pn={{period.position}}&' +
                        'pid={{period.id}}';
                    location.href = href;
                }
            },
            {
                extend: 'selected',
                text: '<i class="fa fa-edit"></i> Edit',
                name: 'edit'        // do not change name
            },
            {
                autoClose: true,
                text: '<i class="fa fa-user"></i> Delete',
                action: DeleteParticipants,
            },
            {
                text: '<i class="fa fa-bars"></i>' +
                    '<span class="d-none d-md-inline"> More</span>',
                extend: 'collection',
                autoClose: true,
                buttons: [
                    { text: 'Search',
                      action: function () {
                          $("#dTbl{{period.position}}_filter").toggle() }
                    },
                    { text: 'Set times',
                      extend: 'collection',
                      autoClose: true,
                      buttons: [
                          { text: 'Left now',
                            extend: 'selected',
                            ref_field: 'en_route',
                            action: UpdateNow,
                          },
                          { text: 'Returned now',
                            extend: 'selected',
                            ref_field: 'return_home',
                            action: UpdateNow,
                          },
                          { text: 'Signed-in now',
                            extend: 'selected',
                            ref_field: 'signed_in',
                            action: UpdateNow,
                          },
                          { text: 'Signed-out now',
                            extend: 'selected',
                            ref_field: 'signed_out',
                            action: UpdateNow,
                          },
                      ]
                    },

                    'copy', 'csv', 'excel', 'print',
                    {
                        extend: 'colvis',
                        columns: ':not(.noVis)'
                    }
                ],
            }
        ],

        onEditRow: UpdatePeriodRow,

        language: { emptyTable: 'No members added' },
    });
    
    table{{period.position}}.on( 'select', MarkRow);
    $("#dTbl{{period.position}}_filter").hide();

    {% endfor %}

})

function UpdateNow ( e, dt, node, config ) {
    dt.cells('.marked').every(
        function ( idx, tableLoop, rowLoop ) {
            var row = this.row(this.index().row);
            var data = row.data();
            var d = new Date;
            data.tblId = this.table().node().id;
            data[config.ref_field + '_date'] = DateBE(d);
            data[config.ref_field + '_time'] = d.getHours() + ':' +
                d.getMinutes().toString().padStart(2, 0);
            row.data(data);
            UpdatePeriodRow(dt, data, function (data) { return data })
        }
    )
}

function RenderDateTime(data, type, row, meta, time) {
    // Display date and time
    if ( data && type == 'display' ) {
        var d =  DateFE(data);
        var t = row[time];
        if (t == '') t = '00:00';
        return d + ' ' + t;
    }

    return data;
}

function UpdatePeriodRow(dt, row, success, error) {
    
    var memberName = row.name;
    var memberStatus = row.status;
    var memberStatusOrder = row.status_order;
    var memberUnavailable = row.is_unavailable;
    // Remove from summary, it is readded on display
    window.summary[row.tblId][memberStatus] -= 1;


    function ReturnData (data) {
        // Create closure with memberName and Status

        function UncombineDateTime (ref) {
            // Separate date and time into _date and _time columns
            var d = '';
            var t = '';
            var ft =  data[ref + '_at'];
            if (ft) {
                d = ft.substr(0, 10);
                t = ft.substr(11, 5);
                if (t == '00:00') t = '';
            }

            data[ref + '_date'] = d;
            data[ref + '_time'] = t;
        }

        data.name = memberName;
        data.status = memberStatus;
        data.status_order = memberStatusOrder;
        data.is_unavailable = memberUnavailable;
        // Create additional rows for editing
        UncombineDateTime('en_route');
        UncombineDateTime('return_home');
        UncombineDateTime('signed_in');
        UncombineDateTime('signed_out');

        data.ahc = data.ahc.toString();
        data.ol = data.ol.toString();

        // Add ephemeral row
        data.mark = ''

        // Clear marks
        //FX: Is this the right place for this, only needs to be called once per operation
        $('td.marked').removeClass('marked');
        $('tr.selected').removeClass('selected');
        return success(data);
    }

    function DataDateTime (ref) {
        // Combine date and time for BE
        // assumes localtime
        var d = row[ref + '_date'];
        var t = row[ref + '_time'];
        var ft = null;

        if (d && t)
            ft = d + 'T' + t;
        else if (d)
            ft = d + 'T00:00' ;
        else
            ;
        
        data[ref + '_at'] = ft;
    }

    var data = {};

    data.id = row.id;
    DataDateTime('en_route');
    DataDateTime('return_home');
    DataDateTime('signed_in');
    DataDateTime('signed_out');
    data.ahc = row.ahc;
    data.ol = row.ol;
    
    var pid = data.id;
    data = JSON.stringify(data);
    $.ajax({
        method: 'PATCH',
        contentType: 'application/json',
        url: '/api/participants/' + pid + '/',
        data: data,
        success: ReturnData,
        error: function (xhr) {
            console.log('member edit failed');
            console.log(xhr);
            alert(xhr.responseText);
            return false;
        }
    })
}

function DeleteEvent ( event, title ) {
    var numParticipants = 0;
    {% for period in event.period_set.all %}
      numParticipants += {{ period.members_for_info_page|length }}
    {% endfor %}
    if (numParticipants > 0) {
        alert('Events with active operational periods cannot be deleted');
        return;
    }
    var ok = confirm('Delete event?\n'+title);
    if (ok) {
        $.ajax({
            method: 'DELETE',
            contentType: 'application/json',
            url: '/api/events/' + event + '/',
        })
        location.href = '/event/';
    }
}

function DeleteOP (tblName, period, position ) {

    var ok = confirm('Delete Operational Period (OP' + position + ')?');

    if (ok) {
        var cnt = $(tblName).DataTable().rows().count();
        if (cnt != 0 )
            ok = confirm('Are you sure?  This period has participants!');
    }

    if (ok) {
        $.ajax({
            method: 'DELETE',
            contentType: 'application/json',
            url: '/api/periods/' + period + '/',
            success: function () {
                location.href='/event/' + {{ event.id }};
            },
            error: function (msg) {
                console.log('Operational period delete failed: '+msg);
                alert(msg);
                return false;
            },
        })
    }
}

function DeleteParticipants ( e, dt, node, config ) {
    var members = [];
    dt.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
        if (this.nodes().to$().children().first().hasClass('marked'))
            members.push(this.data().id)
    })
    
    if (members.length == 0) {
        alert('Select members before deleting them');
        return;
    }
    
    var ok = confirm('Delete '+members.length+' members?');
    
    if (ok) {
        for (var i=0; i<members.length; i++) {
            $.ajax({
                method: 'DELETE',
                contentType: 'application/json',
                url: '/api/participants/' + members[i] + '/',
                success: function () {
                    location.reload(true);
                },
                error: function (msg) {
                    console.log('Participant delete failed: '+msg);
                    alert(msg);
                    return false;
                },
            })
        }
    }
}

//FX: Hoist after event_detail rewritten
function MarkRow ( e, dt, type, indices ) {
        var allMarked = true;
        var numRows = indices.length;
        if (numRows > 1) {
            dt.rows(indices).every( function ( rowIdx, tableLoop, rowLoop ) {
                // For multi select - unmark only when every row is marked
                allMarked = allMarked && this.nodes().to$().children().first().hasClass('marked');
            })
        }
        dt.rows(indices)
            .every( function ( rowIdx, tableLoop, rowLoop ) {
                if (numRows > 1) {
                    if (allMarked)
                        $(this.node()).children().first().removeClass('marked');
                    else
                        $(this.node()).children().first().addClass('marked');
                } else {
                    if ($(this.node()).children().first().hasClass('marked')) {
                        $(this.node()).children().first().removeClass('marked');
                        this.deselect();
                    } else
                        $(this.node()).children().first().addClass('marked');
                }
            });
}

</script>
{% endblock js %}
