{% extends 'base_generic.html' %}
{% load bootstrap4 %}

{% block title %}Update Event{% endblock title %}

{% block subheader %}
<strong>
  <a href="{% url 'event_list' %}">Events</a> &gt; Update
</strong>
{% endblock subheader %}


{% block content %}
<main role="main" class="container">
  <div id="content">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="button" id="geo" onclick="lookupGeoData();">GeoPicker</button>
      <input type="submit" value="Update" />
    </form>
  </div>
</main>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="http://api.mygeoposition.com/api/geopicker/api.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#id_location').parent().append($('#geo'));

    $('#id_all_day').click(function() {
        if ($('#id_all_day').prop('checked')) {
            $('#id_start_1').hide()
            $('#id_finish_1').hide()
            $('#id_start_1').val('00:00')
            if ($('#id_finish_0').val() != '')
                $('#id_finish_1').val('23:59')
        } else {
            $('#id_start_1').show()
            $('#id_finish_1').show()
            $('#id_start_1').val('')
            $('#id_finish_1').val('')
        }

        return true;
    });

    if ($('#id_all_day').prop('checked')) {
        $('#id_start_1').hide()
        $('#id_finish_1').hide()
    }
});

function lookupGeoData() {            
    myGeoPositionGeoPicker({
        startAddress     : $('#id_location').val(),
        returnFieldMap   : {
            'id_lat' : '<LAT>',
            'id_lon' : '<LNG>',
            'id_location' : '<ADDRESS>'
        }
    });
}
</script>
{% endblock js %}
