{% extends 'base_ftable.html' %}

{% block title %}Files{% endblock title %}

{% block subheader %}
<strong>Files</strong>
<ul class="navbar-nav ml-auto">
  <li class="nav-item ml-auto">
    <a href="{% url 'file_upload' %}">
      <i class="fa fa-upload"></i>
      Upload a new file
    </a>
  </li>
</ul>
{% endblock subheader %}

{% block content %}
<main role="main" class="container-fluid">
  <table id="dTbl" class="display table-bordered compact nowrap" style="width:100%">
    <thead></thead>
    <tbody>
      {% for file in file_list %}
      {% spaceless %}
      <tr>
        <td><a href="{% url 'file_download' file.id %}">{{ file.name }}</td>
        <td>{{ file.caption }}</td>
        <td>{{ file.created_at|date:'Y-m-d H:i' }}</td>
        <td>{{ file.size }}</td>
        <td>{{ file.download_count }}</td>
        <td>{{ file.extension }}</td>
        <td>{{ file.member.full_name }}</td>
      </tr>
      {% endspaceless %}
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}
order: [[ 0, 'asc' ]],
deferRender: true,
paging: true,

columns: [
    { data: 'name', title: 'File name', width: '40%', responsivePriority: 1, },
    { data: 'caption', title: 'Description', width: '20%', responsivePriority: 2, },
    { data: 'created_at', title: 'Updated', responsivePriority: 3, },
    { data: 'size', title: 'Size', responsivePriority: 4, },
    { data: 'download_count', title: 'Downloads', responsivePriority: 6, },
    { data: 'extension', title: 'Type', responsivePriority: 7, },
    { data: 'full_name', title: 'Uploaded By', responsivePriority: 5, },
],

language: { emptyTable: 'No files found' },

{% endblock table_options %}

{# remove filter button #}
{% block filter_button %}{% endblock %}

{% block functions %}

function UpdateSubheaderBasedOnSettings(table) {}

{% endblock functions %}
