{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Inbound Messages{% endblock title %}

{% block subheader %}
  <strong>Inbound Message Log</strong>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item ml-auto">
      <a href="{% url 'message_list' %}">
        <i class="fa fa-list"></i> Outbound Message Log</a>
    </li>
  </ul>
{% endblock subheader %}

{% block content %}
<main role="main">
  <table id="dTbl" class="display table-bordered compact nowrap" style="width:100%">
    <tbody>
      {% for inbound in inbound_list %}
      <tr>
        <td>{{ inbound.body }}</a></td>
        <td>{{ inbound.member }}</td>
        <td data-sort="{{ event.created_order }}">
          {{ inbound.created_at|date:"Y-m-d\TH:i:s" }}</td>
        <td>{{ inbound.from_number }}</td>
        <td>{{ inbound.to_number }}</td>
        <td>{% with inbound.outbound.distribution.message as message %}
          <a href="{% url 'message_detail' message.id %}">
            {{ message.text|truncatechars:20 }}</a
          {% endwith %}
        </td>
        <td>{{ inbound.extra_info }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}

order: [[ 2, 'desc' ]],  //FX: Consider subsort order
deferRender: true,
paging: true,

columns: [
    {data: 'text', title: 'Message', responsivePriority: 1, },
    {data: 'author', title: 'From', responsivePriority: 3, },
    {data: 'sent_at', title: 'Received', responsivePriority: 2,
     render: function (data, type, row, meta) {
         if (type == 'display') {
             var d = data.split('T');
             return DateFE(d[0]) + ' ' + d[1];
         } else
             return data;
     }},
    {data: 'from', title: 'From number', responsivePriority: 3, },
    {data: 'to', title: 'To number', responsivePriority: 3, },
    {data: 'outbound', title: 'Outbound', responsivePriority: 5, },
    {data: 'extra_info', title: 'Extra Info', visible: false, responsivePriority: 5, },
],

language: { emptyTable: 'No messages' },

{% endblock table_options %}

{# remove filter button #}
{% block filter_button %}{% endblock %}

{% block functions %}
  function UpdateSubheaderBasedOnSettings(table) {}
{% endblock functions %}
