{% extends 'base_generic.html' %}

{% block content %}
<p>
  Welcome to BAMRU.net. Please use the menu above to navigate the site
<br />
  or select from the follow common actions:
</p>

<div class="btn-group-vertical">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'event_list' %}">
        <i class="fa fa-calendar"></i>
        Events
      </a>
    </li><li class="nav-item">
      <a class="nav-link" href="{% url 'member_list' %}">
        <i class="fa fa-address-book"></i>
        Members
      </a>
    </li><li class="nav-item">

      <a class="nav-link" href="{% url 'available_list' %}">
        <i class="fa fa-calendar"></i>
        Team Availability
      </a>
    </li><li class="nav-item">
      <a class="nav-link" href="http://wiki.bamru.net" target="_blank">
        <i class="fa fa-university"></i>
        Wiki
      </a>
    </li><li class="nav-item">
      <a class="nav-link" href="{% url 'action_become_do' %}">
        <i class="fa fa-bolt"></i>
        Become DO
      </a>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">
        <i class="fa fa-bolt"></i>
        Temporary DO change
      </a>
    <li class="nav-item">
  </ul>
</div>
{% endblock %}
