{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Team Members{% endblock title %}

{% block subheader %}
<strong class="d-md-none" >Members</strong>
<strong class="d-none d-md-block" id="subhdr"></strong>
<ul class="navbar-nav ml-auto">
  <li class="nav-item ml-auto">
    <a href="{% url 'member_detail' request.user.id %}?returnx=ml">
      <i class="fa fa-user"></i>
      Profile
    </a>
  </li>
</ul>
{% endblock subheader %}

{% block content %}
<main class="flex-grow" role="main">
  <div id="show-filter" style="display: none">
    <select id="filter-status" multiple="multiple" selectableHeader="Display status">
      <option value="TM">Technical Member</option>
      <option value="FM">Field Member</option>
      <option value="T">Trainee</option>
      <option value="R">Reserve</option>
      <option value="S">Support</option>
      <option value="A">Associate</option>
      <option value="G" >Guest</option>
      <option value="MA">Member Alum</option>
    </select>
  </div>
  <table id="dTbl" class="display list table-bordered compact nowrap" style="width:100%">
    <tbody>
      {% for member in member_list %}
      {% spaceless %}
      <tr>
        <td>{{ member.full_name }}</td>
        <td>{{ member.id }}</td>
        <td>{{ member.status }}</td>
        <td>{{ member.status_order }}</td>
        <td>{{ member.roles }}</td>
        <td>{{ member.role_order }}</td>
        <td>{{ member.display_phone }}</td>
        <td>{{ member.display_email }}</td>
      </tr>
      {% endspaceless %}
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}
order: [[ 4, 'desc' ]],

columns: colDefs,

language: { emptyTable: 'No members selected' },

{% endblock table_options %}

{% block initComplete %}
SetMemberFilter (table);
{% endblock initComplete %}

{% block functions %}
const colDefs = [
    { data: 'full_name', title: 'Name', responsivePriority: 1,
      render: function(data, type, row, meta) {
          if (type == 'display')
              return '<a href="/member/' + row.id + '?returnx=pp">' + data + '</a>';
          else
              return data;
      }
    },
    { data: 'id', visible: false, className: 'noVis', },
    { data: 'status', title: 'Status', width: '35px', responsivePriority: 4,
      render: function(data, type, row, meta) {
          if (type == 'sort')
              return row.status_order;
          else
              return data;
      }
    },
    { data: 'status_order', visible: false, className: 'noVis', },
    { data: 'roles', title: 'Roles', width: '50px', responsivePriority: 3,
      render: function(data, type, row, meta) {
           if (type == 'sort') {
               // order: asc and role_order doesn't work
               return 99 - row.role_order; //FX?
           } else
              return data;
      }
    },
    { data: 'role_order', visible: false, className: 'noVis', },
    { data: 'display_phone', title: 'Phone', width: '75px', responsivePriority: 2, },
    { data: 'display_email', title: 'eMail', responsivePriority: 2, },
];

function UpdateSubheaderBasedOnSettings(table) {
    // Extract currently selected status based on filter
    var showStatus = [];
    $('#filter-status option').each(function() {
        if (!this.selected) {
            showStatus.push(this.value);
        }
    })

    $('#subhdr')[0].innerHTML = 'Members (' + showStatus.join(', ') + ')';
}

{% endblock functions %}
