{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Team Members{% endblock title %}

{% block subheader %}
<strong id="subhdr">Members</strong>
<ul class="navbar-nav ml-auto">
  <li class="nav-item ml-auto">
    <a class="nav-link" href="{% url 'member_detail' request.user.id %}?returnx=ml">
      <i class="fa fa-user"></i>
      Profile
    </a>
  </li>
</ul>
{% endblock subheader %}

{% block content %}
<main role="main">
  <div id="show-filter" style="display: none">
    <select id="filter-rank" multiple="multiple" selectableHeader="Display rank">
      <option value="TM">Technical Member</option>
      <option value="FM">Field Member</option>
      <option value="T">Trainee</option>
      <option value="R">Reserve</option>
      <option value="S">Support</option>
      <option value="A">Associate</option>
      <option value="G" >Guest</option>
      <option value="MA">Member Alum</option>
    </select>
  </div>
  <table id="dTbl" class="display table-bordered nowrap" style="width:100%">
    <tbody>
      {% for member in member_list %}
      {% if member.isActive %}
      {% spaceless %}
      <tr>
        <td>{{ member.full_name }}</td>
        <td>{{ member.id }}</td>
        <td>{{ member.rank }}</td>
        <td>{{ member.rank_order }}</td>
        <td>{{ member.roles }}</td>
        <td>{{ member.role_order }}</td>
        <td>{{ member.display_phone }}</td>
        <td>{{ member.display_email }}</td>
      </tr>
      {% endspaceless %}
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}
order: [[ 4, 'desc' ]],

columnDefs: [
    { responsivePriority: 1, targets: 0 },
    { responsivePriority: 2, targets: 3 },
    { responsivePriority: 3, targets: 4}
],

columns: [
    { data: 'full_name', title: 'Name', responsivePriority: 1,
      render: function(data, type, row, meta) {
          if (type == 'display')
              return '<a href="/member/' + row.id + '?returnx=pp">' + data + '</a>';
          else
              return data;
      }
    },
    { data: 'id', visible: false, },
    { data: 'rank', title: 'Rank', responsivePriority: 2,
      render: function(data, type, row, meta) {
          if (type == 'sort')
              return row.rank_order;
          else
              return data;
      }
    },
    { data: 'rank_order', visible: false, },
    { data: 'roles', title: 'Roles', responsivePriority: 1,
      render: function(data, type, row, meta) {
           if (type == 'sort') {
               // order: asc and role_order doesn't work
               return 99 - row.role_order; //FX?
           } else
              return data;
      }
    },
    { data: 'role_order', visible: false, },
    { data: 'display_phone', title: 'Phone', },
    { data: 'display_email', title: 'eMail', },
],

language: { emptyTable: 'No members selected' },

{% endblock table_options %}

{% block initComplete %}
{
    //find members and set selection
    window.ranks = [];
    table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
        ranks[this.data().rank] = true;
    });
    ranks = Object.keys(ranks);
    $('#filter-rank > option').each( function ( i ) {
        if (ranks.includes(this.value))
            this.removeAttribute('selected');
        else
            this.setAttribute('selected', '');
    });

    $('#filter-rank').multiSelect({
        // The sense of the multiSelect is inverted: show = deselect, hide = select
        selectableHeader: '<div class="custom-header">Show</div>',
        selectionHeader: '<div class="custom-header">Hide</div>',
        afterSelect: function(values){
            RemoveRows(table,values);
            UpdateSubheaderBasedOnSettings(table);
        },
        afterDeselect: function(values){
            AddRows(table,values);
            UpdateSubheaderBasedOnSettings(table);
        }
    })
}
{% endblock initComplete %}

{% block functions %}
const apiUrlMemberRank = '/api/members/?member_rank=';

function AddRows(table, values) {
    //
    // Add rows based rank
    //
    var url = apiUrlMemberRank+values[0];
    //FIXME: add error handling
    $.getJSON(url, null, function( json ) {
        
        for (var i = 0; i < json.length; i++)
        {
            var data = json[i];
            table.row.add(data);
        }
        
        // redraw table after async call
        table.draw().columns.adjust().responsive.recalc();
    })
}


function RemoveRows(table, values)
{
    // Remove rows based on rank
    table.rows(
        function ( idx, data, node ) {
            return data.rank == values[0];
        } )
        .remove();

    table.draw()
}

function UpdateSubheaderBasedOnSettings(table) {
    // Extract currently selected ranks based on filter
    var showRanks = [];
    $('#filter-rank option').each(function() {
        if (!this.selected) {
            showRanks.push(this.value);
        }
    })

    $('#subhdr')[0].innerHTML = 'Members (' + showRanks.join(', ') + ')';
}

{% endblock functions %}
