{% extends 'base_table.html' %}
{% load rules %}

{% block title %}Member - {{member.username}}{% endblock title %}

{% block subheader %}
<strong id='subhdr'></strong>
<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a class="nav-link" href={% url 'report_activity_member' member.id %}>
      <i class="fa fa-file"></i>
      Activity report
    </a>
  </li>
  {% if member.id == request.user.id %}
  <li class="nav-item dropdown">
    <a class="nav-link" href={% url 'password_change' %}>
      <i class="fa fa-key"></i>
      Change password
    </a>
  </li>
  {% endif %}
  {% has_perm 'main.change_member' request.user member as can_edit_member %}
  {% if can_edit_member %}
  <li class="nav-item dropdown">
    <a class="nav-link" href={% url 'member_photos' member.id %}>
      <i class="fa fa-camera-retro"></i>
      Edit photos
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link" href={% url 'member_edit' member.id %}>
      <i class="fa fa-pencil"></i>
      Edit
    </a>
  </li>
  {% endif %}
</ul>
{% endblock subheader %}

{% block content %}
<main role="main" class="container-fluid">
<div class="row">
  <div class="col-sm-8">
  {% if member.is_current_do %}
    <p style="color:red">CURRENT DO</p>
  {% endif %}
  <strong>Email addresses:</strong>
  <ul>
    {% for em in member.email_set.all %}
    <li>{{ em.address }} ({{ em.type }}{% if em.pagable %}, pageable{% endif %})</li>
    {% endfor %}
  </ul>
  <strong>Phone numbers:</strong>
  <ul>
    {% for ph in member.phone_set.all %}
    <li>{{ ph.number }} ({{ ph.type }}{% if ph.pagable %}, pageable{% endif %})</li>
    {% endfor %}
  </ul>
  <strong>Addresses:</strong>
  <ul>
    {% for ad in member.address_set.all %}
    <li>
      {{ ad.address1 }}
      {% if ad.address2 %}
        {{ ad.address2 }}
      {% endif %}
      {{ ad.city }}, {{ ad.state }} {{ ad.zip }} ({{ ad.type }})
    </li>
    {% endfor %}
  </ul>
  <strong>Emergency Contacts:</strong>
  <ul>
    {% for ec in member.emergencycontact_set.all %}
    <li>{{ ec.name }}: {{ ec.number }} ({{ ec.type }})</li>
    {% endfor %}
  </ul>
  <p> <strong>Username:</strong> {{ member.username }}</p>
  <p> <strong>Last Sign In at:</strong> {{ member.last_sign_in_at }}</p>

  {% if member.ham %}<strong>Ham:</strong> {{ member.ham }}{% endif %}
  {% if member.v9 %}<strong>V9:</strong>{{ member.v9 }}{% endif %}
  <strong> Privileges:</strong>
    {% if member.is_active %}Login{% endif %}
    {% if member.is_staff %}Staff{% endif %}
</div>
<div class="col-sm-4">
 {% for p in member.memberphoto_set.all %}
   <a href="{% url 'member_photo_download' p.id 'original' %}" class="d-inline-block mx-1 my-2">
     <img src="{% url 'member_photo_download' p.id 'medium' %}" style="max-height: 150px" />
   </a>
 {% endfor %}
</div>
</div>

  <p></p>
  <nav class="navbar navbar-expand-sm text-primary subhead">
  <strong>Certifications</strong>
  {% has_perm 'main.change_certs_for_member' request.user member as can_edit_member_certs %}
  {% if can_edit_member_certs %}
  <a class="ml-auto" href="{% url 'member_cert_list' member.id %}">
    <i class="fa fa-certificate"></i>
    Edit Certifications
  </a>
  {% endif %}
  </nav>
  <table id="dTbl" class="display table-bordered compact"
         cellpadding="0" cellspacing="0" style="width:100%">
  </table>
</main>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
$(document).ready( function() {
    var certUrl = '/api/member_certs/{{ member.id }}/';
    var table = $('#dTbl').DataTable( {
        dom: 'rtip',
        ajax: { url: certUrl,
                dataSrc: function ( json ) {
                    var data = [];
                    for ( var i=0 ; i<json.certs.length ; i++ ) {
                        var nc = json.certs[i].length;
                        if (nc > 0) {
                            for ( var j=0; j<nc ; j++ ) {
                                data.push(json.certs[i][j]);
                            }
                        }
                    }
                    return data;
                }
        },
        paging:   false,
        info:     false,

        order: [[ 0, 'asc' ]],

        columns: [
            { data: 'display', title: 'Cert', responsivePriority: 1 },
            { data: 'description', title: 'Description', responsivePriority: 3, },
            { data: 'cert_name', title: 'Documentation', responsivePriority: 4,
              render: renderCertDocumentation
            },
            { data: 'comment', title: 'Comment', responsivePriority: 10, },
            { data: 'expires_on', title: 'Expiration', responsivePriority: 2,
              type: 'date',
              render: function(data, type, row, meta) {
                  if (type == 'display') {
                      if (data) {
                          // Add color for up coming cert expires_on
                          var cell = $('#dTbl').DataTable().cell(meta.row, meta.col);
                          $(cell.node()).css('background-color', row.color)

                          data = DateFE(data);
                      }
                  } else {
                      const co = { white: 1, red: 5, orange: 4, yellow: 3, limegreen: 2 };
                      data = co[row.color] + data;
                  }

                  return data;
              },
            },
        ],

        language: { emptyTable: 'No active certifications' },

    });

    const url = new URL(window.location.href);
    var rx = url.searchParams.get('returnx');

    const returns = {
        ml: '<a href="{% url 'member_list' %}"> Members </a>',
        al: '<a href="{% url 'available_list' %}"> Team Availability </a>',
        cl: '<a href="{% url 'cert_list' %}"> Team Certs </a>',
        ma: '<a href="{% url 'member_availability_list'  member.id %}"> Availability </a>',
        mc: '<a href="{% url 'member_cert_list' member.id %}"> Certification </a>',
        pp: '<a href="{% url 'member_list' %}"> Members </a>', //FX: needs better return
        md: '<a href="{% url 'member_detail' member.id %}"> Members </a>',
    }
    //FX: do something similar for event_detail -> (event_list, message_list)

    rx = rx ? rx : 'ml';
    href = returns[ rx ];

    $("#subhdr")[0].innerHTML = href + " > {{ member.full_name }} ({{ member.status }}{% if member.roles %}: {{ member.roles }}{% endif %})";
});
</script>
{% endblock js %}
