{% extends 'base_generic.html' %}

{% block title %}Member - {{member.username}}{% endblock title %}

{% block subheader %}
  <strong id='subhdr'>
  </strong>

<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a href={% url 'member_edit' member.id %} class="nav-link">
      <i class="fa fa-pencil"></i>
      Edit
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link" href="{% url 'member_availability_list'  request.user.id %}">
      <i class="fa fa-calendar-times-o"></i>
      Availability
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link" href="{% url 'member_cert_list'  request.user.id %}">
      <i class="fa fa-calendar-times-o"></i>
      Certs
    </a>
  </li>
  <li class="nav-item dropdown">
   <a class="nav-link"  href="{% url 'message:message_inbox' request.user.id%}">
     <i class="fa fa-inbox"></i>
      Inbox
    </a>
  </li>
</ul>
{% endblock subheader %}


{% block js %}
{{ block.super }}
<script>
$(document).ready( function() {
    const url = new URL(window.location.href);
    const rx = url.searchParams.get('returnx');
    const returns = {
        'ml': '<a href="{% url 'member_list' %}"> Members </a>',
        'al': '<a href="{% url 'available_list' %}"> Team Availability </a>',
        'cl': '<a href="{% url 'cert_list' %}"> Team Certs </a>',
        'ma': '<a href="{% url 'member_availability_list'  member.id %}"> Availability </a>',
        'mc': '<a href="{% url 'member_cert_list' member.id %}"> Certification </a>',
        'pp': '<a href="{% url 'member_list' %}"> Members </a>', //FIXME: needs better return
        'md': '<a href="{% url 'member_detail' member.id %}"> Members </a>',
    }
    //FIXME: do something similar for event_detail -> (event_list, message_list)

    href = returns[rx];

    $("#subhdr")[0].innerHTML = href + " > {{ member.full_name }} ({{ member.rank }})";
});
</script>
{% endblock js %}


{% block content %}
<main role="main" class="container">
  {% if member.is_current_do %}
    <p style="color:red">CURRENT DO until</p>
  {% endif %}
  <strong>Phone numbers:</strong>
  <ul>
    {% for ph in member.phone_set.all %}
    <li>{{ ph.number }} ({{ ph.type }}{% if ph.pagable %}, pageable{% endif %})</li>
    {% endfor %}
  </ul>
  <strong>Addresses:</strong>
  <ul>
    {% for ad in member.address_set.all %}
    <li>
      {{ ad.address1 }}
      {% if ad.address2 %}
        {{ ad.address2 }}
      {% endif %}
      {{ ad.city }}, {{ ad.state }} {{ ad.zip }} ({{ ad.type }})
    </li>
    {% endfor %}
  </ul>
  <strong>Emergency Contacts:</strong>
  <ul>
    {% for ec in member.emergencycontact_set.all %}
    <li>{{ ec.name }}: {{ ec.number }} ({{ ec.type }})</li>
    {% endfor %}
  </ul>
  <p> <strong>Username:</strong> {{ member.username }}</p>
  <p> <strong>Last Sign In at:</strong> {{ member.last_sign_in_at }}</p>

  {% if member.ham %}<strong>Ham:</strong> {{ member.ham }}{% endif %}
  {% if member.v9 %}<strong>V9:</strong>{{ member.v9 }}{% endif %}
  {% if member.is_active %}<strong>Active</strong>{% endif %}
  {% if member.is_staff %}<strong>Staff</strong>{% endif %}

</main>
{% endblock %}
