{% extends 'base_ftable.html' %}
{# --- Page definition --- #}

{% block title %}Certs - {{member.full_name}} {% endblock title %}

{% block subheader %}
<strong>
    <a href="{% url 'member_detail' member.id %}?returnx=mc">
    {{member.full_name }} ({{ member.status }})</a>
    &gt; Certs
</strong>
{% endblock subheader %}

{% block content %}
<main role="main">
  <table id="dTbl" class="display table-bordered compact wrap" style="width:100%">
    <tbody>
      {% for cert in cert_list %}
      <tr>
        <td>{{ cert.get_type_display }}</td>
        <td>{{ cert.description }}</td>
        <td>{{ cert.cert_name }}</td>
        <td>{{ cert.link }}</td>
        <td>{{ cert.comment }}</td>
        <td>{{ cert.expires_on|date:"Y-m-d" }}</td>
        <td>{{ cert.id }}</td>
        <td>{{ cert.is_expired }}</td>
        <td>{{ cert.color }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}

select: 'os',
altEditor: true,

order: [[ 5, 'desc']],

columns: [
    { data: 'type', title: 'Type', responsivePriority: 1,
      type: 'readonly',
      render: function ( data, type, row, meta ) {
          if (type = 'display' && row.display) {
              // Handle type 'cpr' -> 'CPR'
              data = row.display
          }
          return data;
      },
    },
    { data: 'description', title: 'Description', responsivePriority: 3, },
    { data: 'cert_name', title: 'Documentation', responsivePriority: 3,
      type: ['read-only', 'hidden'],
      render: renderCertDocumentation
    },
    { data: 'link', title: 'Link', visible: false, className: 'noVis', },
    { data: 'comment', title: 'Comment', responsivePriority: 10 },
    { data: 'expires_on', title: 'Expiration', responsivePriority: 2,
      type: 'date', 
      render: function(data, type, row, meta) {
          if (type == 'display') {
              if (data) {
                  // Add color for up coming cert expires_on
                  var rnode = $('#dTbl').DataTable().row(meta.row).node();
                  $('td:eq(5)', rnode).css('background-color', row.color)

                  data = DateFE(data);
              }
          } else {
              const colorOrder = {
                  white: 1, red: 5, orange: 4, yellow: 3, limegreen: 2
              };
              data = colorOrder[row.color] + data;
          }
          return data;
      },
    },
    { data: 'id', title: 'Id',
      type: ['read-only', 'hidden'], visible: false, className: 'noVis',
    },
    { data: 'is_expired', title: 'Expired',
      type: ['read-only', 'hidden'], visible: false, className: 'noVis',
    },
    { data: 'color', title: 'HiLite',
      type: ['read-only', 'hidden'], visible: false, className: 'noVis',
    },
],

language: { emptyTable: 'No certs' },

onAddRow: AddCert,

onEditRow: function (dt, row, success, error) {
    var url = 'any http';
    var emsg = 'any err';
    return UpdateRow (dt, row, success, error, url, emsg);
},

{% endblock table_options %}

{% block table_buttons_first %}
{
    text: '<i class="fa fa-certificate"></i> Add',
    extend: 'collection',
    autoClose: true,
    buttons: [
        {% for type in cert_types %}
        {
            text: 'Add {{ type.1 }}',
            action: function () {
                location.href ='{% url "member_cert_new" member.id %}?type={{type.0}}&returnx=mc';
            }

        },
        {% endfor %}
    ]
},
{
    extend: 'selected',
    text: '<i class="fa fa-edit"></i> Edit',
    name: 'edit'        // do not change name
},
{
    autoClose: true,
    text: '<i class="fa fa-trash"></i> Delete',
    action: function ( e, dt, node, config ) {
        DeleteRow ( e, dt, node, config, 'certs', 'certs' )
    },
},

{% endblock table_buttons_first %}

// remove filter button
{% block filter_button %}{% endblock %}

{% block functions %}

//FX: Currently using cert_form
function AddCert (dt, row, success, error) {
    var data = row;

    data.member = $('#memberId').val();
    data = JSON.stringify(data);
    $.ajax({
        method: 'POST',
        contentType: 'application/json',
        url: '/api/availability/',
        data: data,
        success: function (r, s, m) {
            return success(r, s, m);
        },
        error: function (xhr) {
            console.log('availability add failed');
            console.log(xhr);
            alert(xhr.responseText);
            return false;
        }
    })
}

function UpdateRow (dt, row, success, error, url, emsg) {
    var data = row;

    delete data.type;
    if (data.expires_on == "") {
      data.expires_on = null;
    }

    if (!data.expires_on) data.expires_on = null;
    var cid = data.id;
    data = JSON.stringify(data);
    $.ajax({
        method: 'PATCH',
        contentType: 'application/json',
        url: '/api/certs/' + cid + '/',
        data: data,
        success: function (r, s, m) {
            if (!r.expires_on) r.expires_on = '';
            // Clear marks
            $('td.marked').removeClass('marked');
            return success(r, s, m);
        },
        error: function (xhr) {
            console.log('cert edit failed');
            console.log(xhr);
            alert(xhr.responseText);
            return false;
        }
    })
}

function UpdateSubheaderBasedOnSettings(table) {}

{% endblock functions %}
