{% extends 'base_generic.html' %}

{% block title %}Member - {{member.username}}{% endblock title %}


{% block subheader %}
  <strong>
    <a href="{% url 'member_index' %}"> Members </a>
    > {{member.full_name }} ({{ member.rank }})
  </strong>

<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a href="{% url 'member_edit' member.id %}" class="nav-link">
      <i class="fa fa-pencil"></i>
      Edit
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link" href="{% url 'available_edit' %}">
      <i class="fa fa-calendar-times-o"></i>
      Availability
    </a>
  </li>
  <li class="nav-item dropdown">
   <a class="nav-link"  href="{% url 'message:message_inbox' request.user.id%}">
     <i class="fa fa-inbox"></i>
      Inbox
    </a>
  </li>
</ul>
{% endblock %}


{% block content %}
<main role="main" class="container">
  {% if member.is_current_do %}
    <p style="color:red">CURRENT DO until</p>
  {% endif %}
  <strong>Phone numbers:</strong>
  <ul>
    {% for ph in member.phone_set.all %}
    <li>{{ ph.number }} ({{ ph.type }}{% if ph.pagable %}, pageable{% endif %})</li>
    {% endfor %}
  </ul>
  <strong>Addresses:</strong>
  <ul>
    {% for ad in member.address_set.all %}
    <li>
      {{ ad.address1 }}
      {% if ad.address2 %}
        {{ ad.address2 }}
      {% endif %}
      {{ ad.city }}, {{ ad.state }} {{ ad.zip }} ({{ ad.type }})
    </li>
    {% endfor %}
  </ul>
  <strong>Emergency Contacts:</strong>
  <ul>
    {% for ec in member.emergencycontact_set.all %}
    <li>{{ ec.name }}: {{ ec.number }} ({{ ec.type }})</li>
    {% endfor %}
  </ul>
  <p> <strong>Username:</strong> {{ member.username }}</p>
  <p> <strong>Last Sign In at:</strong> {{ member.last_sign_in_at }}</p>

  {% if member.ham %}<strong>Ham:</strong> {{ member.ham }}{% endif %}
  {% if member.v9 %}<strong>V9:</strong>{{ member.v9 }}{% endif %}
  {% if member.is_active %}<strong>Active</strong>{% endif %}
  {% if member.is_staff %}<strong>Staff</strong>{% endif %}

</main>
{% endblock %}
