{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Member Availability{% endblock title %}

{% block subheader %}
<strong>
  <a href="{% url 'member_detail' member.id %}?returnx=ma">
    {{member.full_name }} ({{ member.status }})
  </a>
  &gt; Busy periods
</strong>
{% endblock subheader %}

{% block content %}
<main role="main">
  <table id="dTbl" class="display table-bordered compact" style="width:100%">
    <tbody>
      {% for busy in availability_list %}
      <tr>
        <td>{{ busy.start_on|date:"Y-m-d" }}</td>
        <td>{{ busy.end_on|date:"Y-m-d" }}</td>
        <td>{{ busy.comment }}</td>
        <td>{{ busy.id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="hidden" id="memberId" value="{{ member.id }}">
</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}
select: 'os',
altEditor: true,

order: [[ 1, 'desc'], [ 2, 'asc']],

columns: [
    { data: 'start_on', title: 'Start', width: '10%', responsivePriority: 2,
      type: 'date',
      render: function(data, type, row, meta) {
          if (type == 'display') {
              return DateFE(data);
          } else
              return data;
      },
    },
    { data: 'end_on', title: 'End', width: '10%', responsivePriority: 2,
      type: 'date',
      render: function(data, type, row, meta) {
          if (type == 'display') {
              return DateFE(data);
          } else if (type == 'sort')
              return data;
          else
              return data;
      },
    },
    { data: 'comment', title: 'Comment', responsivePriority: 3, },
    { data: 'id', visible: false, type: ['readonly', 'hidden'], className: 'noVis' },
],

language: { emptyTable: 'No busy periods' },

onAddRow: AddBusy,
onEditRow: UpdateRow,

{% endblock table_options %}

{% block table_buttons_first %}
{
    text: '<i class="fa fa-calendar-times-o"></i> Add',
    name: 'add'        // do not change name
},
{
    extend: 'selected',
    text: '<i class="fa fa-edit"></i> Edit',
    name: 'edit'        // do not change name
},
{
    autoClose: true,
    text: '<i class="fa fa-trash"></i> Delete',
    action: function ( e, dt, node, config ) {
        DeleteRow ( e, dt, node, config, 'periods', 'availability' )
    },
},

{% endblock table_buttons_first %}

{# remove filter button #}
{% block filter_button %}{% endblock %}

{% block functions %}

function AddBusy (dt, row, success, error) {
    var data = row;

    data.member = $('#memberId').val();
    if (!data.start_on)
        data.start_on = DateBE(new Date);

    if (!data.end_on) data.end_on = data.start_on

    data = JSON.stringify(data);
    $.ajax({
        method: 'POST',
        contentType: 'application/json',
        url: '/api/availability/',
        data: data,
        success: function (r, s, m) {
            r.mark = '';
            success(r, s, m);
        },
        error: function (xhr) {
            console.log('availability add failed');
            console.log(xhr);
            alert(xhr.responseText);
            return false;
        }
    })
}

function UpdateRow (dt, row, success, error) {
    var data = row;

    if (!data.start_on)
        data.start_on = DateBE(new Date);

    if (!data.end_on) data.end_on = data.start_on

    if (new Date(data.start_on) > new Date(data.end_on)) {
        // force an error
        var e = {responseJSON: {errors: {badDate: ['End must be after start']}}}
        return error(e);
    }

    var pid = data.id;
    data = JSON.stringify(data);
    $.ajax({
        method: 'PATCH',
        contentType: 'application/json',
        url: '/api/availability/' + pid + '/',
        data: data,
        success: function (r, s, m) {
            var name = r.member.full_name;
            // Clear marks
            $('td.marked').removeClass('marked');
            return success(r, s, m);
        },
        error: function (xhr) {
            console.log('availability edit failed');
            console.log(xhr);
            alert(xhr.responseText);
            return false;
        }
    })
}

function UpdateSubheaderBasedOnSettings (table) {}

{% endblock functions %}
