{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Availability{% endblock title %}

{% block subheader %}
<strong>
  <a href="{% url 'member_detail' member.id %}?returnx=ma">
    {{member.full_name }} ({{ member.status }})
  </a>
  &gt; DO Availability<span id="subhdr"></span>
</strong>
{% endblock subheader %}

{% block content %}
<main role="main">
  <table id="dTbl" class="display table-bordered compact" style="width:100%">
  </table>
</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}

select: 'os',
altEditor: true,

order: [[ 0, 'asc']],

columns: [
    { data: 'week', title: 'Week', width: '10%',
      type: ['readonly'], className: 'dt-center',
    },
    { data: 'start', title: 'Start', width: '12%',
      type: ['readonly'],
      render: function(data, type, row, meta) {
          return (type == 'display') ? DateFE(data) : data
      }
    },
    { data: 'end', title: 'End', width: '12%',
      type: ['readonly'],
      render: function(data, type, row, meta) {
          return (type == 'display') ? DateFE(data) : data
      }
    },
    { data: 'available', title: 'Available', width: '10%', responsivePriority: 1,
      type: 'select', options: [false, true], className: 'dt-center',
      render: function(data, type, row, meta) {
          if (type == 'display') {
              var ck = (data) ? ' checked' : '';
              Data = '<input type="checkbox"' + ck +
                  ' onclick="ToggleAvailability(this,' + meta.row + ')">';
          }

          return data;
      }
    },
    { data: 'comment', title: 'Comment' },
    { data: 'id', visible: false, type: ['readonly', 'hidden'],
      className: 'noVis'
    },
    { data: 'assigned', visible: false, type: ['readonly', 'hidden'],
      className: 'noVis'
    },
    { data: 'member', visible: false, type: ['readonly', 'hidden'],
      className: 'noVis'
    },
],

language: { emptyTable: 'No DO periods' },

onEditRow: UpdateRow,

{% endblock table_options %}

{% block table_buttons_first %}

{
    extend: 'selected',
    text: '<i class="fa fa-edit"></i>' +
        '<span class="d-none d-md-inline"> Edit</span>',
    name: 'edit'        // do not change name
},
{
    text: '<i class="fa fa-plus-square-o"></i> Set all',
    action: SetAll,
},
{
    text: '<i class="fa fa-minus-square-o"></i> Clear all',
    action: ClearAll,
},
{
    text: '<i class="fa fa-caret-square-o-left"></i>' +
        '<span class="d-none d-md-inline"> Prev</span>',
    action: PrevQtr
},
{
    text: '<i class="fa fa-caret-square-o-right"></i>' +
        '<span class="d-none d-md-inline"> Next</span>',
    action: NextQtr
},

{% endblock table_buttons_first %}

{# remove filter button #}
{% block filter_button %}{% endblock %}


{% block functions %}

function SetAll ( e, dt, node, config ) {
    dt.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
        var row = this;
        var data = row.data();
        data.available = true;
        UpdateRow(table, data, function (r, s, m) { row.data(r) });
    } )
}

function ClearAll ( e, dt, node, config ) {
    dt.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
        var row = this;
        var data = row.data();
        data.available = false;
        data.comment = '';
        UpdateRow(table, data, function (r, s, m) { row.data(r) });
    } )
}

function PrevQtr ( e, dt, node, config ) {
    currentPeriod.quarter -= 1;
    if (currentPeriod.quarter < 1) {
        currentPeriod.quarter = 4;
        currentPeriod.year -= 1;
    }

    InitializeData()
    UpdateSubheaderBasedOnSettings(dt)
}

function IncrementQtr () {
    currentPeriod.quarter += 1;
    if (currentPeriod.quarter > 4) {
        currentPeriod.quarter = 1;
        currentPeriod.year += 1;
    }
}

function NextQtr ( e, dt, node, config ) {
    IncrementQtr();
    InitializeData()
    UpdateSubheaderBasedOnSettings(dt)
}

function GetStartingPeriod() {
    var d = new Date();

    currentPeriod =  { quarter: Math.floor((d.getMonth() + 3) / 3),
                       year: d.getFullYear() };

    if ('{{ member.direct }}') IncrementQtr();
}


var currentPeriod;
GetStartingPeriod();

function InitializeData() {
    // Add rows based on date range
    const apiUrlDoAvailEvent =
          '/api/do/?member={{ member.id }}' +
          '&year=' + currentPeriod.year + '&quarter=' + currentPeriod.quarter;
    var url = apiUrlDoAvailEvent;
    
    table.clear();

    $.getJSON(url, null, function( json ) {
        table.rows.add(json);
        table.draw().columns.adjust().responsive.recalc();
    })
}

function ToggleAvailability(input, row) {
    var data = table.row(row).data();
    data.available = input.checked;
    UpdateRow(table, data);
}

function UpdateRow (dt, row,
                    success = function() { return true },
                    error = function() { return false })
{
    var data = row;

    var id = data.id;
    data = JSON.stringify(data);
        $.ajax({
            method: 'PATCH',
            contentType: 'application/json',
            url: '/api/do/' + id + '/',
            data: data,
            success: success,
            error: function (xhr) {
                console.log('availability edit failed');
                console.log(xhr);
                alert(xhr.responseText);
                return false;
            }
        })
}


function UpdateSubheaderBasedOnSettings(table) {
    $('#subhdr')[0].innerHTML = ' Q' + currentPeriod.quarter + ' - ' +
        currentPeriod.year;
}

{% endblock functions %}


{% block ready_functions %}

InitializeData();

{% endblock ready_functions %}


