{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Availability{% endblock title %}

{% block subheader %}
<strong>
  <a href="{% url 'member_detail' member.id %}?returnx=ma">
    {{member.full_name }} ({{ member.status }})
  </a>
  &gt; DO Availability<span id="subhdr"></span>
</strong>
{% endblock subheader %}

{% block content %}
<main role="main">
  <table id="dTbl" class="display table-bordered compact" style="width:100%">
  </table>
</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}

select: 'os',
altEditor: true,

order: [[ 0, 'asc']],

columns: [
    { data: 'week', title: 'Week', width: '10%',
      type: ['readonly'], className: 'dt-center',
    },
    { data: 'start', title: 'Start', width: '12%',
      type: ['readonly', 'hidden'], className: 'noVis',
      render: function(data, type, row, meta) {
          return (type == 'display') ? DateFE(data) : data
      }
    },
    { data: 'end', title: 'End', width: '12%',
      type: ['readonly', 'hidden'], className: 'noVis',
      render: function(data, type, row, meta) {
          return (type == 'display') ? DateFE(data) : data
      }
    },
    { data: 'available', title: 'Available', width: '10%', responsivePriority: 1,
      type: 'select', options: [false, true], className: 'dt-center',
    },
    { data: 'comment', title: 'Comment' },
    { data: 'id', visible: false, type: ['readonly', 'hidden'],
      className: 'noVis'
    },
    { data: 'assigned', visible: false, type: ['readonly', 'hidden'],
      className: 'noVis'
    },
    { data: 'member', visible: false, type: ['readonly', 'hidden'],
      className: 'noVis'
    },
],

language: { emptyTable: 'No DO periods' },

onEditRow: UpdateRow,

{% endblock table_options %}

{% block table_buttons_first %}

{
    extend: 'selected', // Bind to Selected row
    text: '<i class="fa fa-edit"></i>' +
        '<span class="d-none d-md-inline"> Edit</span>',
    name: 'edit'        // do not change name
},
{
    text: '<i class="fa fa-plus-square-o"></i> Set all',
    action: SetAll,
},
{
    text: '<i class="fa fa-minus-square-o"></i> Clear all',
    action: ClearAll,
},
{
    text: '<i class="fa fa-caret-square-o-left"></i>' +
        '<span class="d-none d-md-inline"> Prev</span>',
    action: PrevQtr
},
{
    text: '<i class="fa fa-caret-square-o-right"></i>' +
        '<span class="d-none d-md-inline"> Next</span>',
    action: NextQtr
},

{% endblock table_buttons_first %}

{# remove filter button #}
{% block filter_button %}{% endblock %}


{% block functions %}

function SetAll ( e, dt, node, config ) {
    dt.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
        var row = this;
        var data = row.data();
        data.available = true;
        UpdateRow(table, data, function (r, s, m) { row.data(r) });
    } )
}

function ClearAll ( e, dt, node, config ) {
    dt.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
        var row = this;
        var data = row.data();
        data.available = false;
        UpdateRow(table, data, function (r, s, m) { row.data(r) });
    } )
}

var currentPeriod = GetPeriod();

function PrevQtr ( e, dt, node, config ) {
    currentPeriod.quarter -= 1;
    if (currentPeriod.quarter < 1) {
        currentPeriod.quarter = 4;
        currentPeriod.year -= 1;
    }

    InitializeData()
    UpdateSubheaderBasedOnSettings(dt)
}

function NextQtr ( e, dt, node, config ) {
    currentPeriod.quarter += 1;
    if (currentPeriod.quarter > 4) {
        currentPeriod.quarter = 1;
        currentPeriod.year += 1;
    }

    InitializeData()
    UpdateSubheaderBasedOnSettings(dt)
}

function GetPeriod(d) {
    d = d || new Date(); // If no date supplied, use today
    return { quarter: Math.floor((d.getMonth() + 3) / 3),
             year: d.getFullYear() };
}

function WeeksPerQtr() {
    if (currentPeriod.quarter == 4) {
        var date = new Date(currentPeriod.year, 11, 1) // Dec 1st
        // If Dec start on Sun, Mon, Tues
        if ([0, 1, 2].includes(date.getDay())) return 14
    }

    return 13;
}

function InitializeData() {
    // Add rows based on date range
    const apiUrlDoAvailEvent =
          '/api/do/?member={{ member.id }}' +
          '&year=' + currentPeriod.year + '&quarter=' + currentPeriod.quarter;
    var url = apiUrlDoAvailEvent;
    
    table.clear();

    $.getJSON(url, null, function( json ) {
        
        var w = WeeksPerQtr()
        for (var i=1; i<=w; i++)
        {
            if (json[0] && json[0].week == i)
                // assumes an ordered list
                var data = json.shift();
            else
                var data = { week: i, available: false, comment: '',
                             id: 0, assigned: false,
                             start: '0000-00-00', end: '0000-00-00',
                             member: '{{ member.id }}', }

            table.row.add(data);
        }
        table.draw().columns.adjust().responsive.recalc();
    })
}

function UpdateRow (dt, row,
                    success = function() { return true },
                    error = function() { return false })
{
    var data = row;

    var id = data.id;
    if (id == 0) {
        // Create new availability
        data.year = currentPeriod.year;
        data.quarter = currentPeriod.quarter;
        data = JSON.stringify(data);
        $.ajax({
            method: 'POST',
            contentType: 'application/json',
            url: '/api/do/',
            data: data,
            success: function (r, s, m) {
                return success(r, s, m);
            },
            error: function (xhr) {
                console.log('availability create failed');
                console.log(xhr);
                alert(xhr.responseText);
                return false;
            }
        })
    } else {
    data = JSON.stringify(data);
        $.ajax({
            method: 'PATCH',
            contentType: 'application/json',
            url: '/api/do/' + id + '/',
            data: data,
            success: success,
            error: function (xhr) {
                console.log('availability edit failed');
                console.log(xhr);
                alert(xhr.responseText);
                return false;
            }
        })
    }
}


function UpdateSubheaderBasedOnSettings(table) {
    $('#subhdr')[0].innerHTML = ' Q' + currentPeriod.quarter + ' - ' +
        currentPeriod.year;
}

{% endblock functions %}


{% block ready_functions %}

InitializeData();

{% endblock ready_functions %}


