{% extends 'base_ftable.html' %}

{% block title %}Member Availability{% endblock title %}

{% block subheader %}
<strong>
  <a href="{% url 'member_detail' member.id %}">{{member.full_name }} ({{ member.rank }})</a>
  &gt; Availability
</strong>
{% endblock subheader %}

{% block table_options %}
dom: 'Bfrtip',
responsive: true,
select: 'single',
altEditor: true,
columnDefs: [],
columns: [
    { data: 'start_on' },
    { data: 'end_on' },
    { data: 'comment' },
    { data: 'id', visible: false, type: ['readonly', 'hidden'] },
],
language: {
    emptyTable: 'No busy periods'
},

onAddRow: function(dt, row, success, error) {

    var data = row;

    data['member'] = $('#memberId').val();
    data = JSON.stringify(data);
    //FIXME: error handling
    $.ajax({
        method: 'POST',
        contentType: 'application/json',
        url: '/api/availability/',
        data: data,
        success: success,
        error: function (xhr) {
            console.log('availability add failed');
            console.log(xhr);
            return error(xhr);
        }
    })
},
    
onEditRow: function(dt, row, success, error) {

    var data = row;

    var id = data['id'];
    data = JSON.stringify(data);
    //FIXME: error handling
    $.ajax({
        method: 'PATCH',
        contentType: 'application/json',
        url: '/api/availability/' + id + '/',
        data: data,
        success: function (r, s, m) {
            var name = r['member']['full_name'];
            return success(r, s, m);
        },
        error: function (xhr) {
            console.log('availability edit failed');
            console.log(xhr);
            return error(xhr);
        }
    })
},
onDeleteRow: function(dt, row, success, error) {

    var id = row[3];  //*FIXME: why is this array vs a dict with labels?
                
    //FIXME: error handling
    $.ajax({
        method: 'DELETE',
        contentType: 'application/json',
        url: '/api/availability/' + id + '/',
        success: function (r, s, m) {
            return success(r, s, m);
        },
        error: function (xhr) {
            console.log('availability delete failed');
            console.log(xhr);
            return error(xhr);
        }
    })
},

{% endblock table_options %}

{% block table_buttons_first %}
{
    text: '<i class="fa fa-calendar-times-o"></i> Add',
    name: 'add'        // do not change name
},
{
    extend: 'selected', // Bind to Selected row
    text: '<i class="fa fa-edit"></i> Edit',
    name: 'edit'        // do not change name
},
{
    extend: 'selected', // Bind to Selected row
    autoClose: true,
    text: '<i class="fa fa-trash"></i> Delete',
    name: 'delete'      // do not change name
},

{% endblock table_buttons_first %}
{% block table_buttons_filter %}{% endblock %}

{% block table_functions %}

function UpdateSubheaderBasedOnSettings(table) {}

{% endblock table_functions %}

{% block content %}
<main>
  <table id="dTbl" class="display table-bordered nowrap" style="width:100%">
    <thead>
      <tr>
        <th>Start</th><th>End</th><th>Comment</th><th>Id</th>
      </tr>
    </thead>

    <tbody>
      {% for busy in availability_list %}
      <tr>
        <td>{{ busy.start_on|date:"Y-m-d" }}</td>
        <td>{{ busy.end_on|date:"Y-m-d" }}</td>
        <td>{{ busy.comment }}</td>
        <td>{{ busy.id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="hidden" id="memberId" value="{{ member.id }}">
</main>
{% endblock content %}
