{% extends 'base_do.html' %}
{% load bootstrap4 %}

{% block title %}DO Availability{% endblock title %}
{% block do_title %}My DO Availability{% endblock %}

{% block content %}
<main role="main" class="container">
  <div id="content">
    <form method="post">
      {% csrf_token %}
      {# % bootstrap_form form % #}

      {{ formset.management_form }}

      {% for form in formset %}
        <p>{{ form }}</p>
      {% endfor %}
      <input type="submit" value="Update" />
    </form>
  </div>
</main><!-- /.container -->
{% endblock %}
