{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Team Members{% endblock title %}

{% block subheader %}
<strong id="subhdr">Members</strong>
<ul class="navbar-nav ml-auto">
  <li class="nav-item ml-auto">
    <a class="nav-link" href="{% url 'member_detail' request.user.id %}?returnx=ml">
      <i class="fa fa-user"></i>
      Profile
    </a>
  </li>
</ul>
{% endblock subheader %}

{% block content %}
<main>
  <div id="show-filter" style="display: none">
    <select id="filter-rank" multiple="multiple" selectableHeader="Display rank">
      <option value="TM">Technical Member</option>
      <option value="FM">Field Member</option>
      <option value="T">Trainee</option>
      <option value="R">Reserve</option>
      <option value="S">Support</option>
      <option value="A">Associate</option>
      <option value="G" selected >Guest</option>
      <option value="MA" selected >Member Alum</option>
    </select>
  </div>
  <table id="dTbl" class="display table-bordered nowrap" style="width:100%">
    <thead>
      <tr>
        <th>Name</th><th>Rank</th><th>Roles</th><th>Phone</th><th>eMail</th>
      </tr>
    </thead>

    <tbody>
      {% for member in member_list %}
      {% if member.isActive %}
      <tr>
        <td><a href="{% url 'member_detail' member.id %}?returnx=ml">{{ member.full_name }}</a></td>
        <td data-sort="{{ member.rank_order }}"> {{ member.rank }}</td>
        <td data-sort="{{ member.role_order }}"> {{ member.roles }}</td>
        <td> {{ member.display_phone }}</td>
        <td> {{ member.display_email }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}
order: [[ 0, 'asc' ]],
columnDefs: [
    { responsivePriority: 1, targets: 0 },
    { responsivePriority: 2, targets: 3 },
    { responsivePriority: 3, targets: 4}
],
language: {
      emptyTable: 'No members selected'
},
{% endblock table_options %}

{% block table_functions %}
const apiUrlMemberRank = '/api/members/?member_rank=';

function AddRows(table, values) {
    //
    // Add rows based rank
    //
    var url = apiUrlMemberRank+values[0];
    //FIXME: add error handling
    $.getJSON(url, null, function( json ) {
        
        for (var i=0; i<json.length; i++)
        {
            var data = [
                '<a href="/member/'+json[i]['id']+'?returnx=ml">'+json[i]['full_name']+'</a>',
                {'display': json[i]['rank'], '@data-sort': json[i]['rank_order']},
                {'display': json[i]['roles'], '@data-sort': json[i]['role_order']},
                json[i]['display_phone'],
                json[i]['display_email']
            ]
            
            table.row.add(data).invalidate() // invalidate needed to force rank and role display
        }
        
        // not sure why this is required here but it is needed (tried to hoist it without success)
        table.draw().columns.adjust().responsive.recalc();
    })
}


function RemoveRows(table, values)
{
    // Remove rows based on rank
    table.rows(
        function ( idx, data, node ) {
            return data[1]['display'] == values[0];
        } )
        .remove();

    table.draw()
}

$('#filter-rank').multiSelect({
    // The sense of the multiSelect is inverted: show = deselect, hide = select
    selectableHeader: '<div class="custom-header">Show</div>',
    selectionHeader: '<div class="custom-header">Hide</div>',
    afterSelect: function(values){
        RemoveRows(table,values);
        UpdateSubheaderBasedOnSettings(table);
    },
    afterDeselect: function(values){
        AddRows(table,values);
        UpdateSubheaderBasedOnSettings(table);
    }
})

function UpdateSubheaderBasedOnSettings(table) {
    // Extract currently selected ranks based on filter
    var showRanks = [];
    $('#filter-rank option').each(function() {
        if (!this.selected) {
            showRanks.push(this.value);
        }
    })

    $('#subhdr')[0].innerHTML = 'Members (' + showRanks.join(', ') + ')';
}

{% endblock table_functions %}
