{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}{% endblock %}

{% block subheader %}
<strong class="d-md-none" id="subhdr-sm"></strong>
<strong class="d-none d-md-block" id="subhdr"></strong>
{% endblock subheader %}

{% block content %}
<main role="main" class="container-fluid">
  <input type="hidden" name="author" value="{{author}}" id="id_author" />
  <div class="form-group">
    <label for="id_text">Message:</label>
    <textarea name="text" cols="40" rows="2" class="form-control"
              placeholder="Enter message for {{text}}"
              title="" required id="id_text">{{ input }}</textarea>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" name="email" class="form-check-input"
             id="id_email" checked />
      <label class="form-check-label" for="id_email">Email</label>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" name="sms" class="form-check-input"
             id="id_sms" checked />
      <label class="form-check-label" for="id_sms">Sms</label>
    </div>
  </div>

  <div id="show-filter" style="display: none">
    <select id="filter-status" multiple="multiple"
            selectableHeader="Display status">
      <option value="TM">Technical Member</option>
      <option value="FM">Field Member</option>
      <option value="T">Trainee</option>
      <option value="R">Reserve</option>
      <option value="S">Support</option>
      <option value="A">Associate</option>
      <option value="G">Guest</option>
      <option value="MA">Member Alum</option>
    </select>
  </div>

  <table id="dTbl" class="display table-bordered compact" style="width:100%">
    <tbody>
      {% if member_list.count %}
      {% for member in member_list %}
      {% spaceless %}
      <tr>
        <td></td>
        <td>
          <a href="{% url 'member_detail' member.id %}?returnx=ml">
            {{ member.full_name }}
          </a>
        </td>
        <td>{{ member.status }}</td>
        <td>{{ member.status_order }}</td>
        <td>{{ member.roles }}</td>
        <td>{{ member.role_order }}</td>
        <td>{{ member.display_phone }}</td>
        <td>{{ member.display_email }}</td>
        <td>{{ member.id }}</td>
      </tr>
      {% endspaceless %}
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</main>
{% endblock content%}


{# --- Table definition --- #}

{% block table_options %}
select: 'os',

order: [[ 4, 'asc' ], [1, 'asc']],

columns: [
    { data: 'mark', responsivePriority: 1,
      width: '10px',
      orderable: false,
      className: 'mark-checkbox noVis',
    },
    { data: 'full_name', title: 'Name', responsivePriority: 1, },
    { data: 'status', title: 'Status', responsivePriority: 5,
      render: function(data, type, row, meta) {
          if (type == 'sort')
              return row.status_order;
          else
              return data;
      }
    },
    { data: 'status_order', visible: false, className: 'noVis', },
    { data: 'roles', title: 'Roles', responsivePriority: 4, type: 'num',
      render: function(data, type, row, meta) {
           if (type == 'sort') {
               return row.role_order;
           } else
              return data;
      }
    },
    { data: 'role_order', visible: false, className: 'noVis', },
    { data: 'display_phone', title: 'Phone', responsivePriority: 2, },
    { data: 'display_email', title: 'Email', responsivePriority: 3, },
    { data: 'id', visible: false, className: 'noVis', },
],

language: { emptyTable: 'No participants selected' },

{% endblock table_options %}

{% block table_buttons_first %}

{ text: '<i class="fa fa-address-book"></i> Send Page', action: SendPage, },
{ text: '<i class="fa fa-window-close"></i> Cancel', action: CancelPage, },
{ text: 'Select All', action: SelectAll, },
{ text: 'Clear All', action: ClearAll, },

{% endblock table_buttons_first %}

{% block initComplete %}

SetMemberFilter (table,
                 'headsUp available broadcast'.includes(pageFormat));

EnableMarkSelection(table);

{% endblock initComplete %}

{% block ready_functions %}

//if (!'headsUp available'.includes(pageFormat))  //FIXME: correct policy?
    table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
        // Pre-select participants
        $(this.node()).children().first().addClass('marked');
    })

{% endblock ready_functions %}



{% block functions %}

{# Define constants based on input params #}
const url = new URL(window.location.href);
const eventId = url.searchParams.get('eid');
const periodPosition = url.searchParams.get('OP');
const periodId = url.searchParams.get('period');
const pageFormat = url.searchParams.get('page_format');

var showStatus = [];

function SendPage ( e, dt, node, config ) {
    var members = [];
    $('td.mark-checkbox.marked').each(function (i, el) {
        members.push( dt.row(this.parentElement).data().id )
    });
    
    if (members.length == 0) {
        alert('Select members before paging them');
        return;
    }
    
    var viaEmail = $('input[name=email]').prop('checked') ;
    var viaSms = $('input[name=sms]').prop('checked');
    var via = '';
    
    if (viaEmail && viaSms) {
        via = '(email, sms)';
    } else if (viaEmail) {
        via = '(email)';
    } else if (viaSms) {
        via = '(sms)';
    } else {
        via = '()';
    }
    var text = $('#id_text').val();
    var ok = confirm('{{ confirm_prologue }}Page via ' + via + ' '
                     + members.length + ' members\nMessage: ' + text);
    if (!ok) return false;
    
    var data = {};
    data.text = text;
    data.format = '{{format}}';
    data.period = '{{period_id}}';
    data.period_format = '{{period_format}}';
    data.rsvp_template = '{{rsvp_template.name}}'?'{{rsvp_template.name}}':null;

    data.distribution_set = [];
    for (var i = 0; i < members.length; i++) {
        data.distribution_set.push({
          'member': members[i],
          'send_email': viaEmail,
          'send_sms': viaSms,
        });
    }
    data = JSON.stringify(data);
    $.ajax({
        method: 'POST',
        contentType: 'application/json',
        url: '/api/messages/',
        data: data,
        success: function (response) {
            console.log(response);
            var message_id = response.id;
            location.href='/message/' + message_id + '/';
        },
        error: function (xhr) {
            console.log('Message add failed');
            console.log(xhr);
            alert(xhr.responseText);
            return false;
        }
    })
}

function SelectAll ( e, dt, node, config ) {
    $('td.mark-checkbox').addClass('marked');
}

function ClearAll ( e, dt, node, config ) {
    $('td.mark-checkbox').removeClass('marked');
    table.rows().deselect();
}

function UpdateSubheaderBasedOnSettings (table) {
    // Extract currently selected status based on filter
    showStatus = [];
    $('#filter-status option').each(function() {
        if (!this.selected) {
            showStatus.push(this.value);
        }
    });

    if ('{{ type }}' == 'std_page') {
        var sh = '<a href="/event/' + eventId + '/#OP' + periodPosition + '">' +
            '{{ period }}</a>:' + pageFormat;

        $('#subhdr-sm')[0].innerHTML = sh;
        $('#subhdr')[0].innerHTML = sh + ' > Page Participants ('
            + showStatus.join(', ') + ')';
 
        document.title = '{{ period }} Page';
    } else if ('{{ type }}' == 'do_page') {
        var sh = "Page DO transition";
        $('#subhdr-sm')[0].innerHTML = sh;
        $('#subhdr')[0].innerHTML = sh;
    } else if ('{{ type }}' == 'test') {
        var sh = "Test page";
        $('#subhdr-sm')[0].innerHTML = sh;
        $('#subhdr')[0].innerHTML = sh;
    } else {
        //FIXME: error
    }

    table.draw().columns.adjust().responsive.recalc(); //FX

}

function CancelPage ( e, dt, node, config ) {
    location.href = '/event/' + eventId + '/#OP' + periodPosition
}


$.fn.dataTable.ext.search.push(
    // Custom filter data is an array not an object, change this if cols reordered
    function( settings, data, dataIndex ) {
        var node = $('#dTbl').DataTable().row(dataIndex).node();
        if ( showStatus.includes(data[2]) ) {
            return true;
        }

        // Clear the selection
        $(node).children().first().removeClass('marked');
        return false;
    }
);

$('#id_text').after($("<div id='length-message' class='text-muted'>"));
$('#id_text').on('input', function(){
    var length = $('#id_text').val().length;
    if (length > 160)
        $('#id_text').css({'color':'red'});
    else
        $('#id_text').css({'color':'unset'});

    $("#length-message").text(length + " characters used (single SMS fits 160)");
});
$('#id_text').triggerHandler('input');

{% endblock functions %}
