{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Messages{% endblock title %}

{% block subheader %}
  <strong>Message Log</strong>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item ml-auto">
      <a class="nav-link" href="{% url 'event_add' %}">
        <i class="fa fa-calendar-plus-o"></i> Create new event</a>
    </li>
  </ul>
{% endblock subheader %}

{% block content %}
<main role="main">
  <table id="dTbl" class="display table-bordered" nowrap style="width:100%">
    <tbody>
      {% for message in message_list %}
      <tr>
        <td><a href="{% url 'message_detail' message.id %}">
            {{ message.text|truncatechars:50 }}</a></td>
        <td>{{ message.author }}</td>
        <td data-sort="{{ event.created_order }}">
          {{ message.created_at|date:"Y-m-d\TH:m" }}</td>
        <td>{{ message.format }}</td>
        <td>{{ message.period_format }}</td>
        <td>
          {% if message.period %}
          <a href="{% url 'event_detail' message.period.event.pk %}">
            {{ message.period.event|truncatechars:10 }}</a>
          {% else %}
          {{ message.period.event|truncatechars:10 }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}

order: [[ 2, 'desc' ]],

columns: [
    {data: 'text', title: 'Message', responsivePriority: 1, },
    {data: 'author', title: 'From', responsivePriority: 3, },
    {data: 'sent_at', title: 'Sent at', responsivePriority: 2, },
    {data: 'type', title: 'Type', responsivePriority: 6, },
    {data: 'period_type', title: 'Period Type', responsivePriority: 4, },
    {data: 'event', title: 'Event', responsivePriority: 5, },
],

language: { emptyTable: 'No messages' },

{% endblock table_options %}

{# remove filter button #}
{% block filter_button %}{% endblock %}

{% block functions %}
  function UpdateSubheaderBasedOnSettings(table) {}
{% endblock functions %}
