{% extends 'base_ftable.html' %}

{% block title %}Message Detail - {{ message.period }}{% endblock title %}

{% block subheader %}
  <strong id="subhdr">Message Detail</strong>
{% endblock subheader %}

{% block table_options %}
order: [[ 0, 'asc' ]],
columnDefs: [
    { responsivePriority: 1, targets: 0 },
    { responsivePriority: 2, targets: 2 },
    { responsivePriority: 3, targets: 1}
],
columns: [
    {data: 'name'},
    {data: 'sms_status'},
    {data: 'email_status'},
    {data: 'RSVP'},
],
language: {
      emptyTable: 'No messages'
},
{% endblock table_options %}

{# remove filter button #}
{% block filter_button %}{% endblock %}

{% block table_functions %}
  function UpdateSubheaderBasedOnSettings(table) {}
{% endblock table_functions %}

{% block content %}
Message:
<p>from {{ message.author }}</p>
<p>{{ message.text }}</p>
<p>Period: <a href="{{ message.period.event.get_absolute_url }}">{{ message.period }}</a></p>
<p>Period format: {{ message.period_format }}</p>


<table id="dTbl" class="display table-bordered" nowrap style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>SMS status</th>
      <th>Email status</th>
      <th>RSVP</th>
    </tr>
  </thead>
{% for d in message.distribution_set.all %}
  <tbody>
    <tr>
      <td>{{ d.member }}</td>
      <td>
        {% for m in d.outboundsms_set.all %}
        {{ m.display|linebreaks }}
        {% endfor %}
      </td>
      <td>
        {% for m in d.outboundemail_set.all %}
        {{ m.display|linebreaks }}
        {% endfor %}
      </td>
      <td>{{ d.rsvp_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content%}
