{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Message Detail{% endblock %}

{% block subheader %}
<strong>Message Detail{% if message.period %} - {{ message.period }}{% endif %}</strong>
{% endblock subheader %}

{% block content %}
<p></p>
<p><strong>From: </strong> {{ message.author }}</p>
<p><strong>Message: </strong>{{ message.text }}</p>
{% if message.period %}
<p><strong>Operation period: </strong>
  <a href="{{ message.period.event.get_absolute_url }}">{{ message.period }}</a></p>
{% endif %}
{% if message.period_format %}
<p><strong>Period format: </strong>{{ message.period_format }}</p>
{% endif %}
<p></p>

<table id="dTbl" class="display table-bordered" nowrap style="width:100%">
  <tbody>
    {% for d in message.distribution_set.all %}
    <tr>
      <td>{{ d.member }}</td>
      <td>{{ d.rsvp_display }}</td>
      <td>
        {% for m in d.outboundsms_set.all %}
        {{ m.display|linebreaks }}
        {% endfor %}
      </td>
      <td>
        {% for m in d.outboundemail_set.all %}
        {{ m.display|linebreaks }}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content%}


{# --- Table definition --- #}

{% block table_options %}

order: [[ 0, 'asc' ]],

columns: [
    { data: 'name', title: 'Name', responsivePriority: 1, },
    { data: 'RSVP', title: 'RSVP', responsivePriority: 2, },
    { data: 'sms_status', title: 'Sms status', responsivePriority: 3, },
    { data: 'email_status', title: 'Email status', responsivePriority: 4, },
],

language: { emptyTable: 'No messages' },

{% endblock table_options %}

{# remove filter button #}
{% block filter_button %}{% endblock %}

{% block table_functions %}
  function UpdateSubheaderBasedOnSettings(table) {}
{% endblock table_functions %}
