{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Messages{% endblock title %}

{% block subheader %}
  <strong>Outbound Message Log</strong>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item ml-auto">
      <a href="{% url 'inbound_list' %}">
        <i class="fa fa-list"></i> Inbound message log</a>
    </li>
  </ul>
{% endblock subheader %}

{% block content %}
<main role="main">
  <table id="dTbl" class="display table-bordered compact nowrap" style="width:100%">
    <tbody>
      {% for message in message_list %}
      <tr>
        <td><a href="{% url 'message_detail' message.id %}">
            {{ message.text|truncatechars:50 }}</a></td>
        <td>{{ message.author }}</td>
        <td data-sort="{{ event.created_order }}">
          {{ message.created_at|date:"Y-m-d\TH:i:s" }}</td>
        <td>{{ message.format }}</td>
        <td>{{ message.period_format }}</td>
        <td>
          {% if message.period %}
          <a href="{% url 'event_detail' message.period.event.pk %}">
            {{ message.period.event|truncatechars:10 }}</a>
          {% else %}
          {{ message.period.event|truncatechars:10 }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">
        <i class="fa fa-fast-backward"></i></a>
      <a href="?page={{ page_obj.previous_page_number }}">
        <i class="fa fa-caret-square-o-left"></i></a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">
        <i class="fa fa-caret-square-o-right"></i></a>
      <a href="?page={{ page_obj.paginator.num_pages }}">
        <i class="fa fa-fast-forward"></i></a>
        {% endif %}
    </span>
  </div>

</main>
{% endblock content %}


{# --- Table definition --- #}

{% block table_options %}

order: [[ 2, 'desc' ]],  //FX: Consider subsort order
deferRender: true,

columns: [
    {data: 'text', title: 'Message', responsivePriority: 1, },
    {data: 'author', title: 'From', responsivePriority: 3, },
    {data: 'sent_at', title: 'Sent', responsivePriority: 2,
     render: function (data, type, row, meta) {
         if (type == 'display') {
             var d = data.split('T');
             return DateFE(d[0]) + ' ' + d[1];
         } else
             return data;
     }},
    {data: 'type', visible: false, className: 'noVis', responsivePriority: 6},
    {data: 'period_type', title: 'Type', responsivePriority: 4, },
    {data: 'event', title: 'Event', responsivePriority: 5, },
],

language: { emptyTable: 'No messages' },

{% endblock table_options %}

{# remove filter button #}
{% block filter_button %}{% endblock %}

{% block functions %}
  function UpdateSubheaderBasedOnSettings(table) {}
{% endblock functions %}
