{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Message Detail{% endblock %}

{% block subheader %}
<strong><a href="{% url 'message_list' %}">Messages</a> &gt; 
  {% if message.period %}
  <a href="{{ message.period.event.get_absolute_url }}">{{ message.period }}</a> &gt;
  {% endif %}
  Detail
</strong>
{% endblock subheader %}

{% block content %}
<p></p>
<div class="float-right">
  Auto Refresh
  <label class="switch">
    <input id="refresh" type="checkbox" onchange="AutoRefresh()">
    <span class="slider round"></span>
  </label>
</div>
<p><strong>From: </strong>
  <a href="{{ message.author.get_absolute_url }}">{{ message.author }}</a></p>
<p><strong>Message: </strong>{{ message.text }}</p>
{% if message.ancestry %}
<p><strong>Repage of: </strong>{{ message.ancestry_links|safe }}</p>
{% endif %}
{% if message.period %}
<p><strong>Operation period: </strong>
  <a href="{{ message.period.event.get_absolute_url }}">{{ message.period }}</a></p>
{% endif %}
{% if message.period_format %}
<p><strong>Page format: </strong>{{ message.period_format }}</p>
{% endif %}
<p><strong>Stats: </strong>{{ stats }}</p>
<p><strong>RSVP: </strong>{{ rsvp }}</p>
<p><strong>Response times: </strong>{{ response_times }}</p>
<p></p>

<table id="dTbl" class="display table-bordered compact" style="width:100%">
  <tbody>
    {% for d in message.distribution_set.all %}
    <tr>
      <td>{{ d.member }}</td>
      <td>{{ d.member.is_unavailable }}</td>
      <td>{{ d.rsvp_display }}</td>
      <td>
        {% for m in d.outboundsms_set.all %}
        {{ m.display|linebreaks }}
        {% endfor %}
      </td>
      <td>
        {% for m in d.outboundemail_set.all %}
        {{ m.display|linebreaks }}
        {% endfor %}
      </td>
      <td data-order="{{ d.response_time }}">{{ d.response_time_display }}</td>
      <td>{{ d.response_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content%}


{# --- Table definition --- #}

{% block table_options %}

order: tableOrder,

columns: [
    { data: 'name', title: 'Name', responsivePriority: 1, 
      render: function(data, type, row, meta) {
          if (type == 'display' && row.is_unavailable == 'True') data = '<i>' + data + '</i>';
          return data;
      }
    },
    { data: 'is_unavailable', title: 'Unavailable', visible: false, },
    { data: 'RSVP', title: 'RSVP', responsivePriority: 2, },
    { data: 'sms_status', title: 'Sms status', responsivePriority: 3, },
    { data: 'email_status', title: 'Email status', responsivePriority: 4, },
    { data: 'response_time', title: 'Response Time', responsivePriority: 5,
      type: [ 'num' ],
      render: function(data, type, row, meta) {
          if (type == 'sort') {
              if (data == "-") return 999998;
              if (data == "unavail") return 999999;
              return row.response_time_raw
          } else
              return data;
      }
    },
    { data: 'response_time_raw', title: 'Response Time (sec)',
      visible: false, type: [ 'readonly', 'hidden' ], className: 'noVis',
    },
],

language: { emptyTable: 'No messages' },

{% endblock table_options %}

{% if message.rsvp_template %}
  {% block table_buttons_first %}
    {
        text: 'Repage',
        action: Repage,
    },
  {% endblock %}
{% endif %}

{% block filter_button %}{# remove filter button #}{% endblock %}

{% block functions %}

function UpdateSubheaderBasedOnSettings(table) {} // Fixed subheader

// Define constants based on input params
const defaultTimeout = 15;
const url = new URL(window.location.href);
const autoRefresh = url.searchParams.get('refresh');
const defaultOrder = [[ 0, 'asc' ]];
var tableOrder = url.searchParams.get('O');
tableOrder = (tableOrder != null) ? JSON.parse(tableOrder) : defaultOrder;

function Repage() {
    var stats = '{{ stats }}'.match(/^(\d+) sent, (\d+) delivered, (\d+) RSVPed/)
    //FX: Hack using stats string rather than individual values for sent and RSVPed
    if (stats != null && stats[1] == stats[3]) {
        alert('No members to repage based on stats')
        return
    }
    window.location.href="{% url 'message_repage' message.id %}"
}

function AutoRefresh() {
    var timeout = autoRefresh == null || isNaN(autoRefresh) ? defaultTimeout : autoRefresh;
    var base_url = url.href.split('?')[0];
    var rurl;

    if ($('#refresh').prop('checked')) {
        var order = JSON.stringify(table.order());
        rurl = base_url + '?refresh=' + timeout + '&O=' + order;
    } else {
        rurl = base_url;
    }

    //FIXME: Pretty brute force, look at just updating the table
    window.location.replace(rurl)
}

function SetAutoRefresh() {
    if (!isNaN(autoRefresh) && autoRefresh > 0) {
        window.refreshTimer = setTimeout(AutoRefresh, autoRefresh * 1000);
        $('#refresh').prop('checked', true)
    }
}

SetAutoRefresh();

{% endblock functions %}
