<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">

  <a class="navbar-brand" href="/"><i class="fa fa-area-chart"></i> BAMRU.net</a>

  {# Hamburger icon for collapsed menu #}
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navTopLevel">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navTopLevel">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'event_list' %}?current=true">
          <i class="fa fa-calendar"></i>
          Events
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
          <i class="fa fa-users"></i> Team
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'member_list' %}">
            <i class="fa fa-address-book"></i>
            Members
          </a>
          <a class="dropdown-item" href="{% url 'available_list' %}">
            <i class="fa fa-calendar"></i>
            Availability
          </a>
          <a class="dropdown-item" href="{% url 'cert_list' %}">
            <i class="fa fa-certificate"></i>
            Certifications
          </a>
          <a class="dropdown-item disabled" href="#">
            <i class="fa fa-camera-retro"></i>
            Member photos
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
          <i class="fa fa-book"></i> Library
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item disabled" href="#">
            <i class="fa fa-file"></i>
            SMCSO Contacts
          </a>
          <a class="dropdown-item" href="{% url 'reports_list' %}">
            <i class="fa fa-file"></i>
            Reports
          </a>
          <a class="dropdown-item" href="http://wiki.bamru.net" target="_blank">
            <i class="fa fa-university"></i>
            Wiki
          </a>
          <a class="dropdown-item disabled" href="#">
            <i class="fa fa-google"></i>
            Forum posts
          </a>
          <a class="dropdown-item disabled" href="#">
            <i class="fa fa-upload"></i>
            Files
          </a>
          <a class="dropdown-item" href="{% url 'do_list' %}">
            <i class="fa fa-calendar"></i>
            Quarterly DO schedule
          </a>
          <a class="dropdown-item" href="{% url 'message_list' %}">
            <i class="fa fa-list"></i>
            Message log
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
          <i class="fa fa-bolt"></i> Action
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item disabled" href="#">
            <i class="fa fa-bolt"></i>
            Initiate a callout
          </a>
          <a class="dropdown-item disabled" href="#">
            <i class="fa fa-bolt"></i>
            Becoming DO
          </a>
          <a class="dropdown-item disabled" href="#">
            <i class="fa fa-bolt"></i>
            Temporary DO change
          </a>
          <a class="dropdown-item" href="/admin" target="_blank">
            <i class="fa fa-edit"></i>
            Perform admin tasks
          </a>
        </div>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
            <i class="fa fa-user-circle"></i> {{ request.user }}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'member_detail' request.user.id %}?returnx=ml">
            <i class="fa fa-user"></i>
            Profile
          </a>
          <a class="dropdown-item" href="{% url 'message_inbox' request.user.id%}">
            <i class="fa fa-inbox"></i>
            Inbox (n)
          </a>
          <a class="dropdown-item" href="{% url 'member_availability_list'  request.user.id %}">
            <i class="fa fa-calendar-times-o"></i>
            Availability
          </a>
          <a class="dropdown-item" href="{% url 'do_availability_list' %}{{ query_this }}">
            <i class="fa fa-calendar-check-o"></i>
            DO availability
          </a>
          <a class="dropdown-item" href="{% url 'member_cert_list' request.user.id %}">
            <i class="fa fa-certificate"></i>
            Certifications
          </a>
          <a class="dropdown-item disabled" href="#">
            <i class="fa fa-cogs"></i>
            Settings
          </a>
          <a class="dropdown-item" href="{% url 'logout' %}">
            <i class="fa fa-sign-out"></i>
            Log out
          </a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
