{% extends 'base_ftable.html' %}

{% block title %}
      Participant Add
{% endblock title %}

{% block subheader %}
  <strong>
    <div id="subhdr">
      Add Event Participant
    </div>
  </strong>
{% endblock subheader %}

{% block table_options %}
select: "os",
order: [[ 2, "asc" ]],
columnDefs: [
    { responsivePriority: 1, targets: 0 },
    { responsivePriority: 5, targets: 1 },
    { responsivePriority: 2, targets: 2 },
    { responsivePriority: 3, targets: 3},
    { responsivePriority: 4, targets: 4}
],
columns: [
    { "data": "Name" },
    { "data": "Rank" },
    { "data": "Role" },
    { "data": "Phone" },
    { "data": "eMail" }
],
language: {
      emptyTable: "No members selected"
},
{% endblock table_options %}

{% block table_buttons %}
{
    text: "Add",
    action: function ( e, dt, node, config ) {
        var csrftoken = getCookie('csrftoken');
        var members = dt.rows( { selected: true } ).data().pluck( 'Name' ).toArray();
        var data = [];
        var regex = /\d+(?:\.\d+)?/;

        if (members.length == 0) {
            alert("Select members before adding them");
            return;
        }
        for (var i = 0; i < members.length; i++) {
            var re = regex.exec(members[i]);
            var member_id = re[0];
            data.push({ 'period': period_id, 'member':member_id });
        }
        data = JSON.stringify(data);
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            'type': 'POST',
            'contentType': 'application/json',
            'url': '/api/participants/',
            'data': data,
            success: function (response) {
                console.log('Period add ' + response.length + ' members');
                //var count = dt.rows( { selected: true } ).count(); //FIXME: add message on return page with number of added members
                location.href='/event/' + event_id + '#OP' + period_num;
            },
            error: function (xhr) {
                console.log('Period add failed');
                console.log(xhr);
            }
        })
    }
},
{{ block.super }}
{% endblock table_buttons %}

{% block table_functions %}
const url = new URL(window.location.href);
const event_name = url.searchParams.get("et");
const event_id = url.searchParams.get("eid");
const period_num = url.searchParams.get("pn");
const period_id = url.searchParams.get("pid");
const apiUrlMemberRank = "/api/members/?member_rank=";

function AddRows(table, values) {
    // Add row data via AJAX based on rank
    urlData = apiUrlMemberRank+values[0];
    $.getJSON(urlData, null, function( json ) {
        
        for (var i=0; i<json.length; i++)
        {
            m = json[i];
            data = { Name: "<a href=/member/"+m["id"]+">"+m["full_name"]+"</a>",
                     Rank: '<td "data-order"=' + m["rank_order"] + ">" + m["rank"] + "</td>",
                     Role: '<td "data-order"=' + m["role_order"] + ">" + m["roles"] + "</td>",
                     Phone: m["display_phone"],
                     eMail: m["display_email"]
                   }
            
            table.row.add(data).invalidate(); // invalidate needed to force rank and role display
        }
        table.draw();  // not sure why this is required here but it is needed (was later in execution path)
    });
}

function RemoveRows(table, values) {
    // Remove rows based on rank
    table.rows(
        function ( idx, data, node ) {
            rank = data['Rank']
            // Handle both cases: 'FM' and <td ...>FM</td>
            if (rank[0] == '<')
                rank = data['Rank'].match('.*>(.*)<')[1]
            return rank == values[0];
        } )
        .remove();

    table.draw();
}

function UpdateSubheaderBasedOnSettings(table) {
    // Extract currently selected ranks based on filter
    var showRanks = [];
    $("#filter-rank option").each(function() {
        if (!this.selected) {
            showRanks.push(this.value);
        }
    });

    $("#subhdr")[0].innerHTML = ("Add " + event_name + " > Members (" + showRanks.join(", ") + ")"); //FIXME: Add link to event
    document.title = "Participant Add - " + event_name;

}

$("#filter-rank").multiSelect({
    // The sense of the multiSelect is inverted: show = deselect, hide = select
    selectableHeader: "<div class='custom-header'>Show</div>",
    selectionHeader: "<div class='custom-header'>Hide</div>",
    afterSelect: function(values){
        RemoveRows(table,values);
        UpdateSubheaderBasedOnSettings(table);
    },
    afterDeselect: function(values){
        AddRows(table,values);
        UpdateSubheaderBasedOnSettings(table);
    }
})
{% endblock table_functions %}

{% block content %}
<main>
  <div id="show-filter" style="display: none">
    <select id="filter-rank" multiple="multiple" selectableHeader="Display rank">
      <option value='TM'>Technical Member</option>
      <option value='FM'>Field Member</option>
      <option value='T'>Trainee</option>
      <option value='R' selected >Reserve</option>
      <option value='S' selected >Support</option>
      <option value='A' selected >Associate</option>
      <option value='G' selected >Guest</option>
      <option value='MA' selected >Member Alum</option>
      <option value='GA' selected >Guest Alum</option>
      <option value='MN' selected >Member No-contact</option>
      <option value='GN' selected >Guest No-contact</option>
    </select>
  </div>
  <table id="dTbl" class="display table-bordered nowrap" style="width:100%">
    <thead>
      <tr>
        <th>Name</th><th>Rank</th><th>Role</th><th>Phone</th><th>eMail</th>
      </tr>
    </thead>

    <tbody>
      {% for member in member_list %}
    {% spaceless %}
      {% if member.isActive %}
      <tr>
        <td><a href="{% url 'member_detail' member.id %}">{{ member.full_name }}</a></td>
        <td data-order="{{ member.rank_order }}"> {{ member.rank }}</td>
        <td data-order="{{ member.role_order }}"> {{ member.roles }}</td> <!--  -->
        <td> {{ member.display_phone }}</td>
        <td> {{ member.display_email }}</td>
      </tr>
      {% endif %}
    {% endspaceless %}
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content%}
