{% extends 'base_member_table.html' %}

{# --- Page definition --- #}

{% block title %}Participant Add{% endblock %}

{% block subheader %}
<strong class="d-md-none" id="subhdr-sm"></strong>
<strong class="d-none d-md-block" id="subhdr"></strong>
{% endblock subheader %}


{% block dtable-row-pre %}<td></td>{% endblock %}
{% block dtable-class %}display table-bordered compact{% endblock %}

{# --- Table definition --- #}

{% block table_options %}
select: 'os',

order: [[ 3, 'asc' ], [1, 'asc']],

columns: [
    { data: 'mark', width: '10px', responsivePriority: 1,
      orderable: false, className: 'mark-checkbox noVis',
      render: function(data, type, row, meta) {
          if (type == 'display')
              return '<div data-id="' + row.id + '"></div>';
          else
              return data;
      }
    },
    { data: 'full_name', title: 'Name', responsivePriority: 1,
      render: function(data, type, row, meta) {
          if (type == 'display') {  //FX: add lightweight icon
              data = '<a href="/member/' + row.id + '?returnx=pp">' + data + '</a>';
              if (row.is_unavailable=='True') {
                  var event_start = new Date('{{ event.start_at|date:'M j, Y' }}');
                  var event_end = new Date('{{ event.finish_at|date:'M j, Y' }}');
                  var current_date = new Date;
                  //FX: Add date logic, need event data
                  //FX: Should only apply to current events
                  data = '<i>' + data + '</i>';
              }
          }
          return data;
      }
    },
    { data: 'id', visible: false, className: 'noVis', },
    { data: 'status', title: 'Status', width: '35px', responsivePriority: 2,
      render: function(data, type, row, meta) {
          if (type == 'sort')
              return row.status_order;
          else
              return data;
      }
    },
    { data: 'status_order', visible: false, className: 'noVis', },
    { data: 'roles', title: 'Roles', responsivePriority: 1, type: 'num',
      render: function(data, type, row, meta) {
           if (type == 'sort') {
               return row.role_order;
           } else
              return data;
      }
    },
    { data: 'role_order', visible: false, className: 'noVis', },
    { data: 'display_phone', title: 'Phone', responsivePriority: 3, },
    { data: 'display_email', title: 'Email', responsivePriority: 4, },
    { data: 'is_unavailable', visible: false, className: 'noVis', },
],

language: { emptyTable: 'No participants selected' },

{% endblock table_options %}

{% block table_buttons_first %}

{ text: '<i class="fa fa-address-book"></i> Add', action: AddParticipant, },
{ text: 'Select All', action: SelectAll, },
{ text: 'Clear All', action: ClearAll, },

{% endblock table_buttons_first %}

{% block initComplete %}
SetMemberFilter (table);
EnableMarkSelection(table);
{% endblock initComplete %}

{% block functions %}

const url = new URL(window.location.href);

function AddParticipant ( e, dt, node, config ) {
        var members = [];
        $.each( $('td.mark-checkbox.marked'),  function (i, el) {
            members.push($(this.firstChild).data().id)
        });

        if (members.length == 0) {
            alert('Select members before adding them');
            return;
        }

        console.log(members);

        var data = [];
        for (var i = 0; i < members.length; i++) {
            data.push({ 'period': {{ period_id }}, 'member': members[i] });
        }
        data = JSON.stringify(data);
        $.ajax({
            method: 'POST',
            contentType: 'application/json',
            url: '/api/participants/',
            data: data,
            success: function (response) {
                console.log('Period add ' + response.length + ' members');
                location.href='/event/{{ event_id }}/#OP{{ period_position }}';
            },
            error: function (xhr) {
                console.log('Period add failed');
                console.log(xhr);
                alert(xhr.responseText);
                return false;
            }
        })
}

function SelectAll ( e, dt, node, config ) {
    $('td.mark-checkbox').addClass('marked');
}

function ClearAll ( e, dt, node, config ) {
    $('td.mark-checkbox').removeClass('marked');
    table.rows().deselect();
}

function UpdateSubheaderBasedOnSettings(table) {
    // Extract currently selected status based on filter
    var showStatus = [];
    $('#filter-status option').each(function() {
        if (!this.selected) {
            showStatus.push(this.value);
        }
    });

    var shdr = '<a href="/event/{{ event_id }}/#OP{{ period_position }}">' +
            '{{ title|escapejs }}' + '</a>';
    $('#subhdr')[0].innerHTML = shdr + ' > Add Participants (' +
        showStatus.join(', ') + ')';
    $('#subhdr-sm')[0].innerHTML = shdr + ' > Add Participants';
    document.title = 'Participant Add - {{ title|escapejs }}';

}

{% endblock functions %}
