{% extends 'base_ftable.html' %}

{% block title %}
      Participant Add
{% endblock title %}

{% block subheader %}
<strong id="subhdr">Event Add Participant</strong>
{% endblock subheader %}


{% block table_options %}
select: 'os',
order: [[ 3, 'desc' ]],
columnDefs: [
    { responsivePriority: 1, targets: [0, 1] },
    { responsivePriority: 5, targets: 2 },
    { responsivePriority: 2, targets: 3 },
    { responsivePriority: 3, targets: 4},
    { responsivePriority: 4, targets: 5},
],
columns: [
    { data: 'check',
      width: '5px', //FIXME: adjust alignment
      orderable: false,
      className: 'mark-checkbox',
    },
    { data: 'name' },
    { data: 'rank' },
    { data: 'roles' },
    { data: 'phone' },
    { data: 'email' }
],
language: {
      emptyTable: 'No participants selected'
},
{% endblock table_options %}

{% block table_buttons_first %}
{
    text: '<i class="fa fa-address-book"></i> Add',
    action: function ( e, dt, node, config ) {
        var members = [];
        $.each( $('td.mark-checkbox.marked'),  function (i, el) {
            members.push($(this.firstChild).data().id)
        });
        console.log(members);

        if (members.length == 0) {
            alert('Select members before adding them');
            return;
        }

        var data = [];
        for (var i = 0; i < members.length; i++) {
            data.push({ 'period': period_id, 'member': members[i] });
        }
        data = JSON.stringify(data);
        //FIXME: error handling
        $.ajax({
            method: 'POST',
            contentType: 'application/json',
            url: '/api/participants/',
            data: data,
            success: function (response) {
                console.log('Period add ' + response.length + ' members');
                //var count = dt.rows( { selected: true } ).count(); //FIXME: add message on return page with number of added members
                location.href='/event/' + event_id + '#OP' + period_num;
            },
            error: function (xhr) {
                console.log('Period add failed');
                console.log(xhr);
                alert(xhr.responseText);
                return false;
            }
        })
    }
},
{
    text: 'Select All',
    action: function ( e, dt, node, config ) {
        $('td.mark-checkbox').addClass('marked');
    }
},
{
    text: 'Clear All',
    action: function ( e, dt, node, config ) {
        $('td.mark-checkbox').removeClass('marked');
        table.rows().deselect();
    }
},
{% endblock table_buttons_first %}

{% block ready_functions %}
table
    .on( 'select', function ( e, dt, type, indices ) {
        var allMarked = true;
        var numRows = indices.length;
        if (numRows > 1) {
            dt.rows(indices).every( function ( rowIdx, tableLoop, rowLoop ) {
                // For multi select - unmark only when every row is marked
                allMarked = allMarked && $(this.nodes()).children().first().hasClass('marked');
            })
        }
        dt.rows(indices)
            .every( function ( rowIdx, tableLoop, rowLoop ) {
                if (numRows > 1) {
                    if (allMarked)
                        $(this.node()).children().first().removeClass('marked');
                    else
                        $(this.node()).children().first().addClass('marked');
                } else {
                    if ($(this.node()).children().first().hasClass('marked')) {
                        $(this.node()).children().first().removeClass('marked');
                        this.deselect();
                    } else
                        $(this.node()).children().first().addClass('marked');
                }
            });
    });

{% endblock ready_functions %}

{% block table_functions %}

const url = new URL(window.location.href);
const event_name = url.searchParams.get('et');
const event_id = url.searchParams.get('eid');
const period_num = url.searchParams.get('pn');
const period_id = url.searchParams.get('pid');
const apiUrlMemberRank = '/api/members/?member_rank=';

$('#check-all').click( function ()
                       {
                           $(table.rows().nodes()).find('input').attr('checked', this.checked);
                           return;
                           var col0 =table.column(0).nodes();
                           col0.shift; // remove check-all
                           this.checked = !this.checked;
                           $(col0).find('input').attr('checked', this.checked);
                           console.log('clicked');
                       }
                     )

function AddRows(table, values) {
    //
    // Add rows based on rank =values[0]
    //
    urlData = apiUrlMemberRank+values[0];
    //FIXME: add error handling
    $.getJSON(urlData, null, function( json ) {
        
        for (var i=0; i<json.length; i++)
        {
            m = json[i];
            data = {
                check: '',
                name: '<a href="/member/'+m['id']+'?returnx=pp">'+m['full_name']+'</a>',
                rank: '<td "data-order"=' + m['rank_order'] + '>' + m['rank'] + '</td>',
                roles: '<td "data-order"=' + m['role_order'] + '>' + m['roles'] + '</td>',
                phone: m['display_phone'],
                email: m['display_email']
            }
            
            table.row.add(data).invalidate(); // invalidate needed to force rank and role display
        }
        table.draw();  // not sure why this is required here but it is needed (was later in execution path)
    });
}

function RemoveRows(table, values) {
    // Remove rows based on rank
    table.rows(
        function ( idx, data, node ) {
            rank = data['rank']
            // Handle both cases: 'FM' and <td ...>FM</td>
            if (rank[0] == '<')
                rank = data['rank'].match('.*>(.*)<')[1]
            return rank == values[0];
        } )
        .remove();

    table.draw();
}

function UpdateSubheaderBasedOnSettings(table) {
    // Extract currently selected ranks based on filter
    var showRanks = [];
    $('#filter-rank option').each(function() {
        if (!this.selected) {
            showRanks.push(this.value);
        }
    });

    $('#subhdr')[0].innerHTML = (event_name + ' > Add Participants (' + showRanks.join(', ') + ')'); //FIXME: Add link to event
    document.title = 'Participant Add - ' + event_name;

}

$('#filter-rank').multiSelect({
    // The sense of the multiSelect is inverted: show = deselect, hide = select
    selectableHeader: '<div class="custom-header">Show</div>',
    selectionHeader: '<div class="custom-header">Hide</div>',
    afterSelect: function(values){
        RemoveRows(table,values);
        UpdateSubheaderBasedOnSettings(table);
    },
    afterDeselect: function(values){
        AddRows(table,values);
        UpdateSubheaderBasedOnSettings(table);
    }
})
{% endblock table_functions %}

{% block content %}

<main>

  <div id="show-filter" style="display: none">
    <select id="filter-rank" multiple="multiple" selectableHeader="Display rank">
      <option value="TM">Technical Member</option>
      <option value="FM">Field Member</option>
      <option value="T">Trainee</option>
      <option value="R" selected >Reserve</option>
      <option value="S" selected >Support</option>
      <option value="A" selected >Associate</option>
      <option value="G" selected >Guest</option>
      <option value="MA" selected >Member Alum</option>
      <option value="GA" selected >Guest Alum</option>
      <option value="MN" selected >Member No-contact</option>
      <option value="GN" selected >Guest No-contact</option>
    </select>
  </div>
  <table id="dTbl" class="display table-bordered nowrap" style="width:100%">
    <thead>
      <tr>
        <th></th>
        <th>Name</th><th>Rank</th><th>Roles</th><th>Phone</th><th>eMail</th>
      </tr>
    </thead>

    <tbody>
      {% for member in member_list %}
      {% spaceless %}
      {% if member.isActive %}
      <tr>
        <td><div data-id={{ member.id }}></div></td>
        <td><a href="{% url 'member_detail' member.id %}?returnx=pp">{{ member.full_name }}</a></td>
        <td data-order="{{ member.rank_order }}"> {{ member.rank }}</td>
        <td data-order="{{ member.role_order }}"> {{ member.roles }}</td>
        <td> {{ member.display_phone }}</td>
        <td> {{ member.display_email }}</td>
      </tr>
      {% endif %}
      {% endspaceless %}
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content%}
