{% extends 'base_ftable.html' %}

{# --- Page definition --- #}

{% block title %}Participant Add{% endblock %}

{% block subheader %}
<strong class="d-md-none" >Events Add Participant</strong>
<strong class="d-none d-md-block" id="subhdr">Events Add Participant</strong>
{% endblock subheader %}

{% block content %}
<main role="main">
  <div id="show-filter" style="display: none">
    <select id="filter-rank" multiple="multiple" selectableHeader="Display rank">
      <option value="TM">Technical Member</option>
      <option value="FM">Field Member</option>
      <option value="T">Trainee</option>
      <option value="R">Reserve</option>
      <option value="S">Support</option>
      <option value="A">Associate</option>
      <option value="G">Guest</option>
      <option value="MA">Member Alum</option>
    </select>
  </div>
  <table id="dTbl" class="display table-bordered nowrap" style="width:100%">
    <tbody>
      {% for member in member_list %}
      {% spaceless %}
      <tr>
        <td></td>
        <td>{{ member.full_name }}</td>
        <td>{{ member.id }}</td>
        <td>{{ member.rank }}</td>
        <td>{{ member.rank_order }}</td>
        <td>{{ member.roles }}</td>
        <td>{{ member.role_order }}</td>
        <td>{{ member.display_phone }}</td>
        <td>{{ member.display_email }}</td>
      </tr>
      {% endspaceless %}
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content%}


{# --- Table definition --- #}

{% block table_options %}
select: 'os',

order: [[ 5, 'desc' ]],

columns: [
    { data: 'mark', width: '10px', responsivePriority: 1,
      width: '10px',
      orderable: false,
      className: 'mark-checkbox',
      render: function(data, type, row, meta) {
          if (type == 'display')
              return '<div data-id="' + row.id + '"></div>';
          else
              return data;
      }
    },
    { data: 'full_name', title: 'Name', responsivePriority: 1,
      render: function(data, type, row, meta) {
          if (type == 'display')
              return '<a href="/member/' + row.id + '?returnx=pp">' + data + '</a>';
          else
              return data;
      }
    },
    { data: 'id', visible: false, },
    { data: 'rank', title: 'Rank', responsivePriority: 2,
      render: function(data, type, row, meta) {
          if (type == 'sort')
              return row.rank_order;
          else
              return data;
      }
    },
    { data: 'rank_order', visible: false, },
    { data: 'roles', title: 'Roles', responsivePriority: 1,
      render: function(data, type, row, meta) {
           if (type == 'sort') {
               return 99 - row.role_order; //FX?
           } else
              return data;
      }
    },
    { data: 'role_order', visible: false, },
    { data: 'display_phone', title: 'Phone', responsivePriority: 3, },
    { data: 'display_email', title: 'Email', responsivePriority: 4, },
],

language: { emptyTable: 'No participants selected' },

{% endblock table_options %}

{% block table_buttons_first %}

{ text: '<i class="fa fa-address-book"></i> Add', action: AddParticipant, },
{ text: 'Select All', action: SelectAll, },
{ text: 'Clear All', action: ClearAll, },

{% endblock table_buttons_first %}

{% block initComplete %}
SetMemberFilter (table, true);
{% endblock initComplete %}

{% block functions %}

const url = new URL(window.location.href);
const event_name = url.searchParams.get('et');
const event_id = url.searchParams.get('eid');
const period_num = url.searchParams.get('pn');
const period_id = url.searchParams.get('pid');

const apiUrlMemberRank = '/api/members/?member_rank=';

function AddParticipant ( e, dt, node, config ) {
        var members = [];
        $.each( $('td.mark-checkbox.marked'),  function (i, el) {
            members.push($(this.firstChild).data().id)
        });

        if (members.length == 0) {
            alert('Select members before adding them');
            return;
        }

        console.log(members);

        var data = [];
        for (var i = 0; i < members.length; i++) {
            data.push({ 'period': period_id, 'member': members[i] });
        }
        data = JSON.stringify(data);
        //FIXME: error handling
        $.ajax({
            method: 'POST',
            contentType: 'application/json',
            url: '/api/participants/',
            data: data,
            success: function (response) {
                console.log('Period add ' + response.length + ' members');
                location.href='/event/' + event_id + '#OP' + period_num;
            },
            error: function (xhr) {
                console.log('Period add failed');
                console.log(xhr);
                alert(xhr.responseText);
                return false;
            }
        })
}

function SelectAll ( e, dt, node, config ) {
    $('td.mark-checkbox').addClass('marked');
}

function ClearAll ( e, dt, node, config ) {
    $('td.mark-checkbox').removeClass('marked');
    table.rows().deselect();
}

function AddRows(table, values) {
    //
    // Add rows based on rank =values[0]
    //
    var url = apiUrlMemberRank+values[0];
    //FIXME: add error handling
    $.getJSON(url, null, function( json ) {
        
        for (var i=0; i<json.length; i++)
        {
            var data = json[i];
            data.mark = '';
            table.row.add(data);
        }

        // redraw table after async call
        table.draw();
    });
}

function RemoveRows(table, values) {
    // Remove rows based on rank
    table.rows(
        function ( idx, data, node ) {
            var rank = data.rank
            // Handle both cases: 'FM' and <td ...>FM</td>
            if (rank[0] == '<')
                rank = data.rank.match('.*>(.*)<')[1]
            return rank == values[0];
        } )
        .remove();

    table.draw();
}

function UpdateSubheaderBasedOnSettings(table) {
    // Extract currently selected ranks based on filter
    var showRanks = [];
    $('#filter-rank option').each(function() {
        if (!this.selected) {
            showRanks.push(this.value);
        }
    });

    //FIXME: Add link to event
    $('#subhdr')[0].innerHTML = (event_name + ' > Add Participants (' +
                                 showRanks.join(', ') + ')');
    document.title = 'Participant Add - ' + event_name;

}

{% endblock functions %}

{% block ready_functions %}
table.on( 'select', function ( e, dt, type, indices ) {
    var allMarked = true;
    var numRows = indices.length;
    if (numRows > 1) {
        dt.rows(indices).every( function ( rowIdx, tableLoop, rowLoop ) {
            // For multi select - unmark only when every row is marked
            allMarked = allMarked && $(this.nodes()).children().first().hasClass('marked');
        })
    }
    dt.rows(indices)
        .every( function ( rowIdx, tableLoop, rowLoop ) {
            if (numRows > 1) {
                if (allMarked)
                    $(this.node()).children().first().removeClass('marked');
                else
                    $(this.node()).children().first().addClass('marked');
            } else {
                if ($(this.node()).children().first().hasClass('marked')) {
                    $(this.node()).children().first().removeClass('marked');
                    this.deselect();
                } else
                    $(this.node()).children().first().addClass('marked');
            }
        });
});

{% endblock ready_functions %}
